// @import 'vendors/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
.apexcharts-toolbar {
    display: none !important;
}

#wrapper #content-wrapper {
    background-color: #F5F6FA !important;
}

// functions
@import 'mixin';

// vendors
@import 'admin/sb-admin-2.scss';
@import 'vendors/fontawesome';

// components
@import 'form/floating-label.scss';
@import 'admin/dashboard.scss';
@import 'admin/sidebar.scss';
@import 'admin/topbar.scss';
@import "components/table";
@import "components/filterbar";
@import "components/button";
@import "components/typo";

// pages
@import 'customer/dashboard.scss';
@import 'customer/profile';
//@import 'customer/leads.scss';
//@import 'staff/task.scss';
@import 'customer/holiday.scss';
@import 'customer/home-2';


@import "pages/login";
@import "pages/payment";
@import "pages/holiday";
@import "pages/appointment";
@import "pages/invoice";
@import "pages/report";

@import "pages/task";
@import "pages/client";
@import "pages/debit-report";
@import "pages/debit-doctor";

// live chat
@import "pages/chat";


@import "custom";



//@import '~@fullcalendar/core/main.css';
//@import '~@fullcalendar/daygrid/main.css';
