<template>
    <div>
        <div v-if="status != 'PENDING'">
            <h5>Amount Paid: <span class="badge badge-primary badge-pill"><span>&#163;</span>{{amount}}</span></h5>
        </div>


        <div v-if="saved == 'no'" class="box-border-cls">
            <div v-if="status == 'PENDING'">
                <input type="radio" id="charge" name="payment" value="charge" checked>

                <label >Card Holder Name</label>
                <input id="card-holder-name" type="text" v-model="name" class="form-control mb-2">
                <label>Card Details</label>
                <div id="card-element">
                </div>
            </div>
        </div>

        <div v-else class="box-border-cls">
            <input type="radio" id="charge" name="payment" value="charge" checked>
            <label for="charge" class="mb-0">Customer Card is saved just click on "PAY" to pay the amount</label>
        </div>

        <div class="mt-3 box-border-cls">
            <input type="radio" id="mark" name="payment" value="mark">
            <label for="mark" class="mb-0">Mark as Paid</label>
        </div>

        <button class="btn btn-primary mt-3" id="add-card-button2" v-on:click="submitPayment()" v-if="status == 'PENDING'">
            Pay
        </button>
    </div>
</template>
<script>
    export default {
        props: ['amount', 'type', 'id', 'public_key', 'saved', 'status'],
        data() {
            return {
                stripeAPIToken: this.public_key,
                stripe: '',
                elements: '',
                card: '',
                intentToken: '',
                name: '',
                addPaymentStatus: 0,
                addPaymentStatusError: '',
                paymentMethods: [],
                paymentMethodsLoadStatus: 0,
                paymentMethodSelected: {},
                selectedPlan: '',
            }
        },
        mounted() {
            console.log(this.status);
            console.log(this.saved);
            if(this.status == 'PENDING' && this.saved == 'no'){
                this.includeStripe('js.stripe.com/v3/', function () {
                    this.configureStripe();
                }.bind(this));

                this.loadIntent();
            }
        },
        methods: {
            /*
                Includes Stripe.js dynamically
            */
            includeStripe(URL, callback) {
                var documentTag = document, tag = 'script',
                    object = documentTag.createElement(tag),
                    scriptTag = documentTag.getElementsByTagName(tag)[0];
                object.src = '//' + URL;
                if (callback) {
                    object.addEventListener('load', function (e) {
                        callback(null, e);
                    }, false);
                }
                scriptTag.parentNode.insertBefore(object, scriptTag);
            },

            /*
                Configures Stripe by setting up the elements and
                creating the card element.
            */
            configureStripe() {
                this.stripe = Stripe(this.stripeAPIToken);

                this.elements = this.stripe.elements();
                this.card = this.elements.create('card');

                this.card.mount('#card-element');
            },

            /*
                Loads the payment intent key for the user to pay.
            */
            loadIntent() {
                axios.get('/api/staff/invoice/setup-intent')
                    .then(function (response) {
                        this.intentToken = response.data;
                    }.bind(this));
            },
            submitPayment: function () {
                var context = this;
                var inputVal = $("input[name=payment]:checked").val();

                if (inputVal == "") {
                    alert("Please Select some value");
                    return false;
                }

                if (inputVal == "mark") {
                    axios.post('/api/staff/invoice/charge', {token: '', amount: context.amount, type: context.type, id: context.id, mark: 'yes'})
                        .then(response => {
                            if (response.data.status == 'success') {
                                $('#pay_model').modal('hide');
                                Swal.fire({
                                    title: 'Done!',
                                    text: 'Payment Successful',
                                    icon: 'success',
                                    onAfterClose: () => {
                                        window.location.reload();
                                    }
                                });
                            } else {
                                Swal.fire({
                                    title: 'Error!',
                                    text: response.data.msg,
                                    icon: 'error'
                                });
                            }
                        }).catch(error => {
                            $('#pay_model').modal('hide');
                            Swal.fire({
                                title: 'Error!',
                                text: 'Something went wrong',
                                icon: 'error'
                            });
                            console.log(error);
                        });
                } else if (this.saved == 'no') {
                    this.stripe.createToken(this.card).then(function (result) {
                        axios.post('/api/staff/invoice/charge', {token: result.token, amount: context.amount, type: context.type, id: context.id, mark: 'no'})
                            .then(response => {
                                if (response.data.status == 'success') {
                                    $('#pay_model').modal('hide');
                                    Swal.fire({
                                        title: 'Done!',
                                        text: 'Payment Successful',
                                        icon: 'success',
                                        onAfterClose: () => {
                                            window.location.reload();
                                        }
                                    });
                                    context.resetCardData();
                                } else {
                                    Swal.fire({
                                        title: 'Error!',
                                        text: response.data.msg,
                                        icon: 'error'
                                    });
                                }
                            }).catch(error => {
                                $('#pay_model').modal('hide');
                                Swal.fire({
                                    title: 'Error!',
                                    text: 'Something went wrong',
                                    icon: 'error'
                                });
                                console.log(error);
                            });
                    });
                } else {
                    axios.post('/api/staff/invoice/charge', {token: '', amount: context.amount, type: context.type, id: context.id, mark: 'no'})
                        .then(response => {
                            if (response.data.status == 'success') {
                                $('#pay_model').modal('hide');
                                Swal.fire({
                                    title: 'Done!',
                                    text: 'Payment Successful',
                                    icon: 'success',
                                    onAfterClose: () => {
                                        window.location.reload();
                                    }
                                });
                            } else {
                                Swal.fire({
                                    title: 'Error!',
                                    text: response.data.msg,
                                    icon: 'error'
                                });
                            }
                        }).catch(error => {
                            $('#pay_model').modal('hide');
                            Swal.fire({
                                title: 'Error!',
                                text: 'Something went wrong',
                                icon: 'error'
                            });
                            console.log(error);
                        });
                }
            },
            resetCardData: function () {
                this.card.clear();
                this.name = '';
            },
        }
    }
</script>
