<template>
    <div class="dashboard">
        <h4 class="title_30 mb-4">Hello, <span>{{ auth_name }}</span></h4>
        <div class="row mb-4">
            <div class=" col-lg-4 col-md-12 col-sm-12  mb-sm-4">
                <div class="card shadow-css fix-height">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 text-center my-auto">
                            <img src="/images/v2/card_1.png" alt="" class="image-card">
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <h4 class="title-blue">{{ total_lead }}</h4>
                            <p class="card-text">Leads so far</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 col-sm-12 mb-sm-4">
                <div class="card shadow-css fix-height">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 text-center my-auto">
                            <img src="/images/v2/card_2.png" alt="" class="image-card">
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <h4 class="green">{{ total_appointment }}</h4>
                            <p class="card-text">Appointment Booked</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-sm-4">
                <div class="card shadow-css fix-height">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 text-center my-auto">
                            <img src="/images/v2/card_3.png" alt="" class="image-card">
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <h4 class="red">{{ total_invoice_amount | numberFormat }}</h4>
                            <p class="card-text">Amount Outstanding</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="title_30 mb-4 font_blue font-weight_600">Leads Report</h4>
        <div class="row mb-4 bar_chart">
            <div class="col-md-12">
                <div class="card shadow-css ">
                    <div class="row">
                        <div class=" col-lg-9 col-md-12 col-sm-12 my-auto">
                            <apexchart type="bar" height="160" :options="chartOptions" :series="series"></apexchart>

                            <!--                            <div id="barchart_values"></div>-->
                        </div>
                        <div class=" col-lg-3 col-md-12 col-sm-12">
                            <div class="form-group mb-2 ">
                                <label for="form">From</label>
                                <v-date-picker
                                    v-model="leads_from_date"
                                />

                            </div>
                            <div class="form-group">
                                <label for="to">To</label>
                                <v-date-picker
                                    v-model="leads_to_date"
                                />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-sm btn-block" @click.prevent="leadsPickerDateChange">Set Date Filter</button>
                            </div>

                        </div>
                        <div class="col-md-12 mt-2">
                        <a class="btn btn-light btn-block" href="/leads">View Leads</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5" id="appointemts">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="d-flex block_in_xm">
                    <h3 class="mr-auto p-2 title_30 black_title mt-3 mb-3 w-100">Appointments
                        <small class="font_18 float-right pt-2"><a class="text-decoration-none btn btn-light" href="/appointments">See
                            All <i class="fa fa-eye"></i></a>
                        </small>
                    </h3>
                </div>
                <div class="card shadow-css mb-2" v-if="appointments.length" v-for="appointment in appointments">
                    <div class="row pl-3 pr-3">
                        <div class="col-md-5 col-sm-4 d-flex">
                            <div class="image mr-3 my-auto">
                                <img v-if="appointment.user.image_url" :src="appointment.user.image_url" alt=""
                                     class="profile-image">
                                <img v-else src="/images/v2/no-photo.png" alt="" class="profile-image">
                            </div>
                            <div class="text my-auto">
                                <p class="text">{{ appointment.title }}</p>
                                <p class="sub-text">{{ appointment.date | dateFormat }}</p>

                            </div>
                        </div>
                        <div class=" col-md-3 col-sm-3 align-self-end">
                            <p class="font_14 ">{{ appointment.from | timeFormat }}
                                - {{ appointment.to | timeFormat }}</p>
                        </div>
                        <div class=" col-md-2 col-sm-2 align-self-end">
                            <p class="font_14 ">{{ appointment.description }}</p>
                        </div>
                        <div @click="getAppointmentDetails(appointment.id)" class="col-md-2 col-sm-3 my-auto px-md-0">
                            <button type="button" data-target="#viewAppointmentModal"
                                    data-toggle="modal" class="view_appointment btn btn-outline-primary btn-sm">
                                <i class="fa fa-eye mr-2"></i>View Details
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card shadow-css mb-2" v-if="!appointments.length">
                    <div class="row px-3 mt-2">
                        <h5 class="text-center col-md-12">No Appointments Found!</h5>
                    </div>
                </div>
            </div>
        </div>

        <!--View Modal -->
        <div v-if="appointment_modal" id="viewAppointmentModal" class="modal fade bd-example-modal-lg appointment_modal" tabindex="-1"
             role="dialog"
             aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white font-weight-bold">
                        <h5 class="modal-title" id="exampleModalLongTitle">View Appointment</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Title</label>
                            <div class="col-sm-8" id="title_show">{{ appointmentDetails.title }}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Date</label>
                            <div class="col-sm-8" id="date_show">{{ appointmentDetails.date | dateFormat }}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Time</label>
                            <div class="col-sm-8" id="time_show">{{ appointmentDetails.from | timeFormat }} to {{
                                    appointmentDetails.to | timeFormat
                                }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Member of Staff</label>
                            <div class="col-sm-8" id="member_show" v-if="appointmentDetails.member">{{ appointmentDetails.member.name }}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Description</label>
                            <div class="col-sm-8" id="description_show">{{ appointmentDetails.description }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal End -->
    </div>
</template>
<script>
import VueApexCharts from 'vue-apexcharts'

export default {
    name: 'CustomerDashboard',
    data() {
        return {
            appointment_modal: false,
            total_lead: 0,
            total_appointment: 0,
            total_invoice_amount: 0,
            auth_name: '',
            appointments: [],
            appointmentDetails: {},
            leads_from_date: '',
            leads_to_date: '',
            series: [],
            chartOptions: {
                chart: {
                    type: 'bar',
                    height: 160,
                    stacked: true,
                },
                plotOptions: {
                    bar: {
                        horizontal: true,
                    },
                },
                stroke: {
                    width: 1,
                    colors: ['#fff']
                },
                title: {
                    // text: 'Fiction Books Sales'
                },
                xaxis: {
                    categories: [],
                    labels: {
                        formatter: function (val) {
                            return val
                            // return val + "K"
                        }
                    }
                },
                yaxis: {
                    title: {
                        text: undefined
                    },
                },
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return val
                            // return val + "K"
                        }
                    }
                },
                fill: {
                    opacity: 1
                },
                legend: {
                    position: 'bottom',
                    horizontalAlign: 'left',
                    offsetX: 40,
                }
            },
        }
    },
    components: {
        apexchart: VueApexCharts,
    },
    mounted() {
        this.getDashboardData()
    },
    methods: {
        dateFormat(date) {
            return moment(date).format('YYYY-MM-DD');
        },
        leadsPickerDateChange() {
            if (this.leads_from_date != ' ' && this.leads_to_date != '') {
                axios.get('/customer-dashboard-leads-chart', {
                    params: {
                        leads_from_date: this.dateFormat(this.leads_from_date),
                        leads_to_date: this.dateFormat(this.leads_to_date),
                    }
                }).then((response) => {
                    this.series = response.data;
                });
            } else {
                toastr["error"]('From and To filed are required')
            }

        },
        getDashboardData() {
            axios.get('/customer-dashboard-data').then((response) => {
                // console.log(response.data.leads_data)
                this.auth_name = response.data.auth.name;
                this.chartOptions.xaxis.categories.push(this.auth_name)
                this.series = response.data.leads_data;
                this.total_lead = response.data.total_lead;
                this.appointments = response.data.appointments;
                this.total_appointment = response.data.total_appointment;
                this.total_invoice_amount = response.data.total_invoice_amount;
            });

        },
        getAppointmentDetails(id) {
            this.appointment_modal = true
            $('.appointment_modal').modal('show')
            axios.get(`/appointments/${id}`).then((response) => {
                this.appointmentDetails = response.data
            });
        }
    },

    computed: {}

}
</script>
<style scoped>
.apexcharts-toolbar {
    display: none !important;
}

.apexcharts-xaxis-texts-g {
    display: none;
}
</style>
