<template>

    <div class="home-2" id="report">
        <div class="form-row justify-content-between page-header border-0">
            <div class="col-md-3">
                <h1 class="main-title">Hello, <span> {{ auth_name }} </span></h1>
            </div>
        </div>
        <div class="mt-4 mb-4 report-total-summary">
            <div class="form-row ">
                <div class="col mb-2">
                    <div class="card rounded border-0">
                        <h1 class="text-primary font-weight-bold">On Boarding</h1>
                        <h1 class="text-secondary mb-0 font-weight-bold">{{ totals.On_Boarding }}</h1>
                        <p class="card-subtitle text-muted">Clients</p>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="card rounded border-0">
                        <h1 class="text-primary font-weight-bold">LP Build / Change</h1>
                        <h1 class="text-secondary mb-0 font-weight-bold">{{ totals.LP_Build }}</h1>
                        <p class="card-subtitle text-muted">Clients</p>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="card rounded border-0">
                        <h1 class="text-primary font-weight-bold">LP IR</h1>
                        <h1 class="text-secondary mb-0 font-weight-bold">{{ totals.LP_IR }}</h1>
                        <p class="card-subtitle text-muted">Clients</p>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="card rounded border-0">
                        <h1 class="text-primary font-weight-bold">LP ER</h1>
                        <h1 class="text-secondary mb-0 font-weight-bold">{{ totals.LP_ER }}</h1>
                        <p class="card-subtitle text-muted">Clients</p>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="card rounded border-0">
                        <h1 class="text-primary font-weight-bold">Campaign Build</h1>
                        <h1 class="text-secondary mb-0 font-weight-bold">{{ totals.Campaign_Build }}</h1>
                        <p class="card-subtitle text-muted">Clients</p>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col mb-2">
                    <div class="card rounded border-0">
                        <h1 class="text-primary font-weight-bold">Internal Approval</h1>
                        <h1 class="text-secondary mb-0 font-weight-bold">{{ totals.Internal_Approval }}</h1>
                        <p class="card-subtitle text-muted">Clients</p>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="card rounded border-0">
                        <h1 class="text-primary font-weight-bold">Live</h1>
                        <h1 class="text-secondary mb-0 font-weight-bold">{{ totals.Live }}</h1>
                        <p class="card-subtitle text-muted">Clients</p>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="card rounded border-0">
                        <h1 class="text-primary font-weight-bold">Paused</h1>
                        <h1 class="text-secondary mb-0 font-weight-bold">{{ totals.Paused }}</h1>
                        <p class="card-subtitle text-muted">Clients</p>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="card rounded border-0">
                        <h1 class="text-primary font-weight-bold">Lost</h1>
                        <h1 class="text-secondary mb-0 font-weight-bold">{{ totals.Lost }}</h1>
                        <p class="card-subtitle text-muted">Clients</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row mt-4 mb-4 chart-section">
            <div class="col-12 col-sm-12 col-md-12">
                <h1 class="main-title-1 mb-3">Campaign Report</h1>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-white border-0">
                        <div class="row justify-content-between">
                            <div class="col">
                                <h5 class="title-small">LIVE CAMPAIGNS</h5>
                            </div>
                        </div>
                    </div>

                    <div class="card-body" style="min-height: 250px">
                        <div class="row">

                            <div class="col-md-10">
                                <apexchart ref="demoChart" type="bar" :options="chartOptions"
                                           :series="series"></apexchart>
                            </div>
                            <div class="col-md-2">
                                <div id="absolute-filter" class="absolute-filter">
                                    <div class="form-group mb-0">
                                        <label for="" class="text-sm">From</label>
                                        <v-date-picker
                                            v-model="campaign_from_date"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="text-sm">To</label>
                                        <v-date-picker
                                            v-model="campaign_to_date"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-sm btn-block"
                                                @click.prevent="leadsPickerDateChange"> Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                        <div id="barchart_values"></div>-->
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="form-row mb-4 mt-4 task-app-section">
            <div class="col-sm-12 col-md-12 col-lg-6 task-section">
                <div class="bg-white rounded">
                    <div class="form-row p-4 justify-content-between page-header mb-0 border-0">
                        <div class="col-6 col-sm-6 col-md-3">
                            <h1 class="main-title">Tasks</h1>
                        </div>
                        <div class="col-6 col-sm-6 col-md-9 text-right">
                            <a class="btn btn-light btn-sm" href="/staff/tasks">See All <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="table-responsive p-4">
                        <table class="table table-borderless table-rounded" width="100%">
                            <tbody class="">
                            <tr v-for="task in tasks">
                                <td width="50%" scope="row" class="task-app-title">{{ task.name }}
                                    <br> <small v-html="">{{ task.description }}</small>
                                </td>
                                <td width="30%" class="time-ago-warning">{{ task.due_date | dateFormat }}</td>
                                <td width="20%" class="text-right">
                                    <button type="button" @click="getTaskDetails(task.id)"
                                            data-target="#viewTaskModal"
                                            data-toggle="modal"
                                            class="btn btn-outline-primary btn-small-text fixed-width-25">
                                        View
                                    </button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 appointment-section">
                <div class="bg-white rounded">
                    <div class="form-row p-4 justify-content-between page-header mb-0 border-0">
                        <div class="col-6 col-sm-6 col-md-3">
                            <h1 class="main-title">Appointments</h1>
                        </div>
                        <div class="col-6 col-sm-6 col-md-9 text-right">
                            <a class="btn btn-light btn-sm" href="/staff/appointment-calender">See All <i
                                class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="table-responsive p-4">
                        <table class="table table-borderless table-rounded" width="100%">
                            <tbody class="">
                            <tr v-for="appointment in appointments">
                                <td width="45%" scope="row" class="date">{{ appointment.date | dateFormat }}</td>
                                <td width="25%" class="task-app-title">{{ appointment.title }}
&lt;!&ndash;                                    <br> <small v-html="appointment.description"></small>&ndash;&gt;
                                </td>
                                <td width="30%" class="time">{{ appointment.from | timeFormat }}
                                    - {{ appointment.to | timeFormat }}
                                </td>
                                <td width="10%" class="text-right">
                                    <button type="button" @click="getAppointmentDetails(appointment.id)"
                                            class="btn btn-outline-primary btn-small-text fixed-width-25"
                                            data-target="#viewAppointmentModal"
                                            data-toggle="modal">
                                        View
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>-->
        <!--View task Modal -->
        <div v-if="task_modal" class="modal fade bd-example-modal-lg task_modal" id="viewTaskModal" tabindex="-1"
             role="dialog"
             aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white font-weight-bold">
                        <h5 class="modal-title">View Task</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-row">
                            <div class="col-12 col-lg-12">
                                <div class="bg-light rounded px-2" style="background-color: #f5f6fa !important;">
                                    <div class="card-body">
                                        <div class="sidetask-head mb-3">
                                            <div class="form-group row">
                                                <div class="col-12 pt-2">
                                                    <h4 class="text-dark mb-0" id="name"><b>{{ task.name }}</b></h4>
                                                    <p id="description"><b>{{ task.description }}</b></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="text-dark pb-1"><b>Marked As:</b><br></div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input"
                                                               type="radio"
                                                               name="status"
                                                               v-model="task.status"
                                                               id="inlineRadio1"
                                                               value="pending"
                                                               @click="changeTaskStatus(task.id, 'pending')"
                                                        >
                                                        <label class="form-check-label" for="inlineRadio1">Open</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input"
                                                               type="radio"
                                                               name="status"
                                                               v-model="task.status"
                                                               id="inlineRadio2"
                                                               value="in-progress"
                                                               @click="changeTaskStatus(task.id, 'in-progress')"
                                                        >
                                                        <label class="form-check-label" for="inlineRadio2">In
                                                            Review</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input"
                                                               type="radio"
                                                               name="status"
                                                               v-model="task.status"
                                                               id="inlineRadio3"
                                                               value="completed"
                                                               @click="changeTaskStatus(task.id, 'completed')"
                                                        >
                                                        <label class="form-check-label"
                                                               for="inlineRadio3">Closed</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sidetask-assign mb-3">
                                            <div class="row assign-head">
                                                <div class="col-12 mb-2 text-dark">
                                                    <b>Assigned To:</b>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-12 assign-list pr-2" id="assign-list">
                                                            <a href="#" class="text-decoration-none px-2"
                                                               v-for="user_task in task.user_tasks">
                                                                <img class="rounded-circle mr-1"
                                                                     :src="user_task.user.image_url" alt="img"
                                                                     style="height: 20px">
                                                                <strong>{{ user_task.user.name }}</strong>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sidetask-assign mb-3">
                                            <div class="row assign-head">
                                                <div class="col-6 pb-2 text-dark">
                                                    <b>Due Date</b>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                        <span class="timel-o">
                                                            <i class="fas fa-calendar-alt text-success"></i>
                                                            <span id="due_date_modal">
                                                                {{
                                                                    task.due_date | dateFormatTask
                                                                }} {{ task.due_date | timeFormat }}
                                                            </span>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="task-checklist" id="task-checklist">
                                            <div class="heading-sub-o text-dark pb-2"><b>Checklists:</b></div>
                                            <div id="task-checklist-container">
                                                <div class="custom-control custom-checkbox"
                                                     v-for="sub_task in task.sub_tasks">
                                                    <input
                                                        type="checkbox"
                                                        :id="`subTaskStatus_${sub_task.id}`"
                                                        :checked="sub_task.status == 'pending' ? false:true"
                                                        class="custom-control-input"
                                                        @click="sub_task.status = changeSubTaskStatus(sub_task.id, sub_task.status)"
                                                    >
                                                    <label :for="`subTaskStatus_${sub_task.id}`"
                                                           class="custom-control-label pb-0">{{ sub_task.name }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label
                                                class="col-12 col-form-label text-dark"><b>Attachments:</b></label>
                                            <div class="col-12">
                                                <a v-if="task.attachments && task.attachments.length > 0 ? true:false"
                                                   :href="task.attachments" id="attachments" download=""
                                                   title="Download">
                                                    <i class="text-primary fa fa-download"></i>
                                                </a>
                                                <div v-else class="hidden-message" style="display: none">
                                                    <div class="text-danger" id="message">No Attachment Available</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col md-4">
                                                <h6 class="text-dark"><b>Status:</b></h6>
                                                <p id="status" class="text-capitalize">{{ task.status }}</p>
                                            </div>
                                            <div class="col md-4">
                                                <h6 class="text-dark"><b>Priority:</b></h6>
                                                <p id="priority" class="text-capitalize">{{ task.priority }}</p>
                                            </div>
                                            <div class="col md-4">
                                                <h6 class="text-dark"><b>Link Type:</b></h6>
                                                <p id="link_type" class="text-capitalize">
                                                    {{ task.link_type | replaceUnderscoreWithSpace }}</p>
                                            </div>
                                        </div>
                                        <hr style="border-bottom: 1px solid #ddd">
                                        <div class="w-100">
                                            <textarea id="" maxlength="60" v-model="taskComment"
                                                      class="form-control"></textarea>
                                            <div class="pt-3 pb-5">
                                                <button type="button" @click="saveComment(task.id)"
                                                        class="btn float-right btn-primary">
                                                    <i class="fab fa-telegram-plane"></i>
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 mb-2" v-for="comment in comments">
                                                <p class="py-2 rounded bg-white px-2">
                                                    <span class="h6 d-flex text-dark">
                                                        <img :src="comment.user ? comment.user.image_url:''"
                                                             style="height: 32px;" alt="img" class="mr-2">
                                                        <span>
                                                            <span class="d-block">{{
                                                                    comment.user ? comment.user.name : ''
                                                                }}</span>
                                                            <small class="d-block text-muted">{{
                                                                    comment.created_at | diffForHumans
                                                                }}</small>
                                                        </span>
                                                    </span>
                                                    <span class="d-block mt-3">
                                                        {{ comment.description }}
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal task End -->
        <!--View appointment Modal -->
        <div v-if="appointment_modal" class="modal fade bd-example-modal-lg appointment_modal" id="viewAppointmentModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white font-weight-bold">
                        <h5 class="modal-title" id="exampleModalLongTitle">View Appointment</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Title</label>
                            <div class="col-sm-8" id="title_show">{{ appointmentDetails.title }}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Date</label>
                            <div class="col-sm-8" id="date_show">{{ appointmentDetails.date | dateFormat }}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Time</label>
                            <div class="col-sm-8" id="time_show">{{ appointmentDetails.from | timeFormat }} to {{
                                    appointmentDetails.to | timeFormat
                                }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Member of Staff</label>
                            <div class="col-sm-8" id="member_show" v-if="appointmentDetails.member">
                                {{ appointmentDetails.member.name }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Description</label>
                            <div class="col-sm-8" id="description_show">{{ appointmentDetails.description }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal appointment End -->
    </div>
</template>
<script>
import VueApexCharts from 'vue-apexcharts'

export default {
    name: 'StaffDashboard',
    data() {
        return {
            campaign_from_date: '',
            campaign_to_date: '',
            task_modal: false,
            appointment_modal: false,
            auth_name: '',
            tasks: [],
            comments: [],
            appointments: [],
            task: {},
            taskComment: '',
            appointmentDetails: {},
            leads_from_date: '',
            leads_to_date: '',
            series: [],

            totals: {
                Campaign_Build: 0,
                Internal_Approval: 0,
                LP_Build: 0,
                LP_ER: 0,
                LP_IR: 0,
                Live: 0,
                Lost: 0,
                On_Boarding: 0,
                Paused: 0,
            },

            chartOptions: {
                chart: {
                    type: 'bar',
                    height: 400,
                    stacked: true,
                },
                plotOptions: {
                    bar: {
                        horizontal: true,
                    },
                },
                stroke: {
                    width: 1,
                    colors: ['#fff']
                },
                title: {
                    // text: 'Fiction Books Sales'
                },
                colors:['#3f48cc', '#f77f28', '#35b14c', '#35b14c', '#35b14c', '#35b14c','#ed1c25','#ed1c25'],
                xaxis: {
                    categories: [],
                    labels: {
                        formatter: function (val) {
                            return val
                            // return val + "K"
                        }
                    }
                },
                yaxis: {
                    title: {
                        text: undefined
                    },
                },
                tooltip: {
                    y: {
                        formatter: function (val) {
                            // return val + "K"
                            return val
                        }
                    }
                },
                fill: {
                    opacity: 1
                },
                legend: {
                    position: 'bottom',
                    horizontalAlign: 'center',
                    offsetX: 40
                }
            },

        }
    },
    components: {
        apexchart: VueApexCharts,
    },
    mounted() {
        this.getDashboardData()
    },
    methods: {
        getHeight(singleHeight) {
            console.log(this.categoryNumber);
            // return singleHeight;
            return this.categoryNumber * singleHeight;
        },
        dateFormat(date) {
            return moment(date).format('YYYY-MM-DD');
        },
        getDashboardData() {
            axios.get('/staff/dashboard-data').then((response) => {
                this.totals = {
                    Campaign_Build: response.data.Campaign_Build,
                    Internal_Approval: response.data.Internal_Approval,
                    LP_Build: response.data.LP_Build,
                    LP_ER: response.data.LP_ER,
                    LP_IR: response.data.LP_IR,
                    Live: response.data.Live,
                    Lost: response.data.Lost,
                    On_Boarding: response.data.On_Boarding,
                    Paused: response.data.Paused,
                };
                this.auth_name = response.data.auth.name;
                this.tasks = response.data.tasks;
                this.appointments = response.data.appointments;
                let cat_data = response.data.campaigns_data.categories;

                let chartHeight = parseInt(cat_data.length);

                if (chartHeight === 0) {
                    chartHeight = 2;
                } else if (chartHeight === 1) {
                    chartHeight = 5;
                } else if (chartHeight === 2) {
                    chartHeight = 4;
                } else {
                    chartHeight = chartHeight;
                }

                // if (chartHeight === 0) chartHeight = 2;
                this.chartOptions = {
                    chart: {
                        height: chartHeight * 40
                    },
                    xaxis: {
                        categories: cat_data
                    }
                }
                console.log(this.chartOptions)
                let series_data = response.data.campaigns_data.series
                this.series = series_data;
            });
        },
        leadsPickerDateChange() {
            if (this.campaign_from_date != ' ' && this.campaign_to_date != '') {
                this.series = [];
                axios.get('/staff/dashboard-campaign', {
                    params: {
                        campaign_from_date: this.dateFormat(this.campaign_from_date),
                        campaign_to_date: this.dateFormat(this.campaign_to_date),
                    }
                }).then((response) => {
                    let cats_data = response.data.categories;
                    this.chartOptions = {
                        xaxis: {
                            categories: cats_data
                        }
                    }
                    let series_data = response.data.series
                    this.series = series_data;
                    this.categoryNumber = parseInt(cats_data.length);

                });
            } else {
                toastr["error"]('From and To filed are required')
            }

        },
        getTaskDetails(id) {
            this.task_modal = true
            $('.task_modal').modal('show')
            this.task = {};
            axios.get(`/staff/tasks/${id}`)
                .then((response) => {
                    this.task = response.data;
                    this.comments = response.data.comment;
                });
        },
        saveComment(task_id) {
            let data = {
                description: this.taskComment
            };
            axios.post(`/staff/tasks/saveComment/${task_id}`, data)
                .then((response) => {
                    this.comments = response.data;
                    this.taskComment = '';
                    toastr['success']("Task Updated!");
                }).catch((error) => {
                toastr["error"](error.message)
                console.log(error)
            })
        },
        getAppointmentDetails(id) {
            this.appointment_modal = true
            $('.appointment_modal').modal('show')
            axios.get(`/appointments/${id}`).then((response) => {
                this.appointmentDetails = response.data
            });
        },
        changeTaskStatus(id, status) {
            axios.get(`/staff/tasks/changeTaskStatus/${id}/${status}`)
                .then((response) => {
                    toastr['success']("Task Updated!");
                }).catch((error) => {
                toastr["error"](error.message);
                console.log(error);
            })
        },
        changeSubTaskStatus(id, status) {
            let setStatus = status == 'completed' ? 'pending' : 'completed'
            axios.get(`/staff/tasks/changeSubTaskStatus/${id}/${setStatus}`)
                .then((response) => {
                    toastr['success']("Task Updated!");
                }).catch((error) => {
                toastr["error"](error.message);
                console.log(error);
            })
            return setStatus;
        },
    },

    computed: {}

}
</script>
