<template>
    <div id="dashboard" class="invoice">
        <div class="row justify-content-between page-header">
            <div class="col-md-6">
                <h1 class="main-title">Add Campaigns</h1>
            </div>
        </div>
        <div class="row rounded bg-white pt-4">
            <div class="col-xl-12" style="display: inline-block;">
                <form @submit.prevent="saveCampaign()">
                    <input type="hidden"  id="edit_id" name="edit_id">
                    <div class="row">
                        <div class="col-md-6" style="border-right: 1px solid #DBE0EC">
                            <input type="hidden" name="userId" id="userId">
                            <div class="bg-primary px-3 py-3 rounded text-white mb-3">
                                <h5 class="mb-0">Business Details</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Name<span style="color: red"> *</span></label>
                                        <input type="text" v-model="addCampaign.user_name" id="user_name"
                                               class="form form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="company">Company Name<span style="color: red"> *</span></label>
                                        <input type="text" v-model="addCampaign.company_name" id="company"
                                               class="form form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 display-none">
                                    <div class="form-group">
                                        <label for="job-position">Job Position<span style="color: red"> *</span></label>
                                        <input type="text" v-model="addCampaign.job_position"
                                               id="job-position" class="form form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="mobile">Mobile Phone<span style="color: red"> *</span></label>
                                        <input type="text"  v-model="addCampaign.mobile" id="mobile"
                                               class="form form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Email Address<span style="color: red"> *</span></label>
                                        <input type="email" v-model="addCampaign.email" id="email"
                                               class="form form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="status">Client type<span style="color: red"> *</span></label>
                                        <select v-model="addCampaign.status" id="status" class="form form-control">
                                            <option value="new">New
                                                Client
                                            </option>
                                            <option
                                                value="recurring">
                                                Recurring Client
                                            </option>
                                            <option value="gold">Gold
                                                Client
                                            </option>
                                            <option value="lost">Lost
                                                Client
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 password-blk">
                                    <div class="form-group">
                                        <label for="password">Password<span style="color: red"> *</span></label>
                                        <input type="password" v-model="addCampaign.password" id="password"
                                               class="form form-control">
                                    </div>
                                </div>
                                <div class="col-md-6 c-password-blk">
                                    <div class="form-group">
                                        <label for="password_confirmation">Confirm Password<span
                                            style="color: red"> *</span></label>
                                        <input type="password" v-model="addCampaign.password_confirmation"
                                                id="password_confirmation"
                                               class="form form-control">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="Platform">Add Platform</label>
                                        <select v-model="addCampaign.platform" id="Platform" class="form form-control">
                                            <option value="1">Facebook Ads</option>
                                            <option value="2">Facebook Ads 2</option>
                                            <option value="3">Facebook Ads 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-none">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="work_email">Work Email Address</label>
                                        <input type="text" name="work_email" id=work_email
                                               class="form form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="work_phone">Work Phone</label>
                                        <input type="text" name="work_phone" id="work_phone"
                                               class="form form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <textarea v-model="addCampaign.address" id="address" class="form-control" cols="50"
                                                  rows="4"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="website">Website</label>
                                        <input type="text" v-model="addCampaign.website" id="website"
                                               class="form form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="display: none;">
                            <!--<div class="row">-->
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <label class="sr-only" for="facebook_link">Social Profile</label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="mdi mdi-facebook"></i></div>
                                        </div>
                                        <input type="text" class="form form-control"
                                               id="facebook_link" name="facebook_link"
                                               placeholder="Facebook Profile Link">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <label class="sr-only" for="twitter_link">Social Profile</label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="mdi mdi-twitter"></i></div>
                                        </div>
                                        <input type="text" class="form form-control"
                                               id="twitter_link" name="twitter_link"
                                               placeholder="Twitter Profile Link">
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <label class="sr-only" for="Instagram_link">Social Profile</label>
                                    <div class="input-group mb-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="mdi mdi-instagram"></i></div>
                                        </div>
                                        <input type="text" class="form form-control"
                                                id="Instagram_link" name="Instagram_link"
                                               placeholder="Instagram Profile Link">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="notes">Notes</label>
                                        <textarea v-model="addCampaign.notes" id="notes" class="form-control" cols="50"
                                                  rows="4"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="bg-primary px-3 py-3 rounded text-white mb-3">
                                <h5 class="mb-0">Campaign Details</h5>
                            </div>
                            <div class="form-group">
                                <label for="name">Campaign Name:</label>
                                <input type="text" class="form-control" id="name" v-model="addCampaign.campaign_name">
                            </div>
                            <div class="form-group">
                                <label for="datepicker" >Date:</label>
                                <v-date-picker
                                    v-model="addCampaign.date"
                                    is-expanded
                                    title-position="left"
                                    :attributes="[]"
                                    :locale="{ firstDayOfWeek: 2 }"
                                    @dayclick=""
                                />
                            </div>
                       <!--      <div class="form-group">
                            <label for="user_id">Comapanies:</label>
                            <multiselect name="user_id" v-model="user_id"
                                         :options="companies" :show-labels="false"
                                         placeholder="Select Company" label="name" track-by="id">
                                <template slot="noResult" slot-scope="data">
                                    <strong>Sorry, couldn't find companty with this name.</strong>
                                </template>
                            </multiselect>
                        </div>-->
                            <div class="form-group">
                                <label for="amount">Select recurring option:</label>
                                <br>
                                <div class="custom-control custom-radio mr-sm-2 d-inline">
                                    <input type="radio" class="custom-control-input" id="customControlAutosizingDaily" v-model="addCampaign.recurring_option" value="daily">
                                    <label class="custom-control-label" for="customControlAutosizingDaily">Daily</label>
                                </div>
                                <div class="custom-control custom-radio mr-sm-2 d-inline">
                                    <input type="radio" class="custom-control-input" id="customControlAutosizingWeekly" v-model="addCampaign.recurring_option" value="weekly">
                                    <label class="custom-control-label" for="customControlAutosizingWeekly">Weekly</label>
                                </div>
                                <div class="custom-control custom-radio mr-sm-2 d-inline">
                                    <input type="radio" class="custom-control-input" id="customControlAutosizingMonthly" v-model="addCampaign.recurring_option" value="monthly">
                                    <label class="custom-control-label" for="customControlAutosizingMonthly">Monthly</label>
                                </div>

                            </div>
                    <!--        <div class="form-group" v-if="recurringOption == 'weekly' || recurringOption == 'monthly'">
                            <label for="recurring_way">Select @{{recurringOption == 'weekly' ? 'day' : 'date'}}:</label>
                            <multiselect name="recurring_way" v-model="recurring_way"
                                         :options="recurringOption == 'weekly' ? weekDays : get30days"
                                         :show-labels="false"
                                         :placeholder="recurringOption == 'weekly' ? 'day' : 'date'" label="label"
                                         track-by="label">
                                <template slot="noResult" slot-scope="data">
                                    <strong>Sorry, couldn't find day with this name.</strong>
                                </template>
                            </multiselect>
                        </div>-->
                    <!--         <div class="form-group" v-if="recurringOption == 'monthly'">
                            <label for="day">Select day:</label>
                            <multiselect name="day" v-model="recurring_way" :options="get30days" :show-labels="false" placeholder="Select day" label="id" track-by="id">
                                <template slot="noResult" slot-scope="data">
                                    <strong>Sorry, couldn't find day with this name.</strong>
                                </template>
                            </multiselect>
                        </div>-->
                            <div class="form-group" id="contract_block">
                                <label for="amount">Contract Value:</label>
                                <input type="number" step="any" class="form-control" id="amount" v-model="addCampaign.amount">
                            </div>

                            <div class="form-group">
                                <label for="compaign_amount">Campaign Budget:</label>
                                <input type="number" step="any" class="form-control" id="compaign_amount" v-model="addCampaign.compaign_amount">
                            </div>
                <!--            <div class="form-group">
                            <label for="type">Campaign Type</label>
                            <select class="form form-control" name="type" id="campaign_type">
                                <option value="">Select Type</option>
                                <option value="one_off">One Off</option>
                                <option value="monthly">Monthly</option>
                            </select>
                        </div>-->
                            <div class="form-group">
                                <label for="campaign_specialist">Campaign Specialist:</label>
                                <select v-model="addCampaign.campaign_specialist" id="campaign_specialist" class="form-control">
                                    <option value="">-- Select One --</option>
                                    <option  v-for="(user,index) in allUsers" :value="user.id">{{ user.name }}</option>
                                </select>
                            </div>

                            <div class="form-group display-none">
                                <label for="lp_specialist">LP Specialist:</label>
                                <select v-model="addCampaign.lp_specialist" id="lp_specialist" class="form-control">
                                    <option value="">-- Select One --</option>
                                    <option v-for="(user,index) in allUsers" :value="user.id">{{ user.name }}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="account_manager">Account Manager:</label>
                                <select v-model="addCampaign.account_manager" id="account_manager" class="form-control">
                                    <option value="">-- Select One --</option>
                                    <option v-for="(user,index) in allUsers" :value="user.id">{{ user.name }}</option>
                                </select>
                            </div>
                            <div class="form-group assigned-users">
                                <label for="assigned_id">Sales Person:</label>
                                <select v-model="addCampaign.assigned_id" id="assigned_id" class="form-control">
                                    <option value="">-- Select One --</option>
                                    <option v-for="(user,index) in allUsers" :value="user.id">{{ user.name }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox"  class="custom-control-input" id="enable_installment" v-model="addCampaign.installmentView" @change="plusButton=true">
                                    <label class="custom-control-label" for="enable_installment">Enable Installment</label>
                                    <button class="add_installment btn btn-xs btn-primary m-0 float-right" type="button" v-if="addCampaign.installmentView && plusButton" @click="addInstallment()">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div v-if="addCampaign.installmentView" class="insatllment_blk">
                                <div class="installments">
                                    <div class="appent_block">
                                        <div class="form-group clone-blk" v-for="(installment,index) in addCampaign.installments">
                                            <div class="row">
                                                <div class="col">
                                                    <label>Installment Amount <span class="count"></span>: {{ index+1 }}</label>
                                                    <input type="number" step="any" class="form-control installment_amount"
                                                           v-model="installment.amount">
                                                </div>
                                                <div class="col">
                                                    <div class="d-flex justify-content-between">
                                                    <label>Installment Date <span class="count"></span>: {{ index+1 }}</label>
                                                        <a v-if="index===2" @click="deleteButton()"><i class="fa fa-trash-alt cursor-pointer"></i></a>
                                                    </div>
                                                    <v-date-picker
                                                        v-model="installment.date"
                                                        is-expanded
                                                        title-position="left"
                                                        :attributes="[]"
                                                        :locale="{ firstDayOfWeek: 2 }"
                                                        @dayclick=""
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <a href="/staff/campaigns" type="button" class="btn btn-danger btn-sm">Back</a>
                        <button type="submit" class="btn btn-primary btn-sm" >Save changes</button>
                    </div>
                </form>

            </div>
        </div>
        <!-- end page content -->
    </div>
</template>

<script>
export default {
    name: "Create",
    props: ['users'],
    data() {
        return {
            allUsers: JSON.parse(this.users),
            plusButton     : false,
            addCampaign :{
                user_name            : '',
                company_name         : '',
                job_position         : '',
                mobile               : '',
                email                : '',
                password             : '',
                password_confirmation: '',
                status               : '',
                platform             : '',
                address              : '',
                website              : '',
                notes                : '',
                campaign_name        : '',
                date                 : '',
                recurring_option     : '',
                amount               : '',
                compaign_amount      : '',
                campaign_specialist  : '',
                lp_specialist        : '',
                account_manager      : '',
                assigned_id          : '',
                installmentView      : false,
                installments         : [{
                    amount : '',
                    date   : ''
                },{
                    amount      : '',
                    date        : ''
                }]
            }
        }
    },
    mounted() {
       console.log(this.allUsers)
        },
    methods: {
        addInstallment(){
            if(this.addCampaign.installments.length<3) {
                this.addCampaign.installments.push({
                    amount : '',
                    date   : ''
                })
                this.plusButton = false
            }
        },

        saveCampaign(){
            console.log(this.addCampaign)
            axios.post('/staff/campaigns', this.addCampaign).then((response) => {
                toastr["success"]("Campaign Create Successfully")
                this.reset();
                window.location.href = '/staff/campaigns';
            }).catch((error) => {
                toastr["error"](error.message)
                console.log(error.message)
            })
        },
        deleteButton(){
            this.addCampaign.installments.pop();
            this.plusButton = true;
        },
        reset(){
            this.addCampaign = {
                    user_name            : '',
                    company_name         : '',
                    job_position         : '',
                    mobile               : '',
                    email                : '',
                    password             : '',
                    password_confirmation: '',
                    status               : '',
                    platform             : '',
                    address              : '',
                    website              : '',
                    notes                : '',
                    campaign_name        : '',
                    date                 : '',
                    recurring_option     : '',
                    amount               : '',
                    compaign_amount      : '',
                    campaign_specialist  : '',
                    lp_specialist        : '',
                    account_manager      : '',
                    assigned_id          : '',
                    installmentView      : false,
                    installments         : [{
                    amount : '',
                    date   : ''
                },{
                    amount      : '',
                    date        : ''
                }]
            }
        }
    },
}
</script>

<style scoped>

</style>
