<template>

    <div class="client campaigns-container" id="client">
        <div class="row justify-content-between page-header">
            <div class="col-md-1">
                <h1 class="main-title mt-2">Campaigns</h1>
            </div>
            <!--<div class="col-md-11 pr-0">
                <div class="ml-auto">
                    <nav class="nav nav-pills nav-tabs justify-content-end m-b-25" id="nav-tab" role="tablist">
                        <a @click="filter.status = 'all'; getResults()" class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                           href="#"
                           role="tab"
                           aria-controls="nav-home" aria-selected="true">Pending Payment / Agreement </a>

                        <a @click="filter.status = 'awaiting'; getResults()" class="nav-item nav-link" id="nav-home-tab" data-toggle="tab"
                           href="#" role="tab"
                           aria-controls="nav-home" aria-selected="true">Awaiting Build</a>

                        <a @click="filter.status = 'billing_detail'; getResults()" class="nav-item nav-link" id="nav-home-tab" data-toggle="tab"
                           href="#" role="tab"
                           aria-controls="nav-home" aria-selected="true">Billing Details</a>

                        <a @click="filter.status = 'live'; getResults()" class="nav-item nav-link" id="nav-home-tab" data-toggle="tab"
                           href="#" role="tab"
                           aria-controls="nav-home" aria-selected="true">Live</a>

                        <a @click="filter.status = 'followed_up'; getResults()" class="nav-item nav-link" id="nav-home-tab" data-toggle="tab"
                           href="#" role="tab"
                           aria-controls="nav-home" aria-selected="true">Followed Up</a>

                        <a @click="filter.status = 'completed'; getResults()" class="nav-item nav-link" id="nav-home-tab" data-toggle="tab"
                           href="#" role="tab"
                           aria-controls="nav-home" aria-selected="true">Completed</a>
                    </nav>
                </div>
            </div>-->
        </div>
        <div class="row">
            <div class="tab-content w-100" id="nav-tabContent">
                <div class="tab-pane fade show active px-3" id="onboarding" role="tabpanel"
                     aria-labelledby="onboarding">
                    <div class="form-row filter-bar">
                        <div class="col-md-2">
                            <a href="/staff/campaigns/create" class="btn btn-primary btn-block">+ Add New</a>
                        </div>

                        <div class="col-md-3">
                            <div class="dropdown">
                                <button class="btn btn-white btn-block bg-white dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    Sort By : <span class="text-primary font-weight-bolder"> {{ dropdownItem }} </span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a @click="filter.status = 'all'; dropdownValue(); getResults()" class="dropdown-item"
                                       href="#">Pending Payment / Agreement</a>

                                    <a @click="filter.status = 'awaiting'; dropdownValue(); getResults()" class="dropdown-item"
                                       href="#">Awaiting Build</a>

                                    <a @click="filter.status = 'billing_detail'; dropdownValue(); getResults()" class="dropdown-item"
                                       href="#">Billing Details</a>

                                    <a @click="filter.status = 'live'; dropdownValue(); getResults()" class="dropdown-item"
                                       href="#">Live</a>

                                    <a @click="filter.status = 'followed_up'; dropdownValue(); getResults()" class="dropdown-item"
                                       href="#">Followed Up</a>

                                    <a @click="filter.status = 'completed'; dropdownValue(); getResults()" class="dropdown-item"
                                       href="#">Completed</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="search-form">
                                <input v-model="filter.search" type="text" placeholder="Search" class="form-control">
                                <i data-feather="search" class="ml-3"></i>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <button @click="getResults()" class="btn btn-outline-primary bg-white text-primary float-right pl-5 pr-5">
                                <i class="fas fa-sliders-h fa-rotate-90"></i>
                                Filter
                            </button>
                        </div>
                    </div>
                    <div class="row rounded bg-white position-relative">
                        <div class="col-md-12 table-responsive mb-0">
                            <table class="table p-4 table-borderless table-rounded my-3">
                                <thead>
                                <tr>
                                    <th scope="col" class="nowrap">Order</th>
                                    <th scope="col" class="nowrap text-left">Client Name</th>
                                    <th scope="col" class="nowrap text-left">Campaign Name</th>
                                    <th scope="col" class="nowrap text-left">Sales Person</th>
                                    <th scope="col" class="nowrap">Recurring Option</th>
                                    <th scope="col" class="nowrap">Recurring Way</th>
                                    <th scope="col" class="nowrap">Contact Value</th>
                                    <th scope="col" class="nowrap">Campaign Budget</th>
                                    <th scope="col" class="nowrap">Max Ad Spend (to date)</th>
                                    <th scope="col" class="nowrap"></th>
                                </tr>
                                </thead>
                                <tbody v-if="allCampaign.data.length !== 0" class="">
                                    <tr v-for="(campaign,idex) in allCampaign.data">
                                        <td scope="row" class="text-nowrap">#{{ campaign.id ? campaign.id : '--' }}</td>
                                        <td class="text-nowrap text-capitalize text-left">{{ campaign.user.name ? campaign.user.name : '--'}}</td>
                                        <td class="text-nowrap text-capitalize text-left">{{ campaign.name ? campaign.name : '--'}}</td>
                                        <td class="text-nowrap text-capitalize text-left">{{ campaign.sales_person.name ? campaign.sales_person.name : '--'}}</td>
                                        <td class="text-nowrap">{{ campaign.recurring_option ? campaign.recurring_option : '--'}}</td>
                                        <td class="text-nowrap">{{ campaign.recurring_way ? '£'+campaign.recurring_way : '--'}}</td>
                                        <td class="text-nowrap">{{ campaign.amount ? '£'+campaign.amount : '--'}}</td>
                                        <td class="text-nowrap">{{ campaign.compaign_amount ? '£'+campaign.compaign_amount : '--'}}</td>
                                        <td class="text-nowrap">{{ '£'+allCampaignAmount[campaign.user_id]['total_compaign_amount'] }}</td>
                                        <td class="text-right text-nowrap">
                                            <a
                                                type="button"
                                                :href="`/staff/leads/${campaign.id}`"
                                                class="btn btn-outline-primary btn-small-text fixed-width-25">
                                                View Details
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody v-else class="">
                                    <tr >
                                        <td colspan="100%" class="p-0 rounded-0 mt-3">
                                            <h4 class="alert alert-primary d-block text-center mb-0 text-primary">No Data</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div v-if="allCampaign.data.length > 0 && allCampaign.last_page != 1" class="d-flex justify-content-between mb-3">
                                <nav aria-label="Page navigation example" style="float: left">
                                    <select  @change="this_page_min = 1; this_page = 1; getResults(this_page)" v-model="per_page_items" class="form-control">
                                        <option value="1">1</option>
                                        <option value="3">3</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </nav>

                                <pagination :data="allCampaign" @pagination-change-page="getResults" class="mb-0" :show-disabled="true" :limit="offset" >
                                    <span slot="prev-nav"><i class="fas fa-chevron-left"></i></span>
                                    <span slot="next-nav"><i class="fas fa-chevron-right"></i></span>
                                </pagination>
                            </div>
                        </div>
                        <div v-if="isLoading" class="loader w-100 h-100 position-absolute rounded pt-0">
                            <span role="status" class="spinner-border text-white mt-5">
                                <span class="sr-only">Text Centered</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    name: "StaffCampaignIndex",
    props: ['campaigns', 'campaignamount'],
    data() {
        return {
            allCampaign: JSON.parse(this.campaigns),
            allCampaignAmount: JSON.parse(this.campaignamount),

            isLoading         : false,

            offset            : 3,
            this_page_min     : 1,
            per_page_items    : 10,
            this_page	      : 1,

            filter            : {
                status: 'all',
                search: ''
            },
            sort              : 'desc',
            dropdownItem      : 'Pending Payment / Agreement'

        }
    },
    mounted() {
       // console.log(this.allCampaign)
       // console.log(this.allCampaignAmount)
    },
    methods: {
        getResults(page = 1) {
            this.isLoading = true;
            axios.get('/staff/campaigns/getCampaign', {
                params: {
                    page: page,
                    items: this.per_page_items,
                    status: this.filter.status == 'all' ? '' : this.filter.status,
                    sort: this.sort,
                    search: this.filter.search,
                }
            })
            .then(response => {
                this.allCampaign = response.data.campaigns;
                this.allCampaignAmount = response.data.campaignAmount;
                this.this_page = response.data.current_page;
                this.this_page_min = this.per_page_items * (this.this_page - 1) + 1;
                // console.log('dsd', this.allCampaign);
            }).catch((error)=>{
                toastr["error"](error.message);
                console.log(error);
            }).finally(()=>{
                this.isLoading = false;
            });
        },

        openLeads(id){
            console.log(id)
            axios.get('/staff/leads/'+id)
                .then(response => {
                }).catch((error)=>{
                toastr["error"](error.message);
                console.log(error);
            }).finally(()=>{
            });
        },
        dropdownValue(){

            switch( this.filter.status) {
                case 'all':
                    this.dropdownItem = 'Pending Payment / Agreement';
                    break;
                case 'awaiting':
                    this.dropdownItem = 'Awaiting Build';
                    break;
                case 'billing_detail':
                    this.dropdownItem = 'Billing Details';
                    break;
                case 'live':
                    this.dropdownItem = 'Live';
                    break;
                case 'followed_up':
                    this.dropdownItem ='Followed Up';
                    break;
                case 'completed':
                    this.dropdownItem = 'Completed';
                    break;
                default:
                    this.dropdownItem = 'Pending Payment / Agreement';
            }
        }
    },
}
</script>

<style scoped>

</style>
