<template>

    <div class="client" id="client">
        <div class="row justify-content-between page-header">
            <div class="col-md-1">
                <h1 class="main-title mt-2">Unbounce</h1>
            </div>

        </div>
        <div class="row">

            <!--Table View Start-->
            <div class="tab-content w-100" id="nav-tabContent">
                <div class="tab-pane fade show active" id="onboarding" role="tabpanel"
                     aria-labelledby="onboarding">
                    <div class="form-row filter-bar">
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-block" data-target="#addUnbounce" type="button"
                                    data-toggle="modal">+ Add New
                            </button>
                        </div>

                        <div class="col-md-2">
                            <div class="dropdown">
                                <button class="btn btn-white btn-block bg-white dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    Sort By : <span class="text-primary font-weight-bolder"> {{ sort == 'asc' ? 'Ascending':'Descending' }} </span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" @click.prevent="sort='asc'; getUnbounce()" href="#">Ascending</a>
                                    <a class="dropdown-item" @click.prevent="sort='desc'; getUnbounce()" href="#">Descending</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="search-form">
                                <input type="text" placeholder="Search" class="form-control" v-model="search">
                                <i data-feather="search" class="ml-3"></i>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <button @click="getUnbounce()"
                                    class="btn btn-outline-primary bg-white text-primary float-right pl-5 pr-5">
                                <i class="fas fa-sliders-h fa-rotate-90"></i>
                                Filter
                            </button>
                        </div>
                    </div>
                    <div class="row position-relative">
                        <div class="col-md-12 bg-white rounded table-responsive mb-0">
                            <table class="table p-4 table-borderless table-rounded my-3">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-left">#</th>
                                        <th scope="col" class="text-left">Campaign Name</th>
                                        <th scope="col" class="text-left">Name</th>
                                        <th scope="col">Unbounce ID</th>
                                        <th scope="col">Created on</th>
                                        <th scope="col" class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody v-if="unbounces && unbounces.data.length != 0" class="">
                                    <tr v-for="(unbounce, index) in unbounces.data">
                                        <td scope="row" class="text-left">{{index+1}}</td>
                                        <td class="text-left">{{unbounce.campaigns ? unbounce.campaigns.name:'--'}}</td>
                                        <td class="text-left">{{ unbounce.user ? unbounce.user.name:'--' }}</td>
                                        <td>{{unbounce.unbounce_id}}</td>
                                        <td>{{unbounce.created_at|diffForHumans}}</td>
                                        <td class="text-center">
                                            <button type="button"
                                                    class="btn btn-outline-danger btn-small-text fixed-width-25" @click="deleteUnbounce(unbounce.id)">

                                                Delete
                                            </button>

                                        </td>
                                    </tr>
                                </tbody>
                                <tbody v-else class="">
                                    <tr >
                                        <td colspan="100%" class="p-0 rounded-0 mt-3">
                                            <h4 class="alert alert-primary d-block text-center mb-0 text-primary">No Data</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                             <div v-if="unbounces.data.length > 0 && unbounces.last_page != 1"
                                 class="d-flex justify-content-between">
                                <nav aria-label="Page navigation example" style="float: left">
                                    <select @change="this_page_min = 1; this_page = 1; getUnbounce(this_page)"
                                            v-model="per_page_items" class="form-control">
                                        <option value="1">1</option>
                                        <option value="3">3</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </nav>
                                <pagination :data="unbounces" @pagination-change-page="getUnbounce"
                                            :show-disabled="true" :limit="offset">
                                    <span slot="prev-nav"><i class="fas fa-chevron-left"></i></span>
                                    <span slot="next-nav"><i class="fas fa-chevron-right"></i></span>
                                </pagination>
                            </div>
                        </div>
                        <div v-if="isLoading" class="loader w-100 h-100 position-absolute rounded">
                            <span role="status" class="spinner-border text-white mt-5">
                                <span class="sr-only">Text Centered</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Table View End-->

            <!--Client Add Modal Start-->
            <div class="modal fade " id="addUnbounce" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered ">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white font-weight-bold">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add Unbounce</h5>
                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="saveUnbounce" method="post">
                                <div class="form-group row">
                                    <label for="unbounce_id" class="col-md-5 col-form-label">Unbounce Page ID:</label>
                                    <div class="col-md-7">
                                        <input type="text" v-model="addUnbounce.unbounce_id" class="form-control" id="unbounce_id">
                                        <small class="text-danger" v-if="addSubmit && !$v.addUnbounce.unbounce_id.required">Unbounce Page ID is required!</small>
                                        <!-- <small class="text-danger" v-if="addSubmit && !$v.addTask.name.required">Field is required</small> -->
                                    </div>
                                </div>
                                <!--
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox"  class="custom-control-input float-right" id="enable_installment" v-model="addUnbounce.is_new_bussiness_lead" >
                                        <label class="custom-control-label float-left" for="enable_installment">Add in New Business Hub</label>
                                    </div>
                                </div>
                                -->
                                <div class="form-group row" v-if="addUnbounce.is_new_bussiness_lead==false">
                                    <!--<div class="form-group row">-->
                                    <label class="col-md-5 col-form-label">Customer:</label>
                                    <div class="col-md-7">
                                        <multiselect
                                            v-model="customerModel"
                                            :options="allCustomers"
                                            label="name"
                                            track-by="id"
                                            placeholder="Select Campaign"
                                            :close-on-select="true"
                                            :clear-on-select="false"
                                        >
                                        </multiselect>

                                    </div>
                                </div>
                                <div class="d-block text-right">
                                    <button type="reset" class="btn btn-light">Reset</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!--Client Add Modal End-->



        </div>
    </div>
</template>
<script>
    import {required, minLength, maxLength, alpha, email, sameAs} from 'vuelidate/lib/validators'
    import 'vue-multiselect/dist/vue-multiselect.min.css';
    import Multiselect from 'vue-multiselect';
    export default {
        components: { Multiselect },
        name: 'StaffUnbounceIndex',
        props:['unbounce'],
        data() {
            return {
                allCustomers : [],
                customerModel : {},
                unbounces: JSON.parse(this.unbounce),
                isLoading: false,
                addSubmit: false,

                offset: 3,
                this_page_min: 1,
                per_page_items: 3,
                this_page: 1,
                addUnbounce: {
                    unbounce_id: '',
                    is_new_bussiness_lead: false,
                    campaign_id: 0,
                    user_id: 0
                },
                sort: 'asc',
                findBy: '',
                search: '',
                status: '',
                landing_page_status: '',
                campaign_status: '',

                show: [],
            }
        },
        validations: {
            addUnbounce: {
                unbounce_id: {
                    required,
                },

            }
        },
        mounted() {
            this.getCustomers();
        },
        methods: {
            getCustomers(){
                axios.get(`/staff/unbounce/getAllCustomers`)
                .then((response)=>{
                    this.allCustomers = response.data.customers;
                }).catch((error)=>{
                    toastr["error"](error.message)
                })
            },
            /* campaignsSelect(){
                console.log(this.customerModel);
                this.addUnbounce.campaign_id = this.customerModel['id'];
                console.log(this.addUnbounce.campaign_id);
            }, */
            saveUnbounce() {
                /*console.log(this.customerModel);
                return;*/
                this.addSubmit = true;
                this.$v.$touch();
                //this.addUnbounce.campaign_id = this.customerModel ? this.customerModel.id:0;
                this.addUnbounce.user_id = this.customerModel ? this.customerModel.id:0;

                if (!this.$v.$invalid) {
                    if(this.addUnbounce.is_new_bussiness_lead == false){
                        if(!this.addUnbounce.user_id){
                            toastr["error"]('Please select a Customers');
                            return;
                        }
                    }
                    axios.post('/staff/unbounce', this.addUnbounce).then((response) => {
                        this.getUnbounce();
                        $('#addUnbounce').modal('toggle');
                        toastr["success"]("Unbounce Added!");
                        this.addUnbounce = {
                            unbounce_id: '',
                            is_new_bussiness_lead: false,
                            campaign_id: 0,
                            user_id: 0,
                            campaigns: ''
                        };
                    }).catch((error) => {
                        console.log(error)
                    })
                } else {
                    toastr["error"]('Error in validation!');
                }
            },
            getUnbounce(page=1) {
                this.isLoading = true;
                axios.get('/staff/unbounce/getUnbounce', {
                    params: {
                        page: page,
                        items: this.per_page_items,
                        sort: this.sort,
                        findBy: this.findBy,
                        search: this.search,
                        status: this.status,

                    }
                }).then((response) => {
                    this.unbounces = response.data;
                    this.this_page = response.data.current_page;
                    this.this_page_min = this.per_page_items * (this.this_page - 1) + 1;
                }).catch((error) => {
                    console.error(error)
                }).finally(() => {
                    this.isLoading = false;
                });
            },
            deleteUnbounce(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.isLoading = true;
                        axios.delete('/staff/unbounce/'+id ).then((response) => {
                            this.getUnbounce();
                        }).catch((error) => {
                            console.error(error)
                        }).finally(() => {
                            this.isLoading = false;
                            toastr["success"]('Data deleted');
                        });
                    }
                })
            }
        },

    }
</script>
