<template>

    <div class="task" id="task">
        <div class="row justify-content-between page-header">
            <div class="col-md-6">
                <h1 class="main-title">Tasks</h1>
            </div>
        </div>

        <!--Task Filter-->
        <div class="form-row filter-bar">

            <div class="col-md-2">
                <!--<button @click="addTaskModal = true" class="btn btn-primary btn-block" data-toggle="modal" data-target=".bd-example-modal-lg">+ New Task
                </button>-->
                <b-button v-b-modal.addTask class="btn-block" @click="addTaskBtn()" variant="primary">+ New Task</b-button>
            </div>

            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-white btn-block bg-white dropdown-toggle" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Sort By : <span class="text-primary font-weight-bolder" id="ordering">{{ activeTabName }}</span>
                    </button>
                    <input type="hidden" id="sort" name="sort" value="all">
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownMenuList">
                        <a class="dropdown-item"
                           href="#"
                           @click.prevent="activeTabName = 'All Tasks'; changeShowTabs(true, true, true,)"
                        >All Tasks</a>
                        <a class="dropdown-item"
                           href="#"
                           @click.prevent="activeTabName = 'Open Tasks'; changeShowTabs(true, false, false,)"
                        >Open Tasks</a>
                        <a class="dropdown-item"
                           href="#"
                           @click.prevent="activeTabName = 'In Review Tasks'; changeShowTabs(false, true, false,)"
                        >In Review Tasks</a>
                        <a class="dropdown-item"
                           href="#"
                           @click.prevent="activeTabName = 'Closed Tasks'; changeShowTabs(false, false, true,)"
                        >Closed Tasks</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="search-form">
                    <input type="text" id="taskSearchBar" placeholder="Search" v-model="search" class="form-control">
                    <i data-feather="search" class="ml-3"></i>
                </div>

            </div>

            <div class="col-md-4">
                <button @click="activeTabName = 'All Tasks'; changeShowTabs(true, true, true,); getTasks()"
                        class="btn btn-outline-primary bg-white text-primary float-right pl-5 pr-5">
                    <i class="fas fa-sliders-h fa-rotate-90"></i>
                    Filter
                </button>
            </div>
        </div>

        <!--Show Task List-->
        <div class="form-row">
            <div v-if="showTabs.pending" class="col-sm-12 col-md-6 col-lg-4 col-xl-4" data-custom-type="pending">
                <h5 class="nav-sub-title btn-primary">OPEN</h5>
                <div class="card task-shadow border-0 mb-2" data-role="taskSearch" v-for="pending in allTasks.pending">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-between">
                            <div class="text my-auto p-2">
                                <p class="text">
                                    {{ pending.name }}<!-- accepted by
                                    <strong v-if="pending.user">{{ pending.user.name }}</strong>-->
                                    <!--                                    <code v-else class="text-warning">No Name</code>-->
                                </p>
                                <p class="sub-text">
                                    <span class="text-capitalize" v-for="(pending_user_task, index) in pending.user_tasks" :key="index">
                                        {{ pending_user_task.user ? pending_user_task.user.name:'' }}{{ index+1 < pending.user_tasks.length ? ',':'' }}
                                    </span>
                                    <!--<span
                                        class="text-capitalize">{{
                                            pending.link_type | replaceUnderscoreWithSpace
                                        }}</span>-->
                                </p>
                                <small class="d-block">
                                    {{ pending.due_date | dateFormatTask }} {{ pending.due_date | timeFormat }}
                                </small>
                                <!--<small>10<sup>th</sup> August 2020</small>-->
                            </div>
                            <div class="flex my-auto">
                                <button type="button"
                                        class="view-target btn btn-outline-primary btn-small-text fixed-width-25"
                                        data-toggle="modal" data-target="#viewModal"
                                        @click="getTask(pending.id)"
                                >
                                    View Details
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div v-if="showTabs.in_progress" class="col-sm-12 col-md-6 col-lg-4 col-xl-4"
                 data-custom-type="in-progress">
                <h5 class="nav-sub-title btn-primary">IN REVIEW</h5>
                <div class="card task-shadow border-0 mb-2" data-role="taskSearch"
                     v-for="in_progress in allTasks.in_progress">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-between">
                            <div class="text my-auto p-2">
                                <p class="text">
                                    {{ in_progress.name }}<!-- accepted by
                                    <strong v-if="in_progress.user">{{ in_progress.user.name }}</strong>-->
                                    <!--                                    <code v-else class="text-warning">No Name</code>-->
                                </p>
                                <p class="sub-text">
                                    <span class="text-capitalize" v-for="(in_progress_user_task, index) in in_progress.user_tasks" :key="index">
                                        {{ in_progress_user_task.user ? in_progress_user_task.user.name:'' }}{{ index+1 < in_progress.user_tasks.length ? ',':'' }}
                                    </span>
                                    <!--<span class="text-capitalize">{{
                                            in_progress.link_type | replaceUnderscoreWithSpace
                                        }}</span>-->
                                </p>
                                <small class="d-block">
                                    {{ in_progress.due_date | dateFormatTask }} {{ in_progress.due_date | timeFormat }}
                                </small>
                                <!--<small>10<sup>th</sup> August 2020</small>-->
                            </div>
                            <div class="flex my-auto">
                                <button type="button"
                                        class="view-target btn btn-outline-primary btn-small-text fixed-width-25"
                                        data-toggle="modal" data-target="#viewModal"
                                        @click="getTask(in_progress.id)"
                                >
                                    View Details
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="showTabs.completed" class="col-sm-12 col-md-6 col-lg-4 col-xl-4" data-custom-type="completed">
                <h5 class="nav-sub-title btn-primary">CLOSED</h5>
                <div class="card task-shadow border-0 mb-2 " data-role="taskSearch"
                     v-for="completed in allTasks.completed">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-between">
                            <div class="text my-auto p-2">
                                <p class="text">
                                    {{ completed.name }}<!-- accepted by
                                    <strong v-if="completed.user">{{ completed.user.name }}</strong>-->
                                    <!--                                    <code v-else class="text-warning">No Name</code>-->
                                </p>
                                <p class="sub-text">
                                    <span class="text-capitalize" v-for="(completed_user_task, index) in completed.user_tasks" :key="index">
                                        {{ completed_user_task.user ? completed_user_task.user.name:'' }}{{ index+1 < completed.user_tasks.length ? ',':'' }}
                                    </span>
                                    <!--<span
                                        class="text-capitalize">{{
                                            completed.link_type | replaceUnderscoreWithSpace
                                        }}</span>-->
                                </p>
                                <small class="d-block">
                                    {{ completed.due_date | dateFormatTask }} {{ completed.due_date | timeFormat }}
                                </small>
                                <!--<small>10<sup>th</sup> August 2020</small>-->
                            </div>
                            <div class="flex my-auto">
                                <button type="button"
                                        class="view-target btn btn-outline-primary btn-small-text fixed-width-25"
                                        data-toggle="modal" data-target="#viewModal"
                                        @click="getTask(completed.id)"
                                >
                                    View Details
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Task Modal -->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        Add Task
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
        <b-modal ref="addTask" id="addTask" size="lg" header-class="bg-primary text-white" :hide-footer="true"
                 title="Add Task">
            <form @submit.prevent="addSubmit = true; saveTask()" enctype="multipart/form-data">
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Title:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="name" v-model="$v.addTask.name.$model">
                        <small class="text-danger" v-if="addSubmit && !$v.addTask.name.required">Field is
                            required</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Description:</label>
                    <div class="col-md-8">
                        <textarea type="text" class="form-control" name="description"
                                  v-model="$v.addTask.description.$model"></textarea>
                        <small class="text-danger" v-if="addSubmit && !$v.addTask.description.required">Field is
                            required</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Staff Member:</label>
                    <div class="col-md-8">
                        <multiselect
                            v-model="$v.allAssigns.$model"
                            :options="allStaffUsers"
                            :multiple="true"
                            :close-on-select="false"
                            :clear-on-select="false"
                            :preserve-search="true"
                            placeholder="Select Users"
                            label="name"
                            track-by="id"
                        >
                            <template slot="selection" slot-scope="{ values, search, isOpen }">
                                <span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{
                                        values.length
                                    }} options selected</span>
                            </template>
                        </multiselect>
                        <small class="text-danger" v-if="addSubmit && !$v.allAssigns.required">Field is required</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Customer:</label>
                    <div class="col-md-8">
                        <multiselect
                            v-model="allCustomerAssigns"
                            :options="allCustomerUsers"
                            :multiple="true"
                            :close-on-select="false"
                            :clear-on-select="false"
                            :preserve-search="true"
                            placeholder="Select Users"
                            label="name"
                            track-by="id"
                        >
                            <template slot="selection" slot-scope="{ values, search, isOpen }">
                                <span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{
                                        values.length
                                    }} options selected</span>
                            </template>
                        </multiselect>
                        <small class="text-danger" v-if="addSubmit && !$v.allAssigns.required">Field is required</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Due Date:</label>
                    <div class='col-sm-8'>
                        <v-date-picker
                            v-model='$v.addTask.due_date.$model'
                            is-expanded
                            title-position="left"
                            :attributes="[]"
                            :locale="{ firstDayOfWeek: 2 }"
                            @dayclick=""
                        />
                        <small class="text-danger" v-if="addSubmit && !$v.addTask.due_date.required">Field is
                            required</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Attachments:</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" id="file" ref="file" v-on:change="handleFileUpload()">
                                <label class="custom-file-label" @click="$refs.file.click()">{{ fileName }}</label>
                            </div>
                        </div>
                        <!--<small class="text-danger" v-if="addSubmit && !$v.addTask.name.required">Field is required</small>-->
                    </div>
                </div>
                <!--<div class="form-group row">
                    <label class="col-md-4 col-form-label">Checklist:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="checklist" v-model="$v.addTask.checklist.$model"
                               placeholder="Use comma for multiple checklist">
                        <small class="text-danger" v-if="addSubmit && !$v.addTask.checklist.required">Field is
                            required</small>
                    </div>
                </div>-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Status:</label>
                    <div class="col-md-8">
                        <select class="form-control" name="status" v-model="$v.addTask.status.$model">
                            <option value="pending">Pending</option>
                            <option value="in-progress">In progress</option>
                            <option value="completed">Completed</option>
                        </select>
                        <small class="text-danger" v-if="addSubmit && !$v.addTask.status.required">Field is
                            required</small>
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Priority:</label>
                    <div class="col-md-8">
                        <select class="form-control" name="priority" v-model="$v.addTask.priority.$model">
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">High</option>
                        </select>
                        <small class="text-danger" v-if="addSubmit && !$v.addTask.priority.required">Field is
                            required</small>
                    </div>

                </div>
                <!--<div class="form-group row">
                    <label class="col-md-4 col-form-label">Link Type:</label>
                    <div class="col-md-8">
                        <select class="form-control" name="link_type" v-model="$v.addTask.link_type.$model">
                            <option value="campaign">Campaign</option>
                            <option value="landing_page">Landing Page</option>
                            <option value="other_project">Other Project</option>
                        </select>
                        <small class="text-danger" v-if="addSubmit && !$v.addTask.link_type.required">Field is
                            required</small>
                    </div>
                </div>-->
                <div class="d-block text-right">
                    <button type="reset" class="btn btn-light p-2">Reset</button>
                    <button v-if="task_id" type="submit" class="btn btn-primary p-2">Update</button>
                    <button v-else type="submit" class="btn btn-primary p-2">Save</button>
                </div>
            </form>
        </b-modal>

        <!-- Show Task Modal -->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
             id="viewModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        View Task
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="col-12 col-lg-12">
                                <div class="bg-light rounded px-2" style="background-color: #f5f6fa !important;">
                                    <div class="card-body">
                                        <div class="sidetask-head mb-3">
                                            <div class="form-group row">
                                                <div class="col-12 pt-2">
                                                    <div class="text-dark pb-1"><b>Title:</b><br></div>
                                                    <h4 class="text-dark" id="name"><b>{{ task.name }}</b></h4>
                                                    <div class="text-dark pb-1"><b>Description:</b><br></div>
                                                    <p id="description" class="py-3 px-2 bg-white rounded">
                                                        {{ task.description }}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="text-dark pb-1"><b>Marked As:</b><br></div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input"
                                                               type="radio"
                                                               name="status"
                                                               v-model="task.status"
                                                               id="inlineRadio1"
                                                               value="pending"
                                                               @click="changeTaskStatus(task.id, 'pending')"
                                                        >
                                                        <label class="form-check-label" for="inlineRadio1">Open</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input"
                                                               type="radio"
                                                               name="status"
                                                               v-model="task.status"
                                                               id="inlineRadio2"
                                                               value="in-progress"
                                                               @click="changeTaskStatus(task.id, 'in-progress')"
                                                        >
                                                        <label class="form-check-label" for="inlineRadio2">In
                                                            Review</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input"
                                                               type="radio"
                                                               name="status"
                                                               v-model="task.status"
                                                               id="inlineRadio3"
                                                               value="completed"
                                                               @click="changeTaskStatus(task.id, 'completed')"
                                                        >
                                                        <label class="form-check-label"
                                                               for="inlineRadio3">Closed</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sidetask-assign mb-3">
                                            <div class="row assign-head">
                                                <div class="col-12 mb-2 text-dark">
                                                    <b>Staff Member:</b>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-12 assign-list pr-2" id="assign-list">
                                                            <a href="#" class="text-decoration-none px-2"
                                                               v-for="user_task in task.user_tasks">
                                                                <img class="rounded-circle mr-1"
                                                                     :src="user_task.user.image_url" alt="img"
                                                                     style="height: 20px">
                                                                <strong>{{ user_task.user.name }}</strong>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5 mt-2">
                                                    <multiselect
                                                        v-model="$v.allAssigns.$model"
                                                        :options="allUsers"
                                                        :multiple="true"
                                                        :close-on-select="false"
                                                        :clear-on-select="false"
                                                        :preserve-search="true"
                                                        placeholder="Select Users"
                                                        label="name"
                                                        track-by="id"
                                                        :tagable="true"
                                                        @close="updateStaffMember"
                                                    >
                                                        <template slot="selection"
                                                                  slot-scope="{ values, search, isOpen }">
                                                            <span class="multiselect__single"
                                                                  v-if="values.length &amp;&amp; !isOpen">{{
                                                                    values.length
                                                                }} options selected</span>
                                                        </template>
                                                    </multiselect>
                                                    <small class="text-danger"
                                                           v-if="addSubmit && !$v.allAssigns.required">Field is
                                                        required</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sidetask-assign mb-3">
                                            <div class="row assign-head">
                                                <div class="col-6 pb-2 text-dark">
                                                    <b>Due Date:</b>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                        <span class="timel-o">
                                                            <i class="fas fa-calendar-alt text-success"></i>
                                                            <span id="due_date_modal">
                                                                {{
                                                                    task.due_date | dateFormatTask
                                                                }} {{ task.due_date | timeFormat }}
                                                            </span>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--                                        <div class="task-checklist" id="task-checklist">-->
                                        <!--                                            <div class="heading-sub-o text-dark pb-2"><b>Checklists:</b></div>-->
                                        <!--                                            <div id="task-checklist-container">-->
                                        <!--                                                <div class="custom-control custom-checkbox"-->
                                        <!--                                                     v-for="sub_task in task.sub_tasks">-->
                                        <!--                                                    <input-->
                                        <!--                                                        type="checkbox"-->
                                        <!--                                                        :id="`subTaskStatus_${sub_task.id}`"-->
                                        <!--                                                        :checked="sub_task.status == 'pending' ? false:true"-->
                                        <!--                                                        class="custom-control-input"-->
                                        <!--                                                        @click="sub_task.status = changeSubTaskStatus(sub_task.id, sub_task.status)"-->
                                        <!--                                                    >-->
                                        <!--                                                    <label :for="`subTaskStatus_${sub_task.id}`"-->
                                        <!--                                                           class="custom-control-label pb-0">{{ sub_task.name }}</label>-->
                                        <!--                                                </div>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <!--<div class="form-group row"
                                             v-if="task.attachments && task.attachments.length > 0 ? true:false">
                                            <label
                                                class="col-12 col-form-label text-dark"><b>Attachments:</b></label>
                                            <div class="col-12">
                                                <a v-if="task.attachments && task.attachments.length > 0 ? true:false"
                                                   :href="task.attachments" id="attachments" download=""
                                                   title="Download">
                                                    <i class="text-primary fa fa-download"></i>
                                                </a>
                                                <div v-else class="hidden-message" style="display: none">
                                                    <div class="text-danger" id="message">No Attachment Available</div>
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="form-group row">
                                            <!--                                            <div class="col md-4">-->
                                            <!--                                                <h6 class="text-dark"><b>Status:</b></h6>-->
                                            <!--                                                <p id="status" class="text-capitalize">{{ task.status }}</p>-->
                                            <!--                                            </div>-->
                                            <div class="col md-4">
                                                <h6 class="text-dark"><b>Priority:</b></h6>
                                                <p id="priority" class="text-capitalize">{{ task.priority }}</p>
                                            </div>
                                            <!--                                            <div class="col md-4">-->
                                            <!--                                                <h6 class="text-dark"><b>Link Type:</b></h6>-->
                                            <!--                                                <p id="link_type" class="text-capitalize">{{-->
                                            <!--                                                        task.link_type |-->
                                            <!--                                                            replaceUnderscoreWithSpace-->
                                            <!--                                                    }}</p>-->
                                            <!--                                            </div>-->
                                        </div>
                                        <hr style="border-bottom: 1px solid #ddd">
                                        <div class="w-100">
                                            <h5>Write a comment</h5>
                                            <textarea id="" maxlength="60" v-model="taskComment"
                                                      class="form-control"></textarea>
                                            <div class="pt-3 pb-5">


                                                <button type="button" @click="saveComment(task.id)"
                                                        class="btn float-right btn-primary">
                                                    <i class="fab fa-telegram-plane"></i>
                                                    Submit
                                                </button>
<!--                                                <b-button v-b-modal.addTask @click="editTask(task.id)"-->
<!--                                                          class="btn float-right btn-warning mr-2" variant="primary"><i-->
<!--                                                    class="fas fa-edit"></i> Edit-->
<!--                                                </b-button>-->
                                                <b-button @click="deleteTask(task.id)"
                                                          class="btn float-right btn-danger mr-2" variant="primary"><i
                                                    class="fas fa-trash"></i> Delete
                                                </b-button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 mb-2" v-for="comment in comments">
                                                <p class="py-2 rounded bg-white px-2">
                                                    <span class="h6 d-flex text-dark">
                                                        <img :src="comment.user ? comment.user.image_url:''"
                                                             style="height: 32px;" alt="img" class="mr-2">
                                                        <span>
                                                            <span class="d-block">{{
                                                                    comment.user ? comment.user.name : ''
                                                                }}</span>
                                                            <small class="d-block text-muted">{{
                                                                    comment.created_at | diffForHumans
                                                                }}</small>
                                                        </span>
                                                    </span>
                                                    <span class="d-block mt-3">
                                                        {{ comment.description }}
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import 'vue-multiselect/dist/vue-multiselect.min.css';
import VCalendar from 'v-calendar';
import Multiselect from 'vue-multiselect';
import {required, minLength, maxLength, alpha, email, sameAs} from 'vuelidate/lib/validators'

export default {
    name: 'StaffTaskIndex',
    components: {Multiselect, VCalendar},
    props: ['tasks', 'users'],
    data() {
        return {
            allTasks: JSON.parse(this.tasks),
            allUsers: JSON.parse(this.users),
            allStaffUsers: [],
            allCustomerUsers: [],
            task: {},
            addSubmit: false,
            task_id: '',
            attributes: [],
            allAssigns: [],
            allCustomerAssigns: [],
            addTaskModal: false,
            addTask: {
                name: '',
                description: '',
                assigned_to: [],
                due_date: '',
                attachments: '',
                checklist: '',
                status: '',
                priority: '',
                link_type: '',
            },
            updateTask: {
                checklist: '',
                status: '',
                priority: '',
                link_type: '',
            },

            showTabs: {
                pending: true,
                in_progress: true,
                completed: true
            },
            activeTabName: 'All Tasks',
            search: '',

            comments: [],
            taskComment: '',

            file: '',
            fileNameTemp: 'Choose file',
            fileName: 'Choose file'
        }
    },

    validations: {
        addTask: {
            name: {
                required,
            },
            description: {
                required,
            },
            /*assigned_to  : {
                required,
            },*/
            due_date: {
                required,
            },
            /*attachments  : {
                required,
            },*/
            /*checklist: {
                required,
            },*/
            status: {
                required,
            },
            priority: {
                required,
            },
            /*link_type: {
                required,
            },*/
        },
        allAssigns: {
            required,
        }
    },

    mounted() {
        _.forEach(this.allUsers, (ele, ind) => {
            if(ele.type == 'customer') this.allCustomerUsers.push(ele);
            else this.allStaffUsers.push(ele);
        })
        // this.getTasks();
    },

    methods: {
        changeShowTabs(pending, in_progress, completed) {
            this.showTabs = {
                pending,
                in_progress,
                completed
            };
        },
        formatAssigns() {
            this.addTask.assigned_to = []
            this.allAssigns.filter(element => {
                this.addTask.assigned_to.push(element.id);
            })
            this.allCustomerAssigns.filter(element => {
                this.addTask.assigned_to.push(element.id);
            })
        },
        saveComment(task_id) {
            let data = {
                description: this.taskComment
            };
            axios.post(`/staff/tasks/saveComment/${task_id}`, data)
                .then((response) => {
                    this.comments = response.data;
                    this.taskComment = '';
                }).catch((error) => {
                toastr["error"](error.message)
                console.log(error)
            })
        },
        updateStaffMember() {
            this.formatAssigns();

            let formData = new FormData();
            formData.append('task_id', this.task_id);
            formData.append('assigned_to', this.addTask.assigned_to);

            axios.post('/staff/tasks/updateStaffMember', formData)
                .then((response) => {
                    this.task = response.data;
                    this.comments = response.data.comment;

                    this.task_id = this.task.id
                    this.addTask = response.data;
                    toastr['success']("Updated!");
                }).catch((error) => {
                toastr["error"](error.message)
                console.log(error)
            })
        },
        addTaskBtn(){
            this.allAssigns = []
            this.allCustomerAssigns = []
            this.addTask = {
                name: '',
                description: '',
                assigned_to: [],
                due_date: '',
                attachments: '',
                checklist: '',
                status: '',
                priority: '',
                link_type: '',
            }
        },
        getTask(task) {
            this.task = {};
            this.allAssigns = []
            this.allCustomerAssigns = []
            axios.get(`/staff/tasks/${task}`)
                .then((response) => {
                    this.task = response.data;
                    this.comments = response.data.comment;

                    this.task_id = this.task.id
                    this.addTask = response.data;
                    let userTask = response.data.user_tasks
                    userTask.forEach(el => {
                        this.allAssigns.push(el.user)
                    })

                }).catch((error) => {
                toastr["error"](error.message)
                console.log(error)
            })
        },
        editTask(task) {
            this.task_id = task;
            $('#viewModal').modal('toggle');
            this.task = {};
            axios.get(`/staff/tasks/${task}`)
                .then((response) => {
                    this.addTask = response.data;
                    // this.attributes = [{dates: new Date()}]
                    this.addTask.checklist = response.data.sub_tasks ? response.data.sub_tasks[0].name : ''
                    this.addTask.due_date = moment(response.data.due_date).format('MM/DD/YYYY');

                    let userTask = response.data.user_tasks
                    userTask.forEach(el => {
                        this.allAssigns.push(el.user)
                        this.allCustomerAssigns.push(el.user)
                    })

                }).catch((error) => {
                toastr["error"](error.message)
                console.log(error)
            })
        },
        deleteTask(task) {
            axios.delete(`/staff/tasks/${task}`)
                .then((response) => {
                    $('#viewModal').modal('toggle');
                    this.getTasks();
                    toastr['success']("Task Deleted!");
                }).catch((error) => {
                toastr["error"](error.message)
                console.log(error)
            })
        },
        getTasks() {
            axios.get(`/staff/tasks/getTasks?search=${this.search}`)
                .then((response) => {
                    console.log(response);
                    this.allTasks = response.data.tasks;
                    this.allUsers = response.data.users;
                }).catch((error) => {
                toastr["error"](error.message)
                console.log(error)
            })
        },
        changeTaskStatus(id, status) {
            axios.get(`/staff/tasks/changeTaskStatus/${id}/${status}`)
                .then((response) => {
                    toastr['success']("Task Updated!");
                    this.getTasks();
                }).catch((error) => {
                toastr["error"](error.message);
                console.log(error);
            })
        },
        changeSubTaskStatus(id, status) {
            let setStatus = status == 'completed' ? 'pending' : 'completed'
            axios.get(`/staff/tasks/changeSubTaskStatus/${id}/${setStatus}`)
                .then((response) => {
                    toastr['success']("Task Updated!");
                }).catch((error) => {
                toastr["error"](error.message);
                console.log(error);
            })
            return setStatus;
        },
        saveTask() {
            this.$v.$touch();
            if (!this.$v.$invalid) {
                this.formatAssigns();

                let formData = new FormData();
                let file = this.$refs.file.files[0];

                formData.append('attachments', file);
                formData.append('task_id', this.task_id);
                formData.append('name', this.addTask.name);
                formData.append('description', this.addTask.description);
                formData.append('assigned_to', this.addTask.assigned_to);
                formData.append('due_date', moment(this.addTask.due_date).format('YYYY-MM-DD'));
                formData.append('checklist', this.addTask.checklist);
                formData.append('status', this.addTask.status);
                formData.append('priority', this.addTask.priority);
                formData.append('link_type', this.addTask.link_type);
                //formData.append('attachments', this.addTask.attachments);

                axios.post('/staff/tasks', formData)
                    .then((response) => {
                        toastr['success']("Task Saved!");
                        this.$refs.addTask.hide();
                        this.getTasks();
                    }).catch((error) => {
                    toastr["error"](error.message)
                    console.log(error)
                });
            } else {
                toastr["error"]('Error in validation!');
            }
        },
        handleFileUpload() {
            this.file = this.$refs.file.files[0];
            this.fileName = this.file ? this.file.name : this.fileNameTemp;
        }
    }
}
</script>
<style>
.close,
.close:hover {
    color: #fff;
}
</style>
