@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.dashboard {
    .title_30 {
        span {
            color: #222e72;
        }
    }
    h5 {
        font-size: 1.0rem !important;
    }
    .p-2 {
        padding: 0.5rem 2px 0px !important;
    }
    .mb-4 {
        margin-bottom: 1.1rem !important;
    }
    //.title {
    //    font-weight: 600 !important;
    //    font-size: 30px !important;
    //
    //    @include breakpoint('xs') {
    //        text-align: center;
    //    }
    //}

    .card {
        padding: 25px 25px;
        border: none !important;
        border-radius: 4px;


        img {
            width: 60px;
            @include breakpoint('xs') {
                margin-bottom: 10px;
            }
            @include breakpoint('md') {
                width: 70px !important;
                height: 100% !important;
            }
        }

        h4 {
            margin-top: 9px;
            font-size: 48px !important;
            font-weight: 600 !important;
            line-height: 0.85 !important;
            margin-bottom: 0px !important;
            //@include breakpoint('xs') {
            //    font-size: 30px !important;
            //}
            @include breakpoint('md') {
                font-size: 30px !important;
            }

        }

        .card-text {
            color: #3a3c4b !important;
            font-weight: 600 !important;
            @include breakpoint('xs') {
                text-align: center;
            }
            @include breakpoint('md') {
                font-size: 16px !important;
            }

        }

        p {
            font-size: 18px;
            color: #585964;
        }

        @include breakpoint('xs') {
            margin-bottom: 1.1rem !important;
        }
    }

    .bar_chart {
        form {
            width: 180px !important;

            .form-control {
                border: 1px solid #d1d3e2 !important;
                width: 180px !important;
            }

            @include breakpoint('xs') {
                width: 100% !important;
                .form-control {
                    width: 100% !important;
                }
            }
            @include breakpoint('md') {
                width: 100% !important;
                .form-control {
                    width: 100% !important;
                }
            }
        }

        .view_more {
            background-color: #fbfbfb;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #333333 !important;
            margin-bottom: -20px;
            margin-left: -23px !important;
            margin-right: -23px !important;
        }
    }

    #appointemts {
        .card {
            padding: 10px 10px !important;
            height: auto !important;
        }

        .h-287 {
            height: 287px !important;
        }

        .block_in_xm {
            //display: flex;
            h4 {
                @include breakpoint('xs') {

                    font-size: 23px !important;
                }
            }
        }


        .text {
            font-size: 15px !important;
            font-weight: 600 !important;
            margin-bottom: 3px;
            @include breakpoint('sm') {
                font-size: 12px;
            }
        }

        .sub-text {
            font-size: 14px !important;
            font-weight: normal !important;
            @include breakpoint('sm') {
                font-size: 12px;
            }
        }

        .custom-bottom {
            margin-top: 27px !important;
        }

        .btn {
            width: 150px;
            //height: 28px;
            border-radius: 5px;
            font-size: 12px !important;
            @include breakpoint('xs') {
                width: 100% !important;
            }
            @include breakpoint('sm') {
                width: 100% !important;
                font-size: 9px;
            }
        }
    }

    @include breakpoint('xs') {
        .card {
            h4 {
                font-size: 30px !important;
                text-align: center;
            }

            //p {
            //    font-size: 12px !important;
            //}
        }

    }
    @include breakpoint('sm') {
        .card {
            p {
                font-size: 12px !important;
            }
        }
    }
    @include breakpoint('md') {
        .fix-height {
            height: 130px !important;
        }
        h4, .tille-blue {
            font-size: 27px !important;
        }
    }

}
