#holiday {
    h4{
        color: #282F5B;
        font-size: 24px;


    }
    table.table.table-borderless.table-l {
        border-radius: 0px 0px 12px 12px;
        background-color: #FDFDFD;



    }
   /* .table {
        @include breakpoint('xs') {
            width: 92%;        }
        @include breakpoint('sm') {
            width: 92%;
        }
    }*/


    .table-l th, .table-l td, .table-l thead th, .table-l tbody + tbody {
        /*border-color: white;*/
        background-color: #FDFDFD !important;
        padding: 12px 0px 20px 32px;

    }

    .table tbody tr:hover {
        box-shadow: 0px 0px 0px 0px #FDFDFD;
    }

    .table tbody tr:hover td {
        color: inherit;
    }
    .table_title {
        padding-left: 32px;
        font-weight: 600;
        Line-height: 21px;
        color: #474951;
        font-size: 18px;

        /* margin-right: -12px;*/
    }
    .form-control {
        padding: 0rem 0.75rem 0.60rem;
    }

    row.for_border{
        border-radius: 8px;
    }

    thead.thead_title {

        font-size: 18px;
        Line-height: 21px;
        font-weight: 600;
        color: #444653;

    }

    tbody.tbody_bolding {
        font-weight: 400;
        font-size: 16px;
        Line-height: 21px;
        color: #444653;

    }

    td {
        color: #474951;
    }
    a.button_edit_input_title{
        padding-top: 2px;
    }

    /*input.b4 {
        margin-right: 5px;
    }*/
.button_edit_background{
    background-color: #407BFF;
    border-radius: 5px;
    height: 29px;
    width: 33px;
    padding: 2px 5px;
}
    .button_edit {
        padding: 4px;
        color: white;

        float: inherit;
    }

    /*.p11 {
        padding-right: 50px;
    }*/

    .button_edit_input {
        color: #585858;
        padding: 4px;
    }

    .plus-button {
        background: #407BFF;
        color: white;
        width: 58px;
        height: 29px;
        border-radius: 4px;
        padding: 6px;
    }

    /* .b10{
         background: #407BFF;
         color : white;
         padding: 6px 21px;
         border-radius: 5px;
     }*/


    .upper_level {
        background: white;
        border-radius: 12px 12px 0px 0px;
        color: #474951;;
        padding-top: 15px;
    }

    .box2 {
        /*padding: 20px;*/
        background: #FDFDFD;
        border-radius: 0px 0px 12px 12px;
    }
    .row {
        padding: 10px;
       /* @include breakpoint('xs') {
            padding: 0px;
            margin: 0px;
        }

        @include breakpoint('sm') {
            padding: 0px;
            margin: 0px;
        }*/
    }

    .upper_level_right {
        display: flex;
        justify-content: flex-end;
    }

    /* @media screen and (max-width: 796px) {
         .col-12.col-lg-6.p8 {
             padding-bottom: 19px;
         }*/
    label.upper_level_title2 {
        color: #474951;
        font-size: 12px;
        margin: 0px;
        /*padding-right: 10px;*/
        padding: 6px 10px 0px 0px;
    }

    .input-group {
        border: transparent;
        background-color: #F4F4F4;
        padding: 0px;
        width: 100px;
        height: 29px;
        margin-right: 10px;
        border-radius: 4px;
        display: flex;
        justify-content: end;
    }

    input {
        border: none;
        background-color: transparent;
        box-shadow: none;
    }

}

@media screen and (max-width: 1385px) {
    #holiday {
        label.upper_level_title2 {
            font-size: 11px;
            padding: 7px 10px 0px 0px;
        }
    }
}

@media screen and (max-width: 1357px) {
    #holiday {
        label.upper_level_title2 {
            padding: 4px 2px 0px 0px;
        }
    }
}
@media screen and (max-width: 1362px) {
    #holiday {
        label.upper_level_title2 {
            font-size: 11px;
            padding: 6px 4px;
        }
        }
    }

@media screen and (max-width: 1257px) {
    #holiday {


        label.upper_level_title2 {
            padding: 0px;
            font-size: 10px;
        }

    }
}
@media screen and (max-width: 1257px) {
    #holiday {


        label.upper_level_title2 {
            padding: 0px;
            font-size: 10px;
        }

    }
    }

@media screen and (max-width: 1252px) {
    #holiday {
        label.upper_level_title2 {

            font-size: 11px;
        }
    }
}
@media screen and (max-width: 1233px) {
    #holiday {
        label.upper_level_title2 {

            font-size: 10px;
            padding: 0px;
        }
    }
}
@media screen and (max-width: 1025px) {
    #holiday {
        .table {
            width: 95%;
        }
    }
}
@media screen and (max-width: 800px) {
    #holiday {
        .table {
            width: 98%;
        }
    }
}

@media screen and (max-width: 995px) {
    #holiday {
        label.upper_level_title2 {
            padding: 0px 2px 0px 0px;
            font-size: 9px;
        }
        #holiday a.button_edit_input_title {
            padding-top: 0px;
        }

        .input-group {
            height: 25px;
        }
        .table {
            width: 93%;
        }

        }

    }

@media screen and (max-width: 992px) {
    #holiday {
        label.upper_level_title2 {
            padding: 6px 0px 0px 0px;
            font-size: 6px;
        }
    }
}

@media screen and (max-width: 991px){
    #holiday {
        label.upper_level_title2 {
            font-size: 10px;
            padding: 5px 10px;
        }
    }


}
@media screen and (max-width: 768px) {
    #holiday {
        .input-group {
            width: 35%;
            height: 30px;
        }

        table.table.table-borderless.table-l {
            padding: 10px;
            margin-left: 25px;
        }

        .table {
            width: 93%;
        }

        label.upper_level_title2 {
            font-size: 10px;
            padding: 7px 10px;
        }
    }
}
@media screen and (max-width: 760px) {
    #holiday {
        .table-l td, {
            /* border-color: white; */
            background-color: #FDFDFD !important;
            padding: 12px 0px 20px 18px;
        }
        .table-l thead th,{
            padding: 12px 0px 20px 18px;
        }
    }
}
@media screen and (max-width: 435px) {
    #holiday {
        table.table.table-borderless.table-l {

            margin-left: 11px;
        }
    }
}


@media screen and (max-width: 433px) {
    #holiday {
        .table_title {

            font-size: 14px;
        }
        thead.thead_title {

            font-size: 14px;


        }

        tbody.tbody_bolding {

            font-size: 12px;


        }
    }
}


@media screen and (max-width: 360px) {
    #holiday {
        .table {
            width: 88%;
        }
        label.upper_level_title2{
            font-size: 8px;
            padding: 6px 10px 0px 0px;
        }
    }
}
@media screen and (max-width: 434px) {
    #holiday {
        .table {
            width: 95%;
        }
         table.table.table-borderless.table-l {
            padding: 10px;
            margin-left: 8px;
        }
    }
}
@media screen and (max-width: 432px) {
    #holiday {
        label.upper_level_title2 {

            padding: 7px 5px;
        }
    }
}
@media screen and (max-width: 409px) {
    #holiday {
        label.upper_level_title2 {

            padding: 2px 5px;
        }
    }
}
@media screen and (max-width: 409px) {
    #holiday {
        label.upper_level_title2 {

            padding: 2px 5px;
        }
    }
}
@media screen and (max-width: 437px) {
    #holiday {
        .table {
            width: 84%;
        }
    }
}






