.home-2 {
    .report-total-summary {
        .col {
            min-width: 122px;
        }

        .card {
            padding: 12px 14px 8px;

            .text-primary {
                color: #151517 !important;
                font-size: 16px;
            }

            .text-secondary {
                color: #9CCEBF !important;
                font-size: 27px;
            }

            p {
                font-size: 14px;
            }

            .text-muted {
                color: #B0AEAF !important;
            }
        }

    }

    .chart-section {
        .main-title-1 {
            font-size: 20px;
            font-weight: 600;
            color: #050505;
        }

        .main-title-2 {
            font-size: 16px;
            font-weight: 600;
            color: #050505;
        }

        .card {
            .title-small {
                font-size: 14px;
                font-weight: 600;
                color: darken($blue, 30%);
            }

            .card-header {
                z-index: 5;

            }
            #barchart_values {
                margin-top: -64px;
                //font-family: Arial;
            }

            .card-body {

                .absolute-filter {
                    position: absolute;
                    width: 180px;
                    right: 15px;
                    top: 54px;
                    z-index: 5;

                    label.text-sm {
                        font-size: 12px;
                        margin-bottom: 0px;
                    }

                    input{
                        padding: 0px 9px;
                        font-size: 11px;
                    }
                }

            }
        }
    }


    .absolute-filter {
        position: absolute;
        width: 162px;
        right: 18px;
        top: 155px;
        z-index: 5;

        label.text-sm {
            font-size: 12px;
            margin-bottom: 0px;
        }

        input {
            padding: 0px 9px;
            font-size: 11px;
        }
    }

    .task-app-section {
        .task-icon {
            i {
                color: #63C6AA;
                font-size: 50px;
            }
        }

        .time-ago-warning {
            color: #FFA05C;
        }

        .time-ago-success {
            color: #63C6AA;
        }

        table {
            .task-app-title {
                color: #222F72;
                font-size: 14px;
                font-weight: 600;

                small {
                    font-size: 12px;
                    color: #C4C3C3;
                }
            }

            .date {
                font-weight: 600;
            }

            .time {
                color: #63C6AA;
            }

        }
    }

    .page-header {
        border-bottom: 0;
    }
}
