.btn-white {
    background-color: white;
    border-color: #F0F0F0;
}


.text-blue {
    color: #222F72 !important;
}
.title-style {
    font-weight: bold;
    font-size: 20px;
    color: #222F72 !important;
}
.btn-white {
    background-color: white;
}

.btn-border-radius {
    border-radius: 5px;
}
.btn-align {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inner-addon {
    position: relative;
    input{
        border-width:0px;
        border:none;
        width: 100%;
        border-radius: 5px;
    }

    input::-webkit-input-placeholder {
        font-size: 13px;
        color: #D5D5D5;
    }
    input::-moz-placeholder {
        font-size: 13px;
        color: #D5D5D5;
    }
    input:-ms-input-placeholder {
        font-size: 13px;
        color: #D5D5D5;
    }
    input:-moz-placeholder {
        font-size: 13px;
        color: #D5D5D5;
    }

    .icon{
        left:  0px;
        top: 4px;
        font-size: 13px;
        color: #D5D5D5;
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }
}

.left-addon input  { padding-left:  30px; }

.select-label{
    position: absolute;
    margin-top: 10px;
    font-size: 13px;
    margin-left: 10px;
    font-weight: 600
}

.page-link {
    border: 0;
}

.page-link:hover {
    z-index: 2;
    color: #fff;
    text-decoration: none;
    background-color: #222F72;
}

.my-custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 4.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    vertical-align: middle;

    background: #fff url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcThNky-NGO27ty-jxbZB6sx_eAKziTRJw7eVA&usqp=CAU) no-repeat right 0.75rem center/8px 10px;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select.my-custom-select.form-control {
    color: #222f72;
    font-weight: 600;
}

.spacer {
    margin-left: 10px;
}

.table {
    border-collapse: separate;
    border-spacing:0 10px;
    thead{
        tr{
            background-color: #EBEBEB;
            th:first-child{
                border-radius:5px 0 0 5px;
            }

            th:last-child{
                border-radius:0 5px 5px 0;
            }
        }
    }
    tbody{
        tr{
            background-color: white;

            td:first-child{
                border-radius:5px 0 0 5px;
            }

            td:last-child{
                border-radius:0 5px 5px 0;
            }
            .table-status{
                padding: 3px;
                border-radius: 5px;
                font-size: 13px;
                color: white;
                width: 103px;
                display: inline-block;
            }
            span.success{
                background-color: #8BD6C1 !important;
            }
            span.danger{
                background-color: #F9B69C !important;
            }
            span.warning{
                background-color: #F6C23E !important;
            }  span.primary{
                background-color: #6DCFF6 !important;
            }
            .view_leads{
                padding: 5px 20px 5px 20px;
                border-radius: 5px;
                background-color: white;
                font-size: 10px;
                font-weight: 600;
                color: #222f72;
                border: 2px solid #222f72;
            }
        }
        tr:hover {
            td{
                color: #8BD6C1;
            }
            .view_leads{

                color: #8BD6C1;

                border: 2px solid #8BD6C1;
            }
            -webkit-box-shadow: 1px 1px 12px 1px rgba(226,226,235,1);
            -moz-box-shadow: 1px 1px 12px 1px rgba(226,226,235,1);
            box-shadow: 1px 1px 12px 1px rgba(226,226,235,1);
        }
    }

}

