.profile-page {
    .nav-sub-title {
        background-color: #212e71;
        color: #fff;
        padding: 11px;
        font-weight: 600;
        padding-left: 25px;
    }

    .input-border {
        border: 1px solid #D7D7D7 !important;
        font-weight: normal !important;
        font-size: 1rem !important;
        padding: 0.375rem 0.75rem !important;
    }

    .questions-answer-section {
        margin-bottom: 30px !important;
    }

    .questions-answer-section {
        .form-group {
            margin-bottom: 14px !important;
        }
    }

    .form-group.row.question_2 {
        margin-top: -11px;
    }

    label.col-form-label {
        color: #303441 !important;
        font-size: 0.85rem;
    }

    p {
        margin-bottom: 0.5rem !important;
    }
}
