<template>
    <div class="dashboard profile-page">
        <!-- <div class="row">
             <div class="col-md-12">
                 <div class="row page-header border-bottom-0 mb-1">
                     <div class="col-md-6">
                         <h1 class="main-title">Billing</h1>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-md-3">
                         <div class="card shadow-sm">
                             <h6 class="card-title text-primary font-weight-bold">Next Billing</h6>
                             <h1 class="text-primary">£500.00</h1>
                             <p class="card-subtitle mb-2 text-muted">Automatic Renewal</p>
                         </div>
                     </div>
                     <div class="col-md-4 ">
                         <div class="card card-custom shadow-sm" style="min-height: 200px;">
                             <div class="col">
                                 <h6 class="card-title text-primary font-weight-bold">Plan Billing</h6>
                             </div>
                             <div class="d-flex">
                                 <div class="col">
                                     <h6 class="text-muted">Billing cycle</h6>
                                 </div>
                                 <div class="col">
                                     <h6 class="text font-weight-bold text-primary">Weekly</h6>
                                 </div>
                             </div>
                             <div class="d-flex mt-2">
                                 <div class="col">
                                     <h6 class="text-muted">Start Date</h6>
                                 </div>
                                 <div class="col">
                                     <h6 class="text font-weight-bold text-primary px-0">March 21, 2020</h6>
                                 </div>
                             </div>
                             <div class="d-flex mt-2">
                                 <div class="col">
                                     <h6 class="text-muted">Status</h6>
                                 </div>
                                 <div class="col">
                                     <h6 class="text font-weight-bold text-primary">Active</h6>
                                 </div>
                             </div>

                         </div>
                     </div>
                     <div class="col-md-5 ">
                         <div class="d-flex card-custom shadow-sm" style="min-height: 200px;">
                             <div class="col card">
                                 <h6 class="card-title text-primary font-weight-bold">Billing Details</h6>
                                 <img src="/images/mastercard.png" alt=""
                                      style="height: 40px !important; width: 56px !important;">
                                 <h6 class="card-subtitle mt-2 text-muted">**** **** **** 2347</h6>
                                 <h6 class="card-subtitle mt-1 ">Expires 09/25</h6>
                             </div>

                             <div class="col card">
                                 <h6 class="card-title text-primary font-weight-bold">Billing Address</h6>
                                 <h6 class="card-subtitle mb-2 text-muted">Dhaka,Bangladesh </h6>
                                 <h6 class="card-title text-primary font-weight-bold">Phone</h6>
                                 <h6 class="card-subtitle mb-2 text-muted">+2454958998596</h6>
                                 <button class="btn btn-primary btn-small-text mt-3"><i class="fa fa-edit"></i> Edit
                                 </button>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>-->
        <div class="col-md-12 mt-5">
            <div class="row justify-content-between page-header">
                <div class="col-md mt-3">
                    <h1 class="main-title">Invoices</h1>
                </div>
                <!--  <div class="col-md d-block ml-auto">
                      <nav class="nav nav-tabs justify-content-end border-bottom-0">
                          <a class="nav-item nav-link bg-primary text-white font-weight-bold" id="nav-home-tab"
                             data-toggle="tab"
                             href="#"
                             aria-controls="nav-home" aria-selected="true">Balance : - £259.00</a>
                      </nav>
                  </div>-->
            </div>


            <div class="form-row filter-bar">
                <div class="col-md-2">
                    <div class="dropdown">
                        <button class="btn btn-white btn-block bg-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            Sort By : <span class="text-primary font-weight-bolder" v-model="sort">{{ sort === 'asc' ? 'Ascending':'Descending' }}</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" @click.prevent="sort = 'asc';  getResults()">Ascending</a>
                            <a class="dropdown-item" href="#" @click.prevent="sort = 'desc';  getResults()">Descending</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="search-form">
                        <input type="text" placeholder="Search" class="form-control" v-model="search">
                        <i data-feather="search" class="ml-3"></i>
                    </div>

                </div>

                <div class="col-md-6">
                    <button class="btn btn-outline-primary bg-white text-primary float-right pl-5 pr-5">
                        <i class="fas fa-sliders-h fa-rotate-90"></i>
                        Filter
                    </button>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12 bg-white rounded table-responsive">
                    <br>
                    <table class="table p-4 table-borderless table-rounded">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th scope="col">Payment Number</th>
                            <th scope="col">Payment Type</th>
                            <th scope="col">Date & Time</th>
                            <th scope="col">Amount</th>
                            <th scope="col" class="text-center">Status</th>
                        </tr>
                        </thead>
                        <tbody  v-if="allInvoices.data.length !== 0">
                        <tr v-for="(invoice,index) in allInvoices.data">
                            <td>
                                <div>
                                    #{{invoice.id}}
                                </div>
                            </td>
                            <td>
                                --
                            </td>
                            <td class="text-capitalize">
                                {{ invoice.type ? invoice.type.replace('_',' ') : '--'}}
                            </td>
                            <td>{{ invoice.created_at ? formatDate(invoice.created_at) : '--'}}</td>

                            <td>
                                £{{ invoice.total_amount ?  invoice.total_amount : '--'}}
                            </td>

                            <td class="text-center">
                                <button type="button" class="btn btn-primary btn-small-text fixed-width-25">Pay</button>
                            </td>
                        </tr>

                        </tbody>
                        <tbody v-else class="">
                        <tr >
                            <td colspan="100%" class="p-0 rounded-0 mt-3">
                                <h4 class="alert alert-primary d-block text-center mb-0 text-primary">No Data</h4>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div v-if="allInvoices.data.length > 0 && allInvoices.last_page !== 1" class="d-flex justify-content-between py-3">
                        <nav aria-label="Page navigation example" style="float: left">
                            <select  @change="this_page_min = 1; this_page = 1; getResults(this_page)" v-model="per_page_items" class="form-control">
                                <option value="1">1</option>
                                <option value="3">3</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </nav>

                        <pagination :data="allInvoices" @pagination-change-page="getResults" class="mb-0" :show-disabled="true" :limit="offset" >
                            <span slot="prev-nav"><i class="fas fa-chevron-left"></i></span>
                            <span slot="next-nav"><i class="fas fa-chevron-right"></i></span>
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'Billing',
    props: ['invoices'],
    data() {
        return {
            allInvoices: JSON.parse(this.invoices),

            isLoading         : false,

            offset            : 3,
            this_page_min     : 1,
            per_page_items    : 10,
            this_page	      : 1,

            sort              : '',
            search            : ''

        }
    },

    mounted() {
        console.log(this.allInvoices)
    },

    methods: {
        getResults(page = 1) {
            this.isLoading = true;
            axios.get('/staff/billing/getInvoice', {
                params: {
                    page: page,
                    items: this.per_page_items,
                    sort: this.sort,
                    search: this.search,
                }
            })
                .then(response => {
                    this.allInvoices = response.data;
                    this.this_page = response.data.current_page;
                    this.this_page_min = this.per_page_items * (this.this_page - 1) + 1;
                    // console.log('dsd', this.allCampaign);
                }).catch((error)=>{
                toastr["error"](error.message);
                console.log(error);
            }).finally(()=>{
                this.isLoading = false;
            });
        },
        formatDate(dateString) {
            const options = { year: "numeric", month: "short", day: "numeric" }
            return new Date(dateString).toLocaleDateString(undefined, options)
        },
    },
    computed: {}

}
</script>
