<template>
    <div id="dashboard" class="invoice">
        <div class="row justify-content-between page-header">
            <div class="col-md-6">
                <h1 class="main-title">Invoices</h1>
            </div>
        </div>


        <div class="form-row filter-bar">
            <!--<div class="col-md-2">
                <button class="btn btn-primary btn-block">+ Create Invoice</button>
            </div>-->

            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-white btn-block bg-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Sort By : <span class="text-primary font-weight-bolder" v-model="sort">{{ sort === 'asc' ? 'Ascending':'Descending' }}</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#" @click.prevent="sort = 'asc'; getInvoices()">Ascending</a>
                        <a class="dropdown-item" href="#" @click.prevent="sort = 'desc'; getInvoices()">Descending</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="search-form">
                    <input type="text" placeholder="Search" class="form-control" v-model="search">
                    <i data-feather="search" class="ml-3"></i>
                </div>

            </div>

            <div class="col-md-6">
                <button class="btn btn-outline-primary bg-white text-primary float-right pl-5 pr-5" @click="getInvoices()">
                    <i class="fas fa-sliders-h fa-rotate-90"></i>
                    Filter
                </button>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12 bg-white rounded table-responsive">
                <table class="table p-4 table-borderless table-rounded my-3">
                    <thead>
                    <tr>
                        <th scope="col" class="text-nowrap">Status</th>
                        <th scope="col" class="text-nowrap">Business Name</th>
                        <th scope="col" class="text-nowrap">Full Name</th>
                        <th scope="col" class="text-nowrap">Issued On</th>
                        <th scope="col" class="text-nowrap">Amount</th>
                        <th scope="col" class="text-nowrap">Paid On</th>
                        <th scope="col" class="text-nowrap">Method</th>
                        <th scope="col" class="text-nowrap"></th>
                        <!--                        <th scope="col" class="text-nowrap" colspan="3">Type</th>-->
                    </tr>
                    </thead>
                    <tbody v-if="allInvoices.data.length !== 0">
                    <tr :class="invoice.status ==='pending' ? 'due-text1' : ''" v-for="(invoice, index) in allInvoices.data">
                        <td>
                            <span v-if="invoice.status ==='pending'" class="badge badge-danger">Due</span>
                            <span v-else class="badge badge-success">Paid</span>
                        </td>
                        <td class="text-nowrap mute text-capitalize" >
                            {{ invoice.user.company ? invoice.user.company.name : '--' }}
                        </td>
                        <td class="text-nowrap mute text-capitalize">
                            {{ invoice.user ? invoice.user.name : '--' }}
                        </td>
                        <td class="text-nowrap">
                            {{ invoice.created_at ?  formatDate(invoice.created_at) : '--' }}
                        </td>
                        <td class="text-nowrap">
                            {{ invoice.total_amount ? invoice.total_amount : '--' }}
                        </td>
                        <td class="text-nowrap">
                            {{ invoice.paid_date ? formatDate(invoice.paid_date) : '--' }}
                        </td>
                        <td class="text-nowrap text-capitalize">
                            <template v-if="invoice.response">
                                {{ JSON.parse(invoice.response).payment_method_details ? JSON.parse(invoice.response).payment_method_details.type : '--' }}
                            </template>
                            <template v-else>--</template>
                        </td>
                        <!--                        <td class="text-nowrap">-->
                        <!--                            {{ invoice.type ? invoice.type.replace('_', ' ').toUpperCase()  : ''}}-->
                        <!--                        </td>-->

                        <td v-if="invoice.status === 'completed'" class="text-center">
                            <span class="badge badge-primary cursor-pointer" @click="exportPdf(invoice.id)">PDF</span>
                        </td>
                        <td v-if="invoice.status ==='pending'" class="text-center">
                            <button type="button" class="btn btn-primary btn-small-text fixed-width-15" @click="payNow(index)" v-if="invoice.status ==='pending'">Pay</button>
                        </td>
                    </tr>
                    </tbody>
                    <tbody v-else class="">
                    <tr >
                        <td colspan="100%" class="p-0 rounded-0 mt-3">
                            <h4 class="alert alert-primary d-block text-center mb-0 text-primary">No Data</h4>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div v-if="allInvoices.data.length > 0 && pagination.last_page != 1" class="d-flex justify-content-between pb-3">
                    <nav aria-label="Page navigation example" style="float: left">
                        <select name="" id="" @change="this_page_min = 1; this_page = 1; getInvoices(this_page)" v-model="per_page_items" class="form-control">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </nav>
                    <!-- .pagination -->
                    <nav aria-label="...">
                        <ul class="pagination pagination justify-content-center mb-0">
                            <li class="page-item cursor-pointer" :class="{ disabled: pagination.current_page <= 1 }">
                                <a class="page-link" @click.prevent="changePage(pagination.current_page - 1); getInvoices(pagination.current_page)"> <i class="fas fa-chevron-left"></i> </a>
                            </li>
                            <li class="page-item cursor-pointer" :class="isCurrentPage(1) ? 'active' : ''">
                                <a class="page-link" @click.prevent="changePage(1); getInvoices(1)"  >{{ '1' }}
                                    <span v-if="isCurrentPage(1)" class="sr-only">(current)</span>
                                </a>
                            </li>


                            <li v-if="leftDots_" class="page-item cursor-default disabled">
                                <a class="page-link" @click.prevent="">...</a>
                            </li>
                            <li class="page-item cursor-pointer" v-for="page in pages" :key="page" :class="isCurrentPage(page) ? 'active' : ''">
                                <a class="page-link" @click.prevent="changePage(page); getInvoices(page)">{{ page }}
                                    <span v-if="isCurrentPage(page)" class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li v-if="rightDots_" class="page-item cursor-default disabled">
                                <a class="page-link" @click.prevent="">...</a>
                            </li>


                            <li class="page-item cursor-pointer" :class="isCurrentPage(pagination.last_page) ? 'active' : ''">
                                <a class="page-link" @click.prevent="changePage(pagination.last_page); getInvoices(pagination.last_page)">{{ pagination.last_page }}
                                    <span v-if="isCurrentPage(pagination.last_page)" class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="page-item cursor-pointer" :class="{ disabled: pagination.current_page >= pagination.last_page }">
                                <a class="page-link" @click.prevent="changePage(pagination.current_page + 1); getInvoices(pagination.current_page)"> <i class="fas fa-chevron-right"></i> </a>
                            </li>
                        </ul>
                    </nav><!-- .end-pagination -->
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'StaffBillingIndex',
    props: ['invoices'],
    data() {
        return {
            allInvoices: JSON.parse(this.invoices),
            pagination: JSON.parse(this.invoices),

            offset            : 3,
            leftDots_         : false,
            rightDots_        : false,
            this_page_min     : 1,
            per_page_items    : 10,
            this_page	      : 1,
            sort              : '',
            search            : ''


        }
    },

    mounted() {
        if (this.allInvoices.data.length > 0) {
            this.changePage(this.pagination.current_page);
        }
    },

    methods: {
        payNow(index) {
            let invoice = this.allInvoices.data[index];
            let pay     = {
                amount: invoice.total_amount,
                user_id: invoice.user.id
            };
            if(!invoice.user.card_last_four) toastr['error']('Card Expired or Invalid');
            else {
                axios.post(`/staff/client/payNow/${invoice.id}`, pay)
                    .then(response => {
                        toastr['success']('This Payment Done!');
                        this.getInvoices(this.this_page);
                    })
                    .catch(error => {
                        toastr['error'](error.message);
                    });
            }
        },
        exportPdf(id) {
            console.log(id)
            axios.get(`/staff/billing/pdf/${id}`)
                .then(response => {
                    window.open(response.data);
                })
                .catch(error => {
                })
        },
        getInvoices(page=0) {
            axios.get('/staff/billing/getInvoice', {
                params : {
                    page: page,
                    items: this.per_page_items,
                    sort: this.sort,
                    search: this.search
                },
            }).then((response) => {
                this.allInvoices   = response.data;
                this.pagination    = response.data;
                this.this_page_min = this.per_page_items * (this.this_page - 1) + 1;
                this.changePage(this.pagination.current_page);
            });
        },
        getFlag(status){
            let badge = 'badge-primary';

            switch(status) {
                case "send":
                    badge = "badge-warning";
                    break;
                case "signed":
                    badge = "badge-success";
                    break;
                case "mark_as_signed":
                    badge = "badge-danger";
                    break;
                default:
                    badge = "badge-primary";
            }
            return badge;
        },
        isCurrentPage(page){
            return this.pagination.current_page === page
        },
        changePage(page) {
            if (page > this.pagination.last_page) {
                page = this.pagination.last_page;
            }
            this.pagination.current_page = page;
            this.this_page               = page;

            if (this.offset >= page) this.leftDots_ = false;
            else this.leftDots_ = true;


            if (this.pagination.last_page - this.offset + 1 <= page) this.rightDots_ = false;
            else this.rightDots_ = true;


            if (this.pagination.last_page - 1 == this.offset) this.rightDots_ = false;

            // this.$emit('paginate');
        },

        formatDate(dateString) {
            const options = { year: "numeric", month: "short", day: "numeric" }
            return new Date(dateString).toLocaleDateString(undefined, options)
        },
    },
    computed: {
        pages() {
            let pages = []
            let from = this.pagination.current_page - Math.floor(this.offset / 2)
            if (from < 1) {
                from = 1
            }
            let to = from + this.offset - 1

            if (to > this.pagination.last_page) {
                to = this.pagination.last_page
            }
            while (from <= to) {
                if (from > 1 && from < this.pagination.last_page) {
                    pages.push(from)
                }
                from++
            }

            return pages
        }
    }

}
</script>
