<template>
    <div id="dashboard">
        <div class="row justify-content-between page-header">
            <div class="col-md-6">
                <h1 class="main-title">Appointments</h1>
            </div>
        </div>

        <div class="form-row filter-bar">
            <div class="col-md-2">
                <button class="btn btn-primary btn-block" data-target=".bd-example-modal-lg" data-toggle="modal"
                        type="button">+ New Appointment
                </button>
            </div>

            <div class="col-md-2">

            </div>
            <div class="col-md-4">


            </div>

            <!--<div class="col-md-4">
                <button class="btn btn-outline-primary bg-white text-primary float-right pl-5 pr-5">
                    <i class="fas fa-sliders-h fa-rotate-90"></i>
                    Filter
                </button>
            </div>-->
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="main-content-area rounded">
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="schedule-callender-wrap">
                                <div class="calendar-wrap">
                                    <FullCalendar ref="fullCalendar" @eventClick="handleEventClick"
                                                  :options="calendarOptions"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="dash-sidebar">
                                <div class="team-members rounded">
                                    <h3>Team Member</h3>
                                    <ul>
                                        <li v-for="member in members_data">
                                            <i class="fas fa-check-circle ml-1 mr-2"
                                               :style="`color:${member.member_color}; font-size:21px`"></i>
                                            {{ member.name}}
                                        </li>

                                        <!--                                        <li><img src="images/check-perano.svg" alt="">Adam James</li>-->
                                    </ul>
                                </div>
                                <div class="sidebar-calender">
                                    <div id="pb-calendar" class="pb-calendar"></div>
                                </div>
                            </div>
                            <div class="dash-sidebar pt-0 mt-0">
                                <!-- <v-date-picker
                                     v-model='selectedDate'
                                     is-inline
                                     is-expanded
                                     title-position="left"
                                     :attributes="attributes"
                                     :locale="{ firstDayOfWeek: 2, masks: { weekdays: 'WWW' } }"
                                     @dayclick="pickerDateChange"
                                 >
                                 </v-date-picker>-->
                                <v-date-picker
                                    v-model='selectedDate'
                                    is-inline
                                    is-expanded
                                    title-position="left"
                                    :attributes="attributes"
                                    @dayclick="pickerDateChange"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <div id="calendar_basic" style="width: 1000px; height: 350px;"></div>

            </div>
        </div>
        <!--Create Modal -->
        <div class="modal fade bd-example-modal-lg" id="add_Appointment" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white font-weight-bold">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Appointment</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="saveData" method="post">
                            <div class="form-group row">
                                <label for="title" class="col-sm-4 col-form-label">Title</label>
                                <div class="col-sm-8">
                                    <input required class="form-control" v-model="addAppointment.title" id="title">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="member_id" class="col-sm-4 col-form-label">Client</label>
                                <div class="col-sm-8">
                                    <select required class="form-control" v-model="addAppointment.member_id"
                                            id="member_id">
                                        <option selected="" value="">Select Client</option>
                                        <option :value="member.id" v-for="member in members_data">{{ member.name }}
                                        </option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Date</label>
                                <div class="col-sm-8">
                                    <v-date-picker
                                        v-model="addAppointment.date"
                                    />
                                    <!--                                    <input required type="date" class="form-control"-->
                                    <!--                                           v-model="addAppointment.date" id="date">-->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="from" class="col-sm-4 col-form-label">From (time)</label>
                                <div class="col-sm-8">
                                    <input required type="time" class="form-control"
                                           v-model="addAppointment.from"
                                           id="from">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="to" class="col-sm-4 col-form-label">To (time)</label>
                                <div class="col-sm-8">
                                    <input required type="time" class="form-control"
                                           v-model="addAppointment.to"
                                           id="to">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="description" class="col-sm-4 col-form-label">Description</label>
                                <div class="col-sm-8">
                                    <textarea v-model="addAppointment.description" id="description"
                                              class="form-control"></textarea>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>
<script>
    import FullCalendar from '@fullcalendar/vue'
    import dayGridPlugin from '@fullcalendar/daygrid'
    import timeGridPlugin from '@fullcalendar/timegrid'

    import VCalendar from 'v-calendar'

    export default {
        name: 'AppCal',
        props: ['events', 'dots', 'members'],
        components: {
            FullCalendar, VCalendar
        },
        data() {
            return {
                addAppointment: {
                    title: '',
                    member_id: '',
                    date: new Date(),
                    from: '',
                    to: '',
                    description: '',
                },
                calendarOptions: {
                    plugins: [dayGridPlugin, timeGridPlugin],
                    initialView: 'timeGridWeek',
                    headerToolbar: {
                        left: 'title',
                        right: 'dayGridMonth,timeGridWeek'
                    },
                    events: [],
                    eventDidMount: function (info) {
                        $(info.el).find(".fc-event-title").append("<br/><small>" + info.event.extendedProps.description + "</small>");
                    }
                },
                selectedDate: new Date(),
                attributes: [],
                members_data: [],
                show_event_details_modal: false,
            }
        },
        mounted() {
            this.calendarOptions.events = JSON.parse(this.events);
            this.attributes = JSON.parse(this.dots);
            this.members_data = JSON.parse(this.members);
        },
        methods: {
            handleEventClick(e) {
                this.current_event = e.event
                console.log(this.current_event)
                this.show_event_details_modal = true
            },
            pickerDateChange(event) {
                let calendarApi = this.$refs.fullCalendar.getApi();
                calendarApi.gotoDate(event.id)
            },
            saveData() {
                this.addAppointment.date = this.dateFormat(this.addAppointment.date)
                axios.post('/add/appointment', this.addAppointment).then((response) => {
                    $('#add_Appointment').modal('toggle');
                    toastr["success"]("Appointment Create Successfully")
                    this.calendarOptions.events = JSON.parse(response.data.events);
                    this.attributes = JSON.parse(response.data.dots);
                    this.addAppointment = {
                        title: '',
                        member_id: '',
                        date: '',
                        from: '',
                        to: '',
                        description: '',
                    };
                }).catch((error) => {
                    toastr["error"](error.message)
                    console.log(error.message)
                })
            },
            dateFormat(date) {
                return moment(date).format('YYYY-MM-DD');
            }
        }
    }
</script>

<style lang="scss">
    .schedule-callender-wrap {
        .fc-v-event {
            .fc-event-title {
                color: #ffffff !important;
            }
        }
    }
</style>
