<template>
    <div id="dashboard" class="report">
        <div class="row justify-content-between page-header">
            <div class="col-md-6">
                <h1 class="main-title">Reports</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-5">
                <div class="card">
                    <div class="card-header bg-white border-0">
                        <div class="row justify-content-between">
                            <div class="col">
                                <h5 class="title-small">Monthly Revenue</h5>
                            </div>
                            <div>
                                <div class="dropdown">
                                    <button class="btn btn-white btn-block bg-white dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                        <span class="text-primary font-weight-bolder"
                                              id="ordering">{{ year == currYear ? 'This Year' : year }}</span>
                                    </button>
                                    <input type="hidden" id="sort" name="sort" value="all">
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
                                         id="dropdownMenuList">
                                        <a class="dropdown-item"
                                           v-for="last_6_year in last_6_years" @click="getYearBy(last_6_year)"
                                        >{{ last_6_year }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-body p-0">
                        <div id="line_chart" class="bg-white">
                            <apexchart type="line" height="350" :options="lineChartOptions"
                                       :series="lineSeries"></apexchart>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-5">
                <div class="card">
                    <div class="card-header bg-white border-0">
                        <div class="row justify-content-between">
                            <div class="col">
                                <h5 class="title-small">Billing Breakdown</h5>
                            </div>
                            &lt;!&ndash;<div>
                                <div class="dropdown">
                                    <button class="btn btn-white btn-sm dropdown-toggle no-arrow" type="button"
                                            id="dropdownMenuButton2"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>&ndash;&gt;
                        </div>

                    </div>

                    <div class="card-body">

                        <div class="absolute-filter mt-5">
                            <div class="form-group mb-0">
                                <label for="" class="text-sm">From</label>
                                <v-date-picker
                                    v-model="from_date"
                                />
                            </div>
                            <div class="form-group">
                                <label for="" class="text-sm">To</label>
                                <v-date-picker
                                    v-model="to_date"
                                />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-sm btn-block"
                                        @click.prevent="leadsPickerDateChange"> Submit
                                </button>
                            </div>
                        </div>

                        <div id="donutchart">
                            <div id="chart" class="bg-white">
                                <apexchart type="donut" width="380" :options="donutChartOptions"
                                           :series="donutSeries"></apexchart>
                            </div>
                            <div id="labelOverlay">
                                <span class="text-primary font-weight-bold">{{ billing_total_sales | numberFormat }}</span>
                                <span class="total-size d-block" style="font-size: 11px!important;">Total Sales</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>

        <div class="row">
            <div class="col-md-12 mb-5">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li v-for="(last_6_month, index) in last_6_months" class="nav-item" role="presentation">
                        <a @click="getReportData(last_6_month)" :class="index == 0 ? 'active' : ''"
                           class="nav-link "
                           id="home-tab" data-toggle="tab" href="#this_month" role="tab"
                           aria-controls="home" aria-selected="true">{{ index == 0 ? 'This Month' : last_6_month }} </a>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="this_month" role="tabpanel" aria-labelledby="home-tab">
                        <div class="bg-white" id="barchart">
                            <apexchart type="bar" :options="barChartOptions"
                                       :series="barSeries"></apexchart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
const COUNT_FORMATS =
    [
        { // 0 - 999
            letter: '',
            limit: 1e3
        },
        { // 1,000 - 999,999
            letter: 'K',
            limit: 1e6
        },
        { // 1,000,000 - 999,999,999
            letter: 'M',
            limit: 1e9
        },
        { // 1,000,000,000 - 999,999,999,999
            letter: 'B',
            limit: 1e12
        },
        { // 1,000,000,000,000 - 999,999,999,999,999
            letter: 'T',
            limit: 1e15
        }
    ];

import VueApexCharts from 'vue-apexcharts'
import moment from "moment"; //Import Moment
export default {
    name: 'CustomerDashboard',
    data() {
        return {
            from_date: '',
            to_date: '',
            month: '',
            year: '',
            currYear: '',
            billing_total_sales: 0,

            last_6_months: [],
            last_6_years: [],
            // --------line chart------
            lineSeries: [{
                name: "Revenue",
                data: [],
            }],
            lineChartOptions: {
                chart: {
                    height: 350,
                    type: 'line',
                    zoom: {
                        enabled: false
                    }
                },
                dataLabels: {
                    enabled: false,
                    style: {
                        fontSize: "13px",
                    }
                },
                stroke: {
                    curve: 'straight'
                },
                title: {
                    // text: 'Product Trends by Month',
                    align: 'left'
                },
                grid: {
                    row: {
                        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                        opacity: 0.5
                    },
                },
                yaxis: {
                    labels: {
                        formatter: function (value) {
                            const format = COUNT_FORMATS.find(format => (value < format.limit));
                            value = (1000 * value / format.limit);
                            value = Math.round(value * 10) / 10; // keep one decimal number, only if needed

                            return "£" + (value + format.letter);
                        }
                    },
                },
                xaxis: {
                    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                }
            },
            // --------donut chart------
            donutSeries: [],
            donutChartOptions: {
                colors: ['#212E71', '#106CFF', '#3AAFE6', '#C4BBAF'],
                chart: {
                    width: 380,
                    type: 'donut',
                },
                labels: [],
                dataLabels: {
                    enabled: false
                },
                responsive: [{
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 200
                        },
                        legend: {
                            show: false
                        }
                    }
                }],
                legend: {
                    position: 'bottom',
                    offsetY: 0,
                    // height: 530,
                }
            },
            // --------bar chart------
            barSeries: [{
                data: []
            }],
            barChartOptions: {
                chart: {
                    type: 'bar',
                    height: 400,
                    stacked: true,
                },
                colors: ['#212e71'],
                plotOptions: {
                    bar: {
                        horizontal: true,
                    }
                },
                dataLabels: {
                    enabled: false
                },
                xaxis: {
                    categories: [],
                    labels: {
                        formatter: function (val) {
                            return val
                            // return val + "K"
                        }
                    }
                }
            },

        }
    },
    components: {
        apexchart: VueApexCharts,
    },
    mounted() {
        let currMonthName = moment().format('MMMM');
        this.currYear = moment().format('Y');
        this.month = currMonthName;
        this.year = this.currYear;
        this.getReportData(currMonthName)
    },
    methods: {
        nFormatter(num) {

            return num;
        },
        dateFormat(date) {
            return moment(date).format('YYYY-MM-DD');
        },
        getYearBy(year) {
            this.year = year;
            this.getReportData(this.month)
        },
        getReportData(month) {
            this.month = month
            axios.get('/staff/report-data', {
                params: {
                    month: this.month,
                    year: this.year,
                }
            }).then((response) => {
                this.last_6_months = response.data.last_6_months;
                this.last_6_years = response.data.last_6_years;
                //lineSeries
                let lineSeriesData = response.data.monthlyRevenue.count;
                this.lineSeries = [{
                    data: lineSeriesData,
                }];

                //donutSeries
                this.donutSeries = response.data.billingTotalSale.amount;
                let donutChartLabels = response.data.billingTotalSale.type;
                this.donutChartOptions = {
                    labels: donutChartLabels,
                }
                this.billing_total_sales = response.data.billingTotalSale.total_amount;

                //barSeries
                let barSeriesData = response.data.geInvoiceAmountByMonth.data
                this.barSeries = [{
                    data: barSeriesData
                }];
                let barChartCategories = response.data.geInvoiceAmountByMonth.name;
                let chartHeight = parseInt(barChartCategories.length);
                if (chartHeight === 0) {
                    chartHeight = 2;
                } else if (chartHeight === 1) {
                    chartHeight = 5;
                } else if (chartHeight === 2) {
                    chartHeight = 4;
                } else {
                    chartHeight = chartHeight;
                }
                // if (chartHeight === 0) chartHeight = 2;
                this.barChartOptions = {
                    chart: {
                        height: chartHeight * 40
                    },
                    xaxis: {
                        categories: barChartCategories
                    }
                }
            });
        },
        leadsPickerDateChange() {
            if (this.from_date != ' ' && this.to_date != '') {
                this.series = [];
                axios.get('/staff/billing-sale', {
                    params: {
                        from_date: this.dateFormat(this.from_date),
                        to_date: this.dateFormat(this.to_date),
                    }
                }).then((response) => {
                    this.donutSeries = response.data.amount;
                    let donutChartLabels = response.data.type;
                    this.donutChartOptions = {
                        labels: donutChartLabels,
                    }
                    this.billing_total_sales = response.data.total_amount;

                });
            } else {
                toastr["error"]('From and To filed are required')
            }

        },
    },

}
</script>
