// Global component styles

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

a {
  &:focus {
    outline: none;
  }
}

// Main page wrapper
#wrapper {
  display: flex;
  #content-wrapper {
    background-color: $gray-100;
    width: 100%;
    overflow-x: hidden;
    #content {
      flex: 1 0 auto;
    }
  }
}

// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: $white;
  background: fade-out($gray-800, .5);
  line-height: 46px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}
//customize
.btn-color1{
  background-color: $btn_color;
}
.blue{
  background-color: $btn_blue;
}
.alert{
  color: $alert;
}
.green{
    color: $green;
}
.red{
    color:$red;
}
.title-blue{
    color:$blue;
}

.font_14{
    font-size: 14px!important;
}
.font_18{
    font-size: 18px!important;
}
.title_30{
    font-size: 30px!important;

}
.black_title{
    color:#2c2e3e!important;
    font-weight: 600!important;
}
.font-weight_600{
    font-weight: 600;
}
.font_blue{
    color:#222e72;
}
