/*#dashboard {
    //background-color: red;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: black !important;
    }
    .top-card {
        //text-align: right;
        .top-vector {
            position: absolute;
            top: -14px;
            right: 25px;
            z-index: 99;
        }
        .small-vector {
            position: absolute;
            right: 61px;
            top: -19px;
            img {
                width: 20px;
            }
        }
        .one {
            img {
                width: 14px;
            }
            z-index: 999;
            position: absolute;
            right: 45px;
        }
        h3 {
            font-size: 30px;
            color: #232323;
        }
        p {
            font-size: 22px;
            color: #727272;
           // width: 528px;
        }
        .btn {
            padding: 12px 50px;
            margin-top: 20px;
            border-radius: 5px;
            border: none;
        }
        .card-body{
            text-align: left;
        }
    }
    .card {
        // background-color: blue;
        border-radius: 5px;
        border: none;
        text-align: center;
        .vector {
            position: absolute;
            top: 12px;
            right: 15px;
        }
        img {
            max-width: 100%;
            height: 100%;
        }
        .card-text {
            //text-align: center;
         //  background-color: blue;
            min-height: 150px;
            position: relative;
            h3 {
                font-size: 20px;
            }
            p,
            a {
                font-size: 14px;
            }
            a {
                font-weight: 700;
                color: #222f72;
                text-decoration: underline;
                text-transform: uppercase;
            }


        }

            .custom_button {
                background-color: #222f72 !important;
                opacity: 50%;
                border: none !important;
                width: 90%;
                height: 45px;
                border-radius: 7px;
                font-size: 14px;
                // margin-top: 45px;
            }

        .card-img {
            max-width: 216px;
        }
    }
    .min-height {
        min-height: 475px;
    }
}
!* Small devices *!
@media screen and (max-width: 640px) {
    #dashboard{
        .top-card {
            .card-body{
                .top-card-img{
                    text-align:center!important;
                    }
            }

            h3{

                font-size: 20px!important;

            }
            p{
                width:100%!important;
                font-size:15px;
            }
            .btn {
                padding: 8px 28px;
                margin-top: 7px;
                border-radius: 5px;
                border: none;
                font-size: 12px;
            }
        }
        .card{
            .card-text{
                h3{
                    font-size:15px!important;
                }
                .custom_button{
                    height: 34px!important;
                }
            }

        }
    }

}
!* medium phone  *!
@media screen and (min-width: 641px) and (max-width: 768px) {
    #dashboard{
        .top-card {
            .top-card-img {
                height: 150px!important;
                text-align: center;
            }
            h3{

                font-size: 22px!important;
                margin-top:10px;

            }
            p{
                width:100%!important;
                font-size:14px;
            }
            .btn {
                padding: 8px 28px;
                margin-top: 7px;
                border-radius: 5px;
                border: none;
                font-size: 12px;
            }
        }
        .card{
            .card-text{
                h3{
                    font-size:22px!important;
                }
                .custom_button{
                    height: 34px!important;
                }
            }

        }
    }

}
!* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint *!
@media screen and (min-width: 768px) and (max-width: 991px) {
    #dashboard{
        .top-card {
            .top-card-img {
                height: 150px!important;
            }
            h3{

                font-size: 22px!important;

            }
            p{
                width:100%!important;
                font-size:14px;
            }
            .btn {
                padding: 8px 28px;
                margin-top: 7px;
                border-radius: 5px;
                border: none;
                font-size: 12px;
            }
        }
        .card{
            .card-text{
                min-height: 200px!important;
                h3{
                    font-size:15px!important;

                }
                .custom_button{
                    padding: 5px 0px;
                    margin-top: 7px;
                    border-radius: 5px;
                    border: none;
                    font-size: 12px;
                }
            }

        }
    }
}
!* Large devices (desktops, 992px and up) *!
@media screen and (min-width: 992px) and (max-width: 1200px) {
}*/
#dashboard {

    .card {
        box-shadow: 0 30px 60px rgba(219, 219, 219, 0.25);
        border-radius: 4px;
        border-color: transparent;
        position: relative;

        .card-img{
            //height: 256px;
            overflow: hidden;
        }

        .vector {
            position: absolute;
            right: 7px;
        }

        h3{
            color: #232323!important;
            font-size: 20px;
            margin-bottom: 20px;
        }

        p{
            color: #727272;
            font-size: 14px;
            font-weight: normal;
            height: 79px;
            overflow: hidden;
        }

        .custom_button{
            width: 190px;
            background: rgba(34, 47, 114, 0.5);
            border-radius: 5px;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: #ffffff;
            border-color: transparent;
            padding: 11px 0;
        }
    }

    .top-card {


        .ribon {
            position: relative;

            .top-vector {
                position: absolute;
                right: 38px !important;
                top: -12px;
                z-index: 999;
                p{
                    position: absolute;
                    top: 7px;
                    font-size: 32px;
                    color: #ffffff;
                    font-weight: 600;
                    width: 43px;
                    text-align: center;
                }
            }

            .small-vector {
                position: absolute;
                right: 76px;
                top: -20px;
            }

        }


        .w-19px {
            width: 190px;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.0120588em;
            padding: 11px 26px;
            color: #ffffff;
        }

        .main-title {
            font-weight: 600;
            font-size: 30px;
            line-height: 41px;
            letter-spacing: 0.0120588em;
            color: #232323 !important;
        }

        .sub-title {
            font-weight: normal;
            font-size: 22px;
            line-height: 30px;
            letter-spacing: 0.0120588em;
        }

    }


}
