@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

#accordionSidebar {
    .logo {
        width: 100%;
        padding-bottom: 15px;
        //padding-top: 20px;
    }

    background-color: #ffffff !important;

    .nav-item {
        padding: 2px 0px !important;

        .nav-link, i {
            color: #303441 !important;
        }
    }

    li.nav-item.menu-active {
        border-left: 3px solid #222F72;
        border-radius: 0px 5px 5px 0px;
        transition: .3s;
        background-color: #222e72 !important;
        width: 87%;

        .nav-link {
            font-weight: 500;
            color: #eaebef !important;
        }
    }

    #sidebarToggle {
        background-color: #222F71 !important;
        display: none !important;

        :hover {
            background-color: #222F71 !important;
        }

    }
}

@media (min-width: 768px) {
    .sidebar .nav-item .nav-link {
        padding: 10px 14px !important;

    }
}

.sidebar {
    .sidebar-brand {
        margin-bottom: 0px !important;
    }
}
