
#topbar {
    //background-color: red!important;

    .img-profile{
        width: 45px!important;
        height: 45px!important;
    }

    .auth-user{
        letter-spacing: -0.02em!important;
        color: #222F72!important;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        margin-left: 10px;
    }

    .title {
        h3 {
            color: #263238;
            font-size: 20px;
            line-height: 21px;
            font-weight: 600;
        }

        @include breakpoint('xs') {
            display: none;
        }
        @include breakpoint('sm') {
            display: none;
        }
    }

    .dropdown-toggle::after {
        color: #222F72 !important;
    }

    .search-input {
        border: 1px solid #ABABAB;
        border-radius: 30px;
        width: 384px;
        position: relative;

        i{
            color: #ABABAB;
        }

        input {
            background-color: transparent;
            border: none;
            font-weight: 100;
            padding: 22px 0;
            width: 85% !important;
            color: #000000 !important;
            font-size: 14px!important;
            font-style: normal;
            letter-spacing: -0.02em;

            ::placeholder {
                color: red !important;
                font-size: 14px !important;
            }

            @include breakpoint('xs') {
                width: 76% !important;


            }
        }

    }

    .bell {
        color: #FAD137;
        font-size: 2rem;
    }

    .img-profile {
        height: 3rem;
        width: 3rem;
    }

}

//@media screen and (min-width: 581px)and (max-width: 640px) {
//    #topbar {
//        .search-input {
//
//            input{
//                width: 70% !important;
//            }
//        }
//
//    }
//
//}
/* Small devices */
//@media screen and (max-width: 640px) {
//    #topbar {
//        .search-input {
//
//            width: 277px !important;
//        }
//
//        .title {
//            h3 {
//
//                font-size: 12px !important;
//
//            }
//        }
//
//
//    }
//}
