<template>
    <div>
        <canvas  ref="canvas"></canvas>
    </div>
</template>

<script>
    export default {
        props: [
            'labels',
            'values',
            'uniqueid',
            'dashboard'
        ],
        methods: {
            renderChart() {
                var ctx = this.$refs.canvas.getContext('2d');
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: this.labels,
                        datasets: [{
                            label: this.dashboard,
                            data: this.values,
                            backgroundColor: '#71a5f5'
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            fontSize: 22,
                            responsive: true,
                            // text: 'Total Loan Amount Disbursed'
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    userCallback: function(label, index, labels) {
                                        // when the floored value is the same as the value we have a whole number
                                        if (Math.floor(label) === label) {
                                            return label;
                                        }

                                    },
                                }
                            }],
                        },
                    }
                });
            },
            createChart(chartId, chartData) {
                const ctx = document.getElementById(chartId);
                const myChart = new Chart(ctx, {
                    type: chartData.type,
                    data: chartData.data,
                });
            }
        },
        mounted() {
            this.renderChart();
        }
    }
</script>
