<template>
    <div>
        <!-- <div v-if="status == 'PENDING'">
            <h5>Amount due: <span class="badge badge-danger badge-pill"><span>&#163;</span>{{amount}}</span></h5>
        </div>
        <div v-else>
            <h5>Amount Paid: <span class="badge badge-primary badge-pill"><span>&#163;</span>{{amount}}</span></h5>
        </div> -->
        <!--        <h3 v-if="status == 'PENDING'">Manage Your Subscription</h3>-->


        <div v-if="saved == 'no'">
            <label v-if="status == 'PENDING'">Card Holder Name</label>
            <input id="card-holder-name" type="text" v-model="name" class="form-control mb-2" v-if="status == 'PENDING'">
            <label v-if="status == 'PENDING'">Card Details</label>
            <div id="card-element" v-show="status == 'PENDING'">
            </div>
        </div>

        <div v-else>
            <div v-show="status == 'PENDING'">
                <h3>Your Card is saved just click on "PAY" to pay the amount</h3>
            </div>
        </div>

        <!--        <button class="btn btn-primary mt-3" id="add-card-button1" v-on:click="submitPaymentMethod()">-->
        <!--            Save Payment Method-->
        <!--        </button>-->
        <button class="btn btn-primary mt-3" id="add-card-button2" v-on:click="submitPayment()" v-if="status == 'PENDING'">
            Pay
        </button>

        <!--        <div class="mt-3 mb-3">-->
        <!--            OR-->
        <!--        </div>-->

        <!--        <div v-show="paymentMethodsLoadStatus == 2-->
        <!--            && paymentMethods.length == 0"-->
        <!--             class="">-->
        <!--            No payment method on file, please add a payment method.-->
        <!--        </div>-->

        <!--        <div v-show="paymentMethodsLoadStatus == 2-->
        <!--                && paymentMethods.length > 0">-->
        <!--            <div v-for="(method, key) in paymentMethods"-->
        <!--                 v-bind:key="'method-'+key"-->
        <!--                 v-on:click="paymentMethodSelected = method.id"-->
        <!--                 class="border rounded row p-1"-->
        <!--                 v-bind:class="{-->
        <!--                    'bg-success text-light': paymentMethodSelected == method.id-->
        <!--                }">-->
        <!--                <div class="col-2">-->
        <!--                    {{ method.brand.charAt(0).toUpperCase() }}{{ method.brand.slice(1) }}-->
        <!--                </div>-->
        <!--                <div class="col-7">-->
        <!--                    Ending In: {{ method.last_four }} Exp: {{ method.exp_month }} / {{ method.exp_year }}-->
        <!--                </div>-->
        <!--                <div class="col-3">-->
        <!--                    <span v-on:click.stop="removePaymentMethod( method.id )">Remove</span>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <h4 class="mt-3 mb-3">Select Subscription</h4>-->

        <!--        <div class="mt-3 row rounded border p-1"-->
        <!--             v-bind:class="{'bg-success text-light': selectedPlan == 'plan_XXX'}"-->
        <!--             v-on:click="selectedPlan = 'plan_XXX'">-->
        <!--            <div class="col-6">-->
        <!--                Basic-->
        <!--            </div>-->
        <!--            <div class="col-6">-->
        <!--                $10/mo.-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <div class="mt-3 row rounded border p-1"-->
        <!--             v-bind:class="{'bg-success text-light': selectedPlan == 'plan_YYY'}"-->
        <!--             v-on:click="selectedPlan = 'plan_YYY'">-->
        <!--            <div class="col-6">-->
        <!--                Professional-->
        <!--            </div>-->
        <!--            <div class="col-6">-->
        <!--                $15/mo.-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <div class="mt-3 row rounded border p-1"-->
        <!--             v-bind:class="{'bg-success text-light': selectedPlan == 'plan_ZZZ'}"-->
        <!--             v-on:click="selectedPlan = 'plan_ZZZ'">-->
        <!--            <div class="col-6">-->
        <!--                Enterprise-->
        <!--            </div>-->
        <!--            <div class="col-6">-->
        <!--                $20/mo.-->
        <!--            </div>-->
        <!--        </div>-->

        <!--        <button class="btn btn-primary mt-3" id="add-card-button" v-on:click="updateSubscription()">-->
        <!--            Subscribe-->
        <!--        </button>-->
    </div>
</template>
<script>
    export default {
        props: ['amount', 'type', 'id', 'public_key', 'saved', 'status',],
        data() {
            return {
                stripeAPIToken: this.public_key,
                stripe: '',
                elements: '',
                card: '',
                intentToken: '',
                name: '',
                addPaymentStatus: 0,
                addPaymentStatusError: '',
                paymentMethods: [],
                paymentMethodsLoadStatus: 0,
                paymentMethodSelected: {},
                selectedPlan: '',
            }
        },

        mounted() {
            if(this.status == 'PENDING' && this.saved == 'no'){
                this.includeStripe('js.stripe.com/v3/', function () {
                    this.configureStripe();
                }.bind(this));

                this.loadIntent();
                //this.loadPaymentMethods();
            }
        },

        methods: {
            /*
                Includes Stripe.js dynamically
            */
            includeStripe(URL, callback) {
                var documentTag = document, tag = 'script',
                    object = documentTag.createElement(tag),
                    scriptTag = documentTag.getElementsByTagName(tag)[0];
                object.src = '//' + URL;
                if (callback) {
                    object.addEventListener('load', function (e) {
                        callback(null, e);
                    }, false);
                }
                scriptTag.parentNode.insertBefore(object, scriptTag);
            },

            /*
                Configures Stripe by setting up the elements and
                creating the card element.
            */
            configureStripe() {
                this.stripe = Stripe(this.stripeAPIToken);

                this.elements = this.stripe.elements();
                this.card = this.elements.create('card');

                this.card.mount('#card-element');
            },

            /*
                Loads the payment intent key for the user to pay.
            */
            loadIntent() {
                axios.get('/billing/user/setup-intent')
                    .then(function (response) {
                        this.intentToken = response.data;
                    }.bind(this));
            },

            /*
                Uses the intent to submit a payment method
                to Stripe. Upon success, we save the payment
                method to our system to be used.
            */
            submitPaymentMethod() {
                this.addPaymentStatus = 1;

                this.stripe.confirmCardSetup(
                    this.intentToken.client_secret, {
                        payment_method: {
                            card: this.card,
                            billing_details: {
                                name: this.name
                            }
                        }
                    }
                ).then(function (result) {
                    if (result.error) {
                        this.addPaymentStatus = 3;
                        this.addPaymentStatusError = result.error.message;
                    } else {
                        this.savePaymentMethod(result.setupIntent.payment_method);
                        this.addPaymentStatus = 2;
                        this.card.clear();
                        this.name = '';
                    }
                }.bind(this));
            },

            /*
                Saves the payment method for the user and
                re-loads the payment methods.
            */
            savePaymentMethod(method) {
                axios.post('/billing/user/payments', {
                    payment_method: method
                }).then(function () {
                    this.loadPaymentMethods();
                }.bind(this));
            },

            /*
                Loads all of the payment methods for the
                user.
            */
            loadPaymentMethods() {
                this.paymentMethodsLoadStatus = 1;

                axios.get('/billing/user/payment-methods')
                    .then(function (response) {
                        this.paymentMethods = response.data;

                        this.paymentMethodsLoadStatus = 2;
                        // this.setDefaultPaymentMethod();
                    }.bind(this));
            },

            removePaymentMethod(paymentID) {
                axios.post('/billing/user/remove-payment', {
                    id: paymentID
                }).then(function (response) {
                    this.loadPaymentMethods();
                }.bind(this));
            },

            updateSubscription() {
                axios.put('/billing/user/subscription', {
                    plan: this.selectedPlan,
                    payment: this.paymentMethodSelected
                }).then(function (response) {
                }.bind(this));
            },
            submitPayment: function () {
                var context = this;
                if (this.saved == 'no') {
                    document.getElementById('page-loader').style.display = 'block';
                    this.stripe.createToken(this.card).then(function (result) {
                        axios.post('/billing/user/charge/payment', {token: result.token, amount: context.amount, type: context.type, id: context.id})
                            .then(response => {
                                document.getElementById('page-loader').style.display = 'none';
                                if (response.data.status == 'success') {
                                    Swal.fire({
                                        title: 'Done!',
                                        text: 'Payment Successful',
                                        icon: 'success',
                                        onAfterClose: () => {
                                            window.location.reload();
                                        }
                                    });
                                    context.resetCardData();
                                } else {
                                    Swal.fire({
                                        title: 'Error!',
                                        text: response.data.msg,
                                        icon: 'error'
                                    });
                                }
                            }).catch(error => {
                                document.getElementById('page-loader').style.display = 'none';
                                Swal.fire({
                                    title: 'Error!',
                                    text: 'Something went wrong',
                                    icon: 'error'
                                });
                                console.log(error);
                            });
                    });
                } else {
                    axios.post('/billing/user/charge/payment', {token: '', amount: context.amount, type: context.type, id: context.id})
                        .then(response => {
                            document.getElementById('page-loader').style.display = 'none';
                            if (response.data.status == 'success') {
                                Swal.fire({
                                    title: 'Done!',
                                    text: 'Payment Successful',
                                    icon: 'success',
                                    onAfterClose: () => {
                                        window.location.reload();
                                    }
                                });
                            } else {
                                Swal.fire({
                                    title: 'Error!',
                                    text: response.data.msg,
                                    icon: 'error'
                                });
                            }
                        }).catch(error => {
                            document.getElementById('page-loader').style.display = 'none';
                            Swal.fire({
                                title: 'Error!',
                                text: 'Something went wrong',
                                icon: 'error'
                            });
                            console.log(error);
                        });
                }
            },
            resetCardData: function () {
                this.card.clear();
                this.name = '';
            },
        }
    }
</script>
