<template>
    <div id="holiday_2">
        <div class="row justify-content-between page-header">
            <div class="col-md-6">
                <h1 class="main-title">Holiday & Time Off</h1>
            </div>
            <div class="col-md-2">
                <!--<button class="btn btn-primary btn-block" @click="userModal=true" data-target="#user_holiday"
                    data-toggle="modal"
                    type="button"
                >+ New Holiday</button>-->
                <button class="btn btn-primary btn-block" data-target="#addClient" type="button"
                        data-toggle="modal">+ Staff Member
                </button>
            </div>
        </div>

        <div class="row">
            <div v-for="(holidayUser, holidayUserIndex) in holidayUsers" class="col-md-6">
                <div class="card">
                    <div class="card-header bg-white border-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>{{ getName(holidayUserIndex) }}</h5>
                            </div>
                            <!--<div class="col-md-4 text-center">
                                <small class="font-weight-bold text-dark">Days off so far</small>
                                <h6 class="d-block">{{  holidayUser.length }}</h6>
                            </div>-->
                            <div class="col-md-4">
                                <form class="form-inline holiday-form d-flex justify-content-center p-0">
                                    <div class="form-group">
                                        <small class="font-weight-bold text-dark" for="inputPassword6">Days off so far</small>
                                    </div>
                                    <div class="form-group">
                                        <input :value="holidayUser.length"
                                               type="text"
                                               id="inputPassword6"
                                               class="form-control text-center bg-white"
                                               disabled=""
                                               readonly=""
                                               aria-describedby="passwordHelpInline">
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-5">
                                <form class="form-inline holiday-form">
                                    <div class="form-group">
                                        <small class="ml-3 font-weight-bold text-dark" for="inputPassword6">Days Allowed</small>
                                    </div>
                                    <div class="form-group">
                                        <input type="text"
                                               id="inputPassword6"
                                               class="form-control mx-sm-3"
                                               v-model="userHolidays[holidayUserIndex]"
                                               @keyup="getTotalHolidaysNumber(holidayUserIndex)"
                                               @blur="updateUserHoliday(holidayUserIndex, holidayUser[0].userId)"
                                               aria-describedby="passwordHelpInline">
                                        <!-- Button trigger modal -->
                                        <button
                                            @click="
                                                holidayPerson = thisUsers[holidayUser[0].userId] ? thisUsers[holidayUser[0].userId]:{};
                                                addNewLead = false;
                                                thisHolidayUserIndex = holidayUserIndex;
                                                formAction = route_hoiliday_create;
                                            "
                                            class="btn btn-primary" type="button" data-toggle="modal"
                                            data-target=".bd-example-modal-lg">
                                            <i class="fas fa-plus-circle"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-borderless">
                            <thead>
                            <tr>
                                <th>Day</th>
                                <th>Notes</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(aHoliday, aHolidayIndex) in holidayUser">
                                <td>{{aHoliday.date_of_holiday}}</td>
                                <td>{{aHoliday.description}}</td>
                                <td>
                                    <button @click="deleteHoliday(holidayUserIndex, aHoliday, aHolidayIndex)" class="btn btn-danger btn-sm float-right p-1">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--Add User Modal -->
            <div v-if="userModal" class="modal fade" tabindex="-1" id="user_holiday" role="dialog" aria-labelledby="myLargeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white font-weight-bold">
                            <h5 class="modal-title" id="exampleModalLongTitle">New Holiday</h5>
                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="saveDataUser" method="post">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Section for User</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" v-model="addUserHoliday.userId" id="exampleInputEmail1">
                                            <option value="">Please Select User</option>
                                            <option v-for="allUser in allUsers" :value="allUser.id">{{allUser.name}}</option>
                                        </select>
                                        <span class="text-danger" v-if="!$v.addUserHoliday.userId.required">User is required!</span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Date of Holiday</label>
                                    <div class="col-sm-8">
                                        <div class="input-group date">
                                            <input type="date" v-model="addUserHoliday.date_of_holiday" class="form-control" value="">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>
                                        <span class="text-danger" v-if="!$v.addUserHoliday.date_of_holiday.required">Date of Holiday is required!</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Notes</label>
                                    <div class="col-sm-8">
                                        <textarea type="text" v-model="addUserHoliday.description" class="form-control"
                                                  placeholder="Notes"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Available</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" v-model="addUserHoliday.availed" id="exampleInputEmail1">
                                            <option value="">Select Available</option>
                                            <option value="1">Yes</option>
                                            <option value="0">No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-block text-right">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!--Holiday User Modal End -->

            <!--Holiday Add Modal -->
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="add_holiday" aria-labelledby="myLargeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white font-weight-bold">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add holiday for <strong
                                class="text-light">{{ holidayPerson ? holidayPerson.name:'' }}</strong></h5>
                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <form @submit.prevent="saveData" method="post">
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Date of Holiday</label>
                                    <div class="col-sm-8">
                                        <div class="input-group date">
                                            <input type="date" v-model="addHoliday.date_of_holiday" class="form-control" value="">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>
                                        <span class="text-danger" v-if="!$v.addHoliday.date_of_holiday.required">Date of Holiday is required!</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Notes</label>
                                    <div class="col-sm-8">
                                        <textarea type="text" v-model="addHoliday.description" class="form-control"
                                                  value="" placeholder="Notes"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-4 col-form-label">Available</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" v-model="addHoliday.availed" id="exampleInputEmail1">
                                            <option value="">Select Available</option>
                                            <option value="1">Yes</option>
                                            <option value="0">No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="d-block text-right">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Modal End -->
        </div>


        <!--Staff Add Modal Start-->
        <div class="modal fade bd-example-modal-lg" id="addClient" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white font-weight-bold">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add New Staff</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="saveClient()" method="post">
                            <h4 class="main-title p-2 bg-primary text-white rounded mb-4">Account Details</h4>
                            <div class="form-group row">
                                <label for="" class="col-md-2 col-form-label">Name</label>
                                <div class="col-md-4">
                                    <input type="text" v-model="addClient.name" class="form-control" id="name">
                                    <small class="text-danger"
                                           v-if="addSubmit && !$v.addClient.name.required">Name is required!</small>
                                    <small class="text-danger" v-if="addSubmit && !$v.addClient.name.minLength">Name
                                        must have at least {{ $v.addClient.name.$params.minLength.min }}
                                        letters.</small>
                                </div>
                                <!--<label for="" class="col-md-2 col-form-label">Job Position</label>
                                <div class="col-md-4">
                                    <input type="text" v-model="addClient.job_position" class="form-control"
                                           value="">
                                    <small class="text-danger"
                                           v-if="addSubmit && !$v.addClient.job_position.required">Job Position is
                                        required!</small>
                                </div>-->
                                <label for="" class="col-md-2 col-form-label">Business Name</label>
                                <div class="col-md-4">
                                    <input type="text" v-model="addClient.company_name" class="form-control"
                                           value="">
                                    <small class="text-danger"
                                           v-if="addSubmit && !$v.addClient.company_name.required">Business Name is
                                        required!</small>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="" class="col-md-2 col-form-label">Email</label>
                                <div class="col-md-4">
                                    <input type="email" v-model="addClient.email" class="form-control" value="">
                                    <small class="text-danger"
                                           v-if="addSubmit && !$v.addClient.email.email && $v.addClient.email.required">Valid
                                        Email is required!</small>

                                </div>
                                <label for="" class="col-md-2 col-form-label">Phone</label>
                                <div class="col-md-4">
                                    <input type="text" v-model="addClient.phone" class="form-control" value="">
                                    <small class="text-danger"
                                           v-if="addSubmit && !$v.addClient.phone.required">Phone is
                                        required!</small>
                                    <small class="text-danger" v-if="addSubmit && !$v.addClient.phone.minLength">Phone
                                        must have at least {{ $v.addClient.phone.$params.minLength.min }}
                                        numbers.</small>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="" class="col-md-2 col-form-label">Password</label>
                                <div class="col-md-4">
                                    <input type="password" v-model="addClient.password" class="form-control"
                                           value="">
                                    <small class="text-danger" v-if="addSubmit && !$v.addClient.password.required">Password
                                        is required!</small>

                                </div>
                                <label for="" class="col-md-2 col-form-label">Confirm Password</label>
                                <div class="col-md-4">
                                    <input type="password" v-model="addClient.password_confirmation"
                                           class="form-control" autocomplete="password">
                                    <small class="text-danger"
                                           v-if="addSubmit && !$v.addClient.password_confirmation.sameAsPassword && $v.addClient.password_confirmation.required">Confirm
                                        Password Does not matched!</small>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="" class="col-md-2 col-form-label">Job Position</label>
                                <div class="col-md-4">
                                    <select class="form-control" v-model="addClient.job_position" id="exampleInputEmail1">
                                        <option value="">Select Job Position</option>
                                        <option value="account_manager">Account Manager</option>
                                        <option value="sales_person">Sales Person</option>
                                        <option value="campaign_manager">Campaign Manager</option>
                                    </select>
                                    <!--<small class="text-danger" v-if="addSubmit && !$v.addClient.assignAs.required">Status
                                        is required!</small>-->

                                </div>
                                <!--<label for="" class="col-md-2 col-form-label">Status</label>
                                <div class="col-md-4">
                                    <select class="form-control" v-model="addClient.status" id="exampleInputEmail1">
                                        <option value="">Select Client Status</option>
                                        <option value="new">New</option>
                                        <option value="recurring">Recurring</option>
                                        <option value="gold">Gold</option>
                                        <option value="lost">Lost</option>
                                    </select>
                                    <small class="text-danger" v-if="addSubmit && !$v.addClient.status.required">Status
                                        is required!</small>

                                </div>-->
                               <!-- <label for="" class="col-md-2 col-form-label">Member Color</label>
                                <div class="col-md-4">
                                    <select class="form-control" v-model="addClient.member_color"
                                            id="exampleInputEmail1" :style="'color:'+addClient.member_color">
                                        <option value="">Select Color</option>
                                        <option :value="color" v-for="color in colors" class="text-capitalize"
                                                :style="'color:'+color">{{ color }}
                                        </option>
                                    </select>
                                </div>-->
                            </div>

                            <h4 class="main-title p-2 bg-primary text-white rounded mt-4 mb-4">Additional Details</h4>
                            <div class="form-group row">
                                <!--<label for="" class="col-md-2 col-form-label">Company Name</label>
                                <div class="col-md-4">
                                    <input type="text" v-model="addClient.company_name" class="form-control"
                                           value="">
                                    <small class="text-danger"
                                           v-if="addSubmit && !$v.addClient.company_name.required">Company Name is
                                        required!</small>

                                </div>-->
                                <label for="" class="col-md-2 col-form-label">Trading Name</label>
                                <div class="col-md-4">
                                    <input type="text" v-model="addClient.trading_name" class="form-control"
                                           value="">
                                    <!--<small class="text-danger"
                                           v-if="addSubmit && !$v.addClient.trading_name.required">Company Name is
                                        required!</small>-->

                                </div>
                                <label for="" class="col-md-2 col-form-label">Website</label>
                                <div class="col-md-4">
                                    <input type="text" v-model="addClient.work_website" class="form-control"
                                           value="">
                                </div>
                                <!-- <label for="" class="col-md-2 col-form-label">Work Phone</label>
                                 <div class="col-md-4">
                                     <input type="text" v-model="addClient.work_phone" class="form-control" value="">
                                 </div>-->

                            </div>
                            <div class="form-group row">
                                <label for="" class="col-md-2 col-form-label">Recurring Amount</label>
                                <div class="col-md-4">
                                    <input type="number" v-model="addClient.recurring_amount" class="form-control"
                                           value="">
                                </div>
                                <label for="" class="col-md-2 col-form-label">How Often?</label>
                                <div class="col-md-4">
                                    <select class="form-control" v-model="addClient.recurring_way">
                                        <option value="weekly">Weekly</option>
                                        <option value="bi_weekly">Bi-weekly</option>
                                        <option value="monthly">Monthly</option>
                                    </select>
                                </div>
                            </div>
                            <!--<div class="form-group row">
                                <label for="" class="col-md-2 col-form-label">Website</label>
                                <div class="col-md-4">
                                    <input type="text" v-model="addClient.work_website" class="form-control"
                                           value="">
                                </div>
                                <label for="" class="col-md-2 col-form-label">Work Email Address</label>
                                <div class="col-md-4">
                                    <input type="email" v-model="addClient.work_email" class="form-control"
                                           value="">
                                </div>
                            </div>-->

                            <!--<div class="form-group row">
                                <label for="" class="col-md-2 col-form-label">Address</label>
                                <div class="col-md-4">
                                    <textarea type="text" class="form-control"
                                              v-model="addClient.work_address" placeholder="Address"></textarea>
                                </div>
                                <label for="" class="col-md-2 col-form-label">Notes</label>
                                <div class="col-md-4">
                                    <textarea type="text" class="form-control"
                                              v-model="addClient.notes" placeholder="Notes"></textarea>
                                </div>
                            </div>-->

                            <div class="d-block text-right">
                                <button type="reset" class="btn btn-light">Reset</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!--Client Add Modal End-->
    </div>
</template>
<script>
import {email, minLength, sameAs, required, maxLength, alpha} from 'vuelidate/lib/validators'
export default {
    name: 'StaffHolidayIndex',
    props: ['holidayusers', 'user_holidays', 'users', 'allusers', 'route_hoiliday_create', 'route_hoiliday_create_user'],
    data() {
        return {
            holidays :[],
            userModal : false,
            holidayUsers: JSON.parse(this.holidayusers),
            userHolidays: JSON.parse(this.user_holidays),
            thisUsers: JSON.parse(this.users),
            allUsers: JSON.parse(this.allusers),
            holidayPerson: {},
            addNewLead: false,
            formAction: '',
            thisHolidayUserIndex: '',
            addUserHoliday:{
                userId:'',
                date_of_holiday:'',
                description:'',
                availed:'',
            },

            addSubmit: false,
            addClient: {
                name: '',
                email: '',
                phone: '',
                password: '',
                password_confirmation: '',
                job_position: '',
                status: '',
                company_name: '',
                trading_name: '',
                work_email: '',
                work_phone: '',
                work_website: '',
                work_address: '',
                notes: '',
                type: 'staff',
                member_color: 'teal',
                recurring_amount: '',
                recurring_way: '',
            },
            addHoliday:{
                date_of_holiday:'',
                description:'',
                availed:'',
            },
        }
    },
    validations: {
        addClient: {
            name: {
                required,
                minLength: minLength(4)
            },
            email: {
                required,
                email
            },
            phone: {
                required,
                minLength: minLength(8)
            },
            password: {
                required,
                minLength: minLength(6)
            },
            password_confirmation: {
                required,
                sameAsPassword: sameAs('password')

            },
            company_name: {
                required,
            },
            trading_name: {
                required,
            }
        },
        addHoliday: {
            date_of_holiday: {
                required,
            }
        },
        addUserHoliday: {
            userId: {
                required,
            },
            date_of_holiday: {
                required,
            }
        }
    },
    mounted() {
        //console.log('ok', this.holidayUsers);
    },
    methods: {
        saveClient() {
            console.log(this.addClient);
            this.addSubmit = true;
            axios.post('/staff/client', this.addClient).then((response) => {
                this.$v.$touch();
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                }
                this.getClients();
                $('#addClient').modal('toggle');
                this.addSubmit = false;
                this.addClient = {
                    name: '',
                    email: '',
                    phone: '',
                    password: '',
                    job_position: '',
                    status: '',
                    company_name: '',
                    trading_name: '',
                    work_email: '',
                    work_phone: '',
                    work_website: '',
                    work_address: '',
                    notes: '',
                    type: 'staff',
                    member_color: 'teal',
                };
            }).catch((error) => {
                console.log(error)
            }).finally(() => {
                //this.addSubmit = false;
            });
        },
        getTotalHolidaysNumber(holidayUserIndex){ this.userHolidays[holidayUserIndex] = _.toInteger(this.userHolidays[holidayUserIndex]); },
        getTotalHolidays(holidayUser){
            let totalholidays = 0;
            holidayUser.filter(element => {
                totalholidays += element.number_of_days;
            });
            return totalholidays;
        },
        getName(holidayUserIndex){
            let first = _.first(this.holidayUsers[holidayUserIndex]);
            let userId = first ? first.userId:'';
            if(userId) return this.thisUsers[userId].name;
            else return '';
        },
        getUserHolidays(){
            axios.get('/staff/holiday/getUserHolidays')
                .then((response)=>{
                    this.holidayUsers = response.data.holidays;
                    this.thisUsers = response.data.users;
                    this.allUsers = response.data.allUsers;
                }).catch((error)=>{
                console.log(error)
            })
        },
        updateUserHoliday(holidayUserIndex, user_id){
            let days = this.userHolidays[holidayUserIndex] ? this.userHolidays[holidayUserIndex]:0;
            let data = { days, user_id };

            axios.post(`/staff/holiday/${user_id}/updateUserHoliday`, data)
            .then((response)=>{
                toastr['success']("Updated!")
            }).catch((error)=>{
                toastr['error'](error.message)
                console.log(error)
            })
        },
        saveDataUser(){
            axios.post('/staff/holiday/user', this.addUserHoliday).then((response)=>{
                this.$v.$touch();
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                }
                this.getUserHolidays();
                $('#user_holiday').modal('toggle');
                this.addUserHoliday = {
                    date_of_holiday:'',
                    description:'',
                    availed:'',
                };
            }).catch((error)=>{
                toastr['error'](error.message)
                console.log(error)
            })
        },
        saveData(){
            this.addHoliday.userId = this.holidayPerson.id;
            axios.post('/staff/holiday', this.addHoliday)
            .then((response)=>{
                this.$v.$touch();
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                }
                this.holidayUsers[this.thisHolidayUserIndex] = response.data;
                $('#add_holiday').modal('toggle');
                this.addHoliday = {
                    date_of_holiday:'',
                    description:'',
                    availed:'',
                };
            }).catch((error)=>{
                console.log(error)
            })
        },
        deleteHoliday(holidayUserIndex, aHoliday, aHolidayIndex){
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    let id = aHoliday.id;
                    axios.delete(`/staff/holiday/${id}`)
                    .then((response) => {
                        toastr["success"]("Deleted Successfully!")
                        this.getUserHolidays();
                        /*
                            Don't delete
                            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                            let newArr = [];
                            let i = 0;
                            this.holidayUsers[holidayUserIndex].filter(element => {
                                if(element != aHoliday) newArr[i++] = element;
                            });

                            this.holidayUsers[holidayUserIndex] = newArr;
                        */
                    });
                }
            })
        },

    }
}
</script>
