.btn-small-text {
    font-size: 11px;
    font-weight: 700;

    &.btn-outline-primary, &.btn-outline-danger {
        border-width: 2px;
    }
}

.fixed-width-25 {
    padding: 2px 10px !important;
    min-width: 100px;
}

.btn-secondary {
    background-color: #407BFF;
}

.dropdown-toggle {
    &.no-arrow {
        &:after {
            content: "";
            display: none;
        }
    }
}
