.filter-bar {
    background-color: transparent;
    padding: 5px 0px;
    margin-bottom: 10px;

    .search-form {
        input {
            border-color: transparent;
            border-radius: 4px;
        }
    }

    .btn {
        font-size: 13px;
        font-weight: 700;
        padding: 8px 0;
    }
}

.search-form {
    position: relative;

    i, svg {
        position: absolute;
        top: 7px;
        right: 18px;
    }
}
