$table_border_radius: 5px;

.table-separate {
    border-collapse: separate;
    border-spacing: 0 3px;
}
.loader{
    background: #222e7254;
        span {
            margin-left: calc(50% - 22.3px);
        }
}
.table-rounded {

    thead {
        tr:first-child {
            th {
                background-color: darken($primary, 30%);
                color: $light;
                font-weight: 600;
                font-size: 14px;
                letter-spacing: -0.02em;

                &:first-child {
                    border-radius: 5px 0 0 5px;
                }

                &:last-child {
                    border-radius: 0 5px 5px 0;
                }
            }
        }
    }

    tbody {
        tr {
            font-weight: normal;
            color: #333333;
            font-size: 14px;
            transition: 0.3s all;

            &:hover {
                box-shadow: 1px 2px 12px 0px rgba(51, 50, 50, 0.61);
                position: relative;
            }
            &.no-hover {
                font-size: 11px!important;
                box-shadow: none;
            }

            .badge {
                padding: 5px 0;
                width: 100px;

                &.badge-success {
                    background-color: lighten($green, 15%);
                }

                &.badge-danger {
                    background-color: lighten($red, 15%);
                }

                &.badge-warning {
                    background-color: darken($warning, 15%);
                }

            }

            td {
                vertical-align: middle;

                &:last-child {
                    text-align: right;
                    border-radius: 0 5px 5px 0;
                }

                &:first-child {
                    border-radius: 5px 0 0 5px;
                }
            }
        }
    }
}
