.main-title {

}

.campaigns-container {
    nav {
        .nav-link {
            background: #EBEBEB;
            margin: 0px 3px;
            font-weight: normal;
            font-size: 15px;
        }
    }
}
.container {
    .page-header {
        border-bottom: 2px solid lighten($black, 45%);
        margin-bottom: 25px;
        margin-top: 27px;

        .main-title {
            font-size: 20px;
            font-weight: 600;
            color: lighten($black, 2%);
        }

        .btn {
            margin-bottom: 5px;
            margin-top: -5px;
        }
    }

    nav {
        .nav-link {
            background: #EBEBEB;
            margin: 0px 3px;
            font-weight: normal;
            font-size: 15px;
        }
    }


}

.container-fluid {

}
