<template>
    <!-- .pagination -->
    <nav v-if="pagination.data.length > 0 && pagination.last_page != 1" aria-label="...">
                    <ul class="pagination pagination justify-content-center">
                        <li class="page-item cursor-pointer" :class="{ disabled: pagination.current_page <= 1 }">
                            <a class="page-link" @click.prevent="changePage(pagination.current_page - 1); getAgreements(pagination.current_page)"> <i class="fas fa-chevron-left"></i> </a>
                        </li>
                        <li class="page-item cursor-pointer" :class="isCurrentPage(1) ? 'active' : ''">
                            <a class="page-link" @click.prevent="changePage(1); getAgreements(1)"  >{{ '1' }}
                                <span v-if="isCurrentPage(1)" class="sr-only">(current)</span>
                            </a>
                        </li>


                        <li v-if="leftDots_" class="page-item cursor-default disabled">
                            <a class="page-link" @click.prevent="">...</a>
                        </li>
                        <li class="page-item cursor-pointer" v-for="page in pages" :key="page" :class="isCurrentPage(page) ? 'active' : ''">
                            <a class="page-link" @click.prevent="changePage(page); getAgreements(page)">{{ page }}
                                <span v-if="isCurrentPage(page)" class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li v-if="rightDots_" class="page-item cursor-default disabled">
                            <a class="page-link" @click.prevent="">...</a>
                        </li>


                        <li class="page-item cursor-pointer" :class="isCurrentPage(pagination.last_page) ? 'active' : ''">
                            <a class="page-link" @click.prevent="changePage(pagination.last_page); getAgreements(pagination.last_page)">{{ pagination.last_page }}
                                <span v-if="isCurrentPage(pagination.last_page)" class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="page-item cursor-pointer" :class="{ disabled: pagination.current_page >= pagination.last_page }">
                            <a class="page-link" @click.prevent="changePage(pagination.current_page + 1); getAgreements(pagination.current_page)"> <i class="fas fa-chevron-right"></i> </a>
                        </li>
                    </ul>
                </nav><!-- /.pagination -->
</template>
<script>
export default {
    name: 'Pagination',
    props: ['pagination', 'getData'],
    data() {
        return {
            offset            : 3,
            leftDots_         : false,
            rightDots_        : false,
            this_page_min     : 1,
            per_page_items    : 3,
            this_page	      : 1,
        }
    },

    mounted() {
        console.log(this.getData(), 'aa');
        if (this.pagination.data.length > 0) {
            this.changePage(this.pagination.current_page);
        }
    },

    methods: {
        isCurrentPage(page){
            return this.pagination.current_page === page
        },
        changePage(page) {
            if (page > this.pagination.last_page) {
                page = this.pagination.last_page;
            }
            this.pagination.current_page = page;
            this.this_page               = page;

            if (this.offset >= page) this.leftDots_ = false;
            else this.leftDots_ = true;


            if (this.pagination.last_page - this.offset + 1 <= page) this.rightDots_ = false;
            else this.rightDots_ = true;


            if (this.pagination.last_page - 1 == this.offset) this.rightDots_ = false;

            // this.$emit('paginate');
        }
    },
    created: {
        // this.getData()
    },
    computed: {
        pages() {
            let pages = []
            let from = this.pagination.current_page - Math.floor(this.offset / 2)
            if (from < 1) {
                from = 1
            }
            let to = from + this.offset - 1

            if (to > this.pagination.last_page) {
                to = this.pagination.last_page
            }
            while (from <= to) {
                if (from > 1 && from < this.pagination.last_page) {
                    pages.push(from)
                }
                from++
            }

            return pages
        }
    }

}
</script>
