.form-group-floating {
    position: relative;
    margin-bottom: 2rem;
    //margin-bottom: 2.5rem;

    i {
        position: absolute;
        top: 12px;
        color: #232323;
    }

    .form-control {
        border: none;
        border-bottom: 2px solid #D7D7D7;
        padding-left: 0px;
        font-weight: 700;
        font-size: 18px!important;
        color: #232323!important;
        border-radius: 0;
        &:focus {
            box-shadow: none !important;
            border-bottom-color: $primary;
        }
    }

    .form-control-placeholder {
        position: absolute;
        top: 0;
        padding: 7px 0 0 0px;
        transition: all 200ms;
        opacity: 0.5;
    }

    .form-control:focus + .form-control-placeholder,
    .form-control:valid + .form-control-placeholder {
        font-size: 75%;
        transform: translate3d(0, -100%, 0);
        opacity: 1;
    }
}

a{
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.0120588em;
}


.m15-negative{
    margin-top: -25px;
}
