<template>
    <div>
        <div v-if="loaded" class="form-row">
            <div class="col-3">
                <div class="card h-100">
                    <div class="card-body px-0">
                        <div class="col-md d-flex justify-content-between mb-4 page-header border-bottom-0 mt-0">
                            <h4 class="main-title mb-0 my-auto">My Leads</h4>
                            <b-button v-b-modal.addLead class="btn-sm" variant="primary">Add Lead</b-button>
                        </div>
                        <div class="col-md">
                            <div class="search-form">
                                <input @keyup="getLeadsByCampaign()" v-model="search" type="text" placeholder="Search" class="form-control">
                                <i data-feather="search" class="ml-3"></i>
                            </div>
                        </div>
                        <div v-if="allLeads.length > 0" class="col-md mt-2 text-primary" id="leads_container">
                            <div class="list-group my-1" v-for="(lead, index) in allLeads">
                                <a href="#"
                                   @click="leadIndex = index; getLead(lead.id);"
                                   class="list-group-item list-group-item-action flex-column align-items-start text-primary px-3 py-2"
                                   :style="activeId === lead.id ? 'background : #e9eeff' : ''">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Lead #{{ lead.id }}</h5>
                                        <small>{{ formatDate(lead.submitted_on) }}</small>
                                    </div>
                                    <small>Status: <strong>{{ lead.status}}</strong></small>
                                </a>
                            </div>
                            <div v-if="leadsLastPage > leadsCurrentPage" @click="getLeadsByCampaign(leadsCurrentPage + 1)" class="btn btn-light btn-block">
                                <span v-if="!fetchingLead">Load more</span>
                                <span v-else ><i class="fa fa-sync fa-pulse"></i></span>
                            </div>
                        </div>
                        <div v-else class="col-md">
                            <h6 class="mb-0 px-2 text-center text-center text-primary alert alert-primary mt-3">No Lead found !</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9 position-static">
                <div class="row">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-body px-0">
                                <div class="col-md d-flex justify-content-between">
                                    <h5 class="text-center mb-0 my-auto text-dark text-capitalize">{{ leadCampaign ? leadCampaign.name : '' }}</h5>
                                    <button v-if="allLeads.length > 0" type="button" class="btn btn-outline-primary" @click.prevent="changeStatus(lead.status)">{{ lead.status === 'open' ? 'Mark as Closed' : 'Mark as Open'}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2" v-if="allLeads.length > 0">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-body px-0 pb-0">
                                <div class="col-md page-header border-bottom-0 mt-0">
                                    <h4 class="main-title">Lead Details</h4>
                                </div>
                                <div class="col-md-12 rounded">
                                    <table class="table p-4  table-rounded">
                                        <thead>
                                        <tr>
                                            <th scope="col" class="text-nowrap">#</th>
                                            <th scope="col" class="text-nowrap">Question</th>
                                            <th scope="col" class="text-nowrap">Answer</th>
                                        </tr>
                                        </thead>
                                        <tbody v-if="leadQuestions.length > 0">
                                        <tr v-for="(question, index) in leadQuestions">
                                            <td class="text-nowrap text-left">{{ index+1 }}</td>
                                            <td class="text-nowrap text-left">{{ question.headings }}</td>
                                            <td class="text-nowrap text-left">{{ question.answers }}</td>
                                        </tr>
                                        </tbody>
                                        <tbody v-else class="">
                                        <tr >
                                            <td colspan="100%" class="p-0 rounded-0 mt-3">
                                                <h4 class="alert alert-primary d-block text-center mb-0 text-primary">No Data</h4>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2" v-if="allLeads.length > 0">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="col-md-11">
                                        <textarea v-model="message" class="form-control" rows="2"></textarea>
                                    </div>
                                    <div class="col-md-1 my-auto">
                                        <button @click.prevent="saveComment()" type="button" class="btn btn-primary px-2 py-2 w-100"><i class="fa fa-location-arrow"></i>&nbsp;Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2" v-if="allLeads.length > 0">
                    <div class="col-md">
                        <div class="card">
                            <div v-if="leadComments.length > 0" class="card-body px-0">
                                <div class="comments" v-for="leadComment in leadComments">
                                    <img :src="leadComment.user.image_url" alt="Avatar" >
                                    <div class="ml-3">
                                        <div class="title">
                                            <strong>{{ leadComment.user.name }}</strong><br>
                                            <span class="description">{{ leadComment.message}}</span>
                                        </div>
                                        <small class="date">{{ formatDateTime(leadComment.created_at) }}</small>
                                    </div>
                                </div>
                            </div>
                            <div v-else class="card-body px-0">
                                <h4 class="mb-0 px-2 text-center text-warning">None Comment Yet!</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="allLeads.length === 0" class="card-body px-0">
                    <h3 class="mb-0 px-2 text-center text-primary alert alert-primary">No Lead Selected !</h3>
                </div>
            </div>
            <!--Create Lead Modal -->
            <b-modal ref="addLead" id="addLead" size="lg" header-class="bg-primary text-white" :hide-footer="true" title="Add Lead">
                <form @submit.prevent="saveQuestion(leadCampaign.id)">

                    <div class="question-body">
                        <div class="form-group row py-2 question-number" v-for="(question,index) in mainQuestion">
                            <label class="col-sm-4 col-form-label m-auto">Question {{ index+1 }}</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" v-model="question.heading"
                                       placeholder="Question" required="">
                                <input class="form-control mt-2" type="text" v-model="question.answer"
                                       placeholder="Answer" required="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4 offset-4">
                            <button type="button" class="btn btn-primary" id="add_question" @click="addQuestion()"><i
                                class="fas fa-plus"></i> Add Question
                            </button>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="reset" class="btn btn-light" @click="reset()">Reset</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </b-modal>
            <!-- Modal End -->
        </div>
        <div v-else class="form-row">
            <div class="loader w-100 h-100 rounded">
                <span role="status" class="spinner-border text-white my-5">
                    <span class="sr-only">Text Centered</span>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "StaffLeadIndex",
    props: ['leads','campaign'],

    data() {
        return {
            activeId      : '',
            search        : '',
            tempAllLeads     : JSON.parse(this.leads),
            allLeads         : [],
            leadsLastPage    : 1,
            leadsCurrentPage : 1,
            loaded        : false,
            fetchingLead  : false,
            leadCampaign  : JSON.parse(this.campaign),
            leadQuestions : {},
            leadComments  : {},
            lead          : {},
            leadIndex     : 0,
            message       : '',
            mainQuestion  : [
                {
                heading  : '',
                answer   : ''
                }
            ]
        }
    },
    methods:{
        getLeadsByCampaign(page=0){
            this.fetchingLead = true;
            let params = {
                page,
                search: this.search
            }
            axios.get(`/staff/leads/getLeadsByCampaign/${this.leadCampaign.id}`, { params }).then((response) => {
                this.allLeads = _.concat(this.allLeads, response.data.data);
                this.leadsLastPage    = response.data.last_page;
                this.leadsCurrentPage = response.data.current_page;

                if(_.first(this.allLeads)){
                    this.getLead(_.first(this.allLeads).id);
                }
            }).catch((error) => {
                toastr["error"](error.message)
                console.log(error.message)
            }).finally(() => {
                this.fetchingLead = false;
            })

        },
        getLead(lead_id){
            axios.get(`/staff/leads/getLead/${lead_id}/${this.leadCampaign.id}`).then((response) => {
                this.lead = response.data;
                this.leadQuestions = response.data.lead_questions;
                this.leadComments = response.data.lead_comments_with_user;
                this.activeId= this.lead.id;
            }).catch((error) => {
                toastr["error"](error.message)
                console.log(error.message)
            }).finally(() => {
                this.loaded = true;
            })

        },
        saveQuestion(id){
            axios.post(`/staff/leads/save-lead/${id}`, { questions : this.mainQuestion} ).then((response) => {
                toastr["success"]("Question Create Successfully")
                this.$refs.addLead.hide();
                this.reset();
                this.getLeadsByCampaign();
            }).catch((error) => {
                toastr["error"](error.message)
                console.log(error.message)
            })
        },
        saveComment(){
            axios.post(`/staff/leads/save-comment/${this.lead.id}`, {message : this.message} ).then((response) => {
                toastr["success"]("Comment Create Successfully")
            }).catch((error) => {
                toastr["error"](error.message)
                console.log(error.message)
            }).finally(()=>{
                this.message = '';
                this.getLead(this.lead.id);
            })
        },
        changeStatus(status){
            if ( status === "open")status = "closed";
            else status = "open";

            this.allLeads[this.leadIndex] ? this.allLeads[this.leadIndex].status = status:'';

            axios.post(`/staff/leads/status/${this.lead.id}/${this.leadCampaign.id}`, {status : status} ).then((response) => {
                toastr["success"]("Status Change Successfully");
                // this.getLeadsByCampaign();
                this.getLead(this.lead.id);
            }).catch((error) => {
                toastr["error"](error.message)
                console.log(error.message)
            })
        },
        addQuestion(){
            this.mainQuestion.push({
                heading : '',
                answer   : ''
            })
        },
        formatDate(dateString) {
            const options = { year: "numeric", month: "short", day: "numeric" }
            return new Date(dateString).toLocaleDateString(undefined, options)
        },
        formatDateTime(dateString) {
            const options = { year: "numeric", month: "short", day: "numeric",hour: 'numeric', minute: 'numeric', second: 'numeric' }
            return new Date(dateString).toLocaleDateString(undefined, options)
        },
        reset(){
            this.mainQuestion =[
                {
                    heading  : '',
                    answer   : ''
                }
            ]
        }
    },
    mounted() {
        //this.allLeads         = this.tempAllLeads.data;
        this.leadsLastPage    = this.tempAllLeads.last_page;
        this.leadsCurrentPage = this.tempAllLeads.current_page;

        if(_.first(this.tempAllLeads.data)) {
            this.getLeadsByCampaign();
            this.getLead(_.first(this.tempAllLeads.data).id);
        }
    },
}
</script>


<style scoped>
</style>
