.container-fluid.appointment {
    .page-header {
        border-bottom: 2px solid #737373;
        margin-bottom: 25px;
        margin-top: 27px;

        .main-title {
            font-size: 20px;
            font-weight: 600;
            color: #050505;
        }
    }
}
.table-condensed {
    width: 100% !important;
}
.dow {
    color: #0000004f;
    font-size: 13px;
}
.day {
    color: #000000b5;
    font-size: 13px;
    padding: 8px 4px;
}
.datepicker-switch {
    color: #000000b5;
}
.day.active {
    background: #232D72 !important;
}
#calender_datepicker .datepicker {
    width: 100%;
}

.main-content-area {
	background: #fff;
	border-radius: 15px;
}
.dash-sidebar {
	padding: 85px 30px 85px 0;
	.team-members {
		padding: 20px 30px;
		border-radius: 15px;
		background: #232D72;
		h3 {
			font-size: 16px;
			font-weight: 600;
			font-family: $font-family-sans-serif;
			color: #fff;
			margin-bottom: 20px;
		}
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			li {
				font-size: 16px;
				font-weight: 400;
				font-family: $font-family-sans-serif;
				color: #fff;
				img {
					margin-right: 15px;
				}
				+ li {
					margin-top: 10px;
				}
			}
		}
	}
}

.schedule-callender-wrap {
	padding-top: 35px;
	.calendar-wrap {
		overflow-x: auto;
		#calendar {
			min-width: 692px;
		}
	}
	.fc-header-toolbar {
		padding-left: 30px;
	}
	.fc-toolbar-title {
		font-size: 16px;
		font-weight: 600;
		color: rgba(#000, .64);
	}
	.fc-toolbar-chunk {
		.fc-button-group {
			.fc-button {
				border: 0.5px solid #E0E0E0;
				background: transparent;
				height: 36px;
				width: 78px;
				text-align: center;
				line-height: 36px;
				padding: 0;
				color: rgba(#000, .64);
				font-size: 14px;
				font-weight: 600;
				border-radius: 3px;
				margin-right: 10px;
				text-transform: capitalize;
				outline: none;
				box-shadow: none;
				&:focus {
					box-shadow: none;
				}
				&:last-child {
					margin-right: 0;
				}
				&.fc-button-active {
					background: #232D72;
					color: #fff;
				}
			}
		}
	}

	// table-layout:
	.fc-theme-standard .fc-scrollgrid {
		border: 0;
		.fc-scrollgrid-section-header  {
			.fc-scroller {
				padding: 24px 0;
				background: rgba(242, 242, 242, 0.63);
				-ms-overflow-style: none;
				scrollbar-width: none;
				&::-webkit-scrollbar {
				  display: none;
				}
			}
			.fc-col-header-cell,
			.fc-timegrid-axis {
				border: 0;
			}
			.fc-col-header-cell {
				.fc-col-header-cell-cushion {
					font-size: 14px;
					font-weight: 600;
					color: rgba(#000, .5);
					text-decoration: none;
					&:hover {
						color: #64A15E;

					}
				}
			}
		}
	}
	.fc-timegrid-divider.fc-cell-shaded {
		display: none;
	}
	.fc-scrollgrid-section {
		height: auto;
		&.fc-scrollgrid-section-body {
			.fc-scroller {
				&::-webkit-scrollbar {
				  width: 8px;
				}
				&::-webkit-scrollbar-track {
				  background: transparent;
				}
				&::-webkit-scrollbar-thumb {
				  background: #f1f1f1;
				  transition: all .3s ease;
				  border-radius: 4px;
				}
				&::-webkit-scrollbar-thumb:hover {
				  background: #ccc;
				}
			}
		}
	}
	.fc-daygrid-body.fc-daygrid-body-unbalanced.fc-daygrid-body-natural {
		display: none;
	}
	.fc-timegrid-slot {
		height: 50px;
	}
	.fc-timegrid-slot-label.fc-scrollgrid-shrink {
		border: 0;
		vertical-align: top;
	}
	.fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion {
		font-size: 12px;
		font-weight: 600;
		color: rgba(#000, .37);
	}
	.fc-theme-standard td {
		border: 2px solid rgba(224, 217, 217, 0.15);
	}
	.fc-theme-standard .fc-timegrid-slot-lane {
		border-top: 2px solid rgba(224, 217, 217, 0.15);
		border-right: 2px solid rgba(224, 217, 217, 0.15);
		&.fc-timegrid-slot-minor {
			border: 0;
		}
	}
	.fc-theme-standard td, .fc-theme-standard th {
		border: 2px solid rgba(224, 217, 217, 0.15);
	}
	.fc-v-event {
		background: #e9f7fc;
		border: 0;
		padding: 10px;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 3px;
			background: #70CEEC;
			content: '';
			border-radius: 3px;
		}
		.fc-event-time {
			display: none;
		}
		.fc-event-title {
			color: #5E79A1;
			font-size: 12px;
			font-weight: 600;
		}
	}
}




@media all and (max-width: 1199px) {
	.schedule-callender-wrap {
		padding: 30px;
		.fc-header-toolbar {
			padding-left: 0;
		}
	}
	.dash-sidebar {
		padding: 50px 30px;
	}
}

