#absolute-filter.absolute-filter {
    top: 8px;
}
.livechat {
    display: flex;
    border-radius: 5px;

    .people {
        width: 30rem;
        background-color: #ffffff;
        height: 85vh;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        overflow: auto;
        border-right: 1px solid darken($white, 10%);

        .search-form {
            margin-top: 10px;


            .form-control {
                border: 0px;
                border-bottom: 2px solid darken($white, 10%);
                border-radius: 0px;
                outline: none;


                &:focus {
                    box-shadow: none;
                }
            }
        }

        .chat-list {

        }
    }

    .messagebox {
        width: 100%;
        //background-image: url("https://as2.ftcdn.net/jpg/01/68/74/87/500_F_168748763_Mdv7zO7dxuECMzItERhPzWhVJSaORTKd.jpg");
        background-repeat: repeat;
        background-size: 250px 250px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        position: relative;

        .chat-person {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: #ffffff;
            border-top-right-radius: 5px;
        }

        .chat-history {
            padding: 30px 30px 20px;
            border-bottom: 2px solid white;
            overflow-y: scroll;
            height: 75vh;
            background-color: #ffffff;
            margin-top: 81px;

            ul {
                list-style: none;
            }

            .message-data {
                margin-bottom: 15px;

                &.align-right {
                    text-align: right;
                }
            }

            .message-data-time {
                color: lighten($black, 8%);
                padding-left: 6px;
            }

            .message {
                color: white;
                padding: 18px 20px;
                line-height: 26px;
                font-size: 16px;
                border-radius: 7px;
                margin-bottom: 30px;
                width: 90%;
                position: relative;

                &:after {
                    bottom: 100%;
                    left: 7%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-bottom-color: darken($green, 30%);
                    border-width: 10px;
                    margin-left: -10px;
                }
            }

            .my-message {
                background: darken($green, 30%);
            }

            .other-message {
                background: darken($blue, 30%);

                &:after {
                    border-bottom-color: darken($blue, 30%);
                    left: 93%;
                }
            }

        }

        .send-box {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #ffffff;
            //min-height: 100px;


            form {
                position: relative;

                .form-control {
                    border-radius: 0;
                    border: 0;
                    border-top: 1px solid darken($white, 10%);

                    &:hover {
                        outline: none;
                        box-shadow: none;
                    }
                }

                #sendBtn {
                    position: absolute;
                    right: 20px;
                    top: 21px;

                    i {
                        //font-size: 3rem;
                    }
                }
            }
        }
    }
}


.chat-person {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid darken($white, 10%);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: darken($white, 10%);
    }

    img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 50%;
    }

    .info {
        position: relative;
        width: 100%;
        padding-left: 15px;

        p, .name {
            margin-bottom: 0px;
        }

        .name {
            color: lighten($black, 20%);
            font-size: 1.1rem;
            padding-top: 6px;
        }

        .description {
            font-size: 12px;
        }

        .activity {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 10px;
            font-weight: 500;
        }
    }
}

.comments{
    display: flex;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s;

    img {
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 50%;
    }
    .title{
        background: #f6f7f9;
        color: #4b4f56;
        padding: 6px 12px;
        border-radius: 20px;
    }
    .description {
        font-size: 12px;
    }
    .date{
        font-size: 12px;
        color: #b2b2b2;
        margin-left: 14px;
    }

}
