#holiday_2 {
    .card {
        border-color: transparent;
        margin-bottom: 25px;

        .modal{
            .modal-dialog {
                .modal-content {
                    .modal-header {
                        button {
                            color: #fff;
                        }
                    }
                }
            }
        }
        .card-header {
            padding-left: 12px;
            padding-right: 0;
            h5 {
                font-size: 18px;
                font-weight: 600;
                color: lighten($black, 10%);
            }

            form {
                &.holiday-form {
                    margin-bottom: 0;
                    float: right;
                    padding-right: 10px;

                    label {
                        font-size: 12px;
                        color: lighten($black, 20%);
                    }

                    .form-control {
                        background: #F4F4F4;
                        border-radius: 4px;
                        width: 100px;
                        padding: 3px 5px;
                        height: 29px;
                        font-size: 12px !important;
                        border: none;
                    }

                    .btn {
                        padding: 6px 18px !important;

                        i {
                            color: white;
                            top: 8px;
                            right: 11px;
                        }
                    }
                }

            }
        }

        .card-body {

            padding: 0;

            .table {
                thead {
                    font-size: 16px;
                    font-weight: 600;
                    color: lighten($black, 10%);
                }

                tbody {
                    font-weight: 500;
                    color: lighten($black, 20%);
                }

                .btn-danger{
                    background-color: lighten($red,15%);
                    padding: 0.15rem 0.5rem;
                }
            }
        }
    }
}
