.mute {
    color: #999999;
}

tr.due-text {
    color: lighten($red, 5%) !important;
}

tr.due-text td.mute {
    color: lighten($red, 7%) !important;
}

.invoice {
    .badge {
        width: auto !important;
        font-size: 11px;
        font-weight: 700;
        padding: 0.6rem 0.75rem !important;

        &.badge-success {
            background-color: lighten($green, 40%) !important;
            color: lighten($green, 2%);
        }

        &.badge-danger {
            background-color: lighten($red, 40%) !important;
            color: lighten($red, 2%);
        }

        &.badge-primary {
            background-color: lighten($blue, 40%) !important;
            color: lighten($blue, 2%);
        }
    }

}
