.login{
    background-color: #E5E5E5;
    .bg-login-gradient{
        background: linear-gradient(218.33deg, #0CB8EC 1.66%, #10317B 96.1%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        position: relative;

        .card-img-top{
            position: absolute;
            width: 549px;
            height: 586px;
            top: 168px;
            left: 189px;
        }

        .main-card{
            position: absolute;
            width: 427px;
            height: 502px;
            left: 252px;
            top: 209px;
            border: unset;
        }
    }

    button{
        &.btn-lg{
            font-size: 20px;
            padding-bottom: 18px;
            padding-top: 18px;
            margin-top: 42px;
        }
    }

    .forget-password{
        margin-top: -9px;
    }



    .form-sign-in{
        margin-top: 78px;
        margin-left: 70px;
        margin-right: 70px;

        .logo{
            padding-bottom: 43px;
        }

        h3{
            padding-bottom: 67px;
        }

        .register{
            color : #232323!important;
            font-size: 14px;
            font-weight: normal;
            line-height: 19px;
            margin-top: 33px!important;
        }
    }
}
