.payment {
    background-color: #E5E5E5;

    .logo {
        margin-top: 40px;
        width: 382px;
    }

    .form-group-floating {
        .form-control-placeholder {
            padding: 7px 0 0 23px !important;
        }
    }

    .form-control {
        border-bottom: 2px solid #222F72;
        font-weight: 700;
        font-size: 17px !important;
        color: #232323 !important;
        border-radius: 0 !important;
        padding: 16px 2rem !important;
        margin-bottom: 41px;
    }

    .form-control-placeholder {
        font-size: 14px;
    }

    .required:after {
        content: " *";
        color: red;
        font-size: 16px;
    }

    .amount-due {
        color: #000000;
        font-size: 18px;

        .total-amount {
            font-weight: bold;
            font-size: 24px;
            line-height: 33px;
            color: #222F72;
        }
    }

    .btn-success {
        width: 185px;
        height: 45px;
        background: #22B14C;
        box-shadow: 0px 30px 60px rgba(34, 177, 76, 0.08);
        border-radius: 5px;
        font-weight: bold;
    }

    .form-bottom {
        margin-top: 42px;
        margin-bottom: 36px;
    }

    h3 {
        font-size: 26px !important;
        color: #222F72;
    }

    .form-payment {
        margin-top: 35px;
        margin-left: 109px;
        margin-right: 70px;
    }

    .left-side {
        .form-control-placeholder {
            padding: 7px 0 0 0px !important;
        }

        .form-control {
            padding: 16px 0rem !important;
        }
    }
}
