#donutchart,
#chart {
    width: 350px;
    height: 350px;
    //margin-top: -52px;
    //font-family: Arial;
}

#donutchart {
    position: relative;
}

#labelOverlay {
    width: 122px;
    position: absolute;
    top: 32%;
    left: 37%;
    text-align: center;
    cursor: default;
}

.absolute-filter {
    input {
        padding: 9px !important;
    }
}

.min-height-260 {
    min-height: 260px;
}

.report {

    .card {
        .title-small {
            font-size: 14px;
            font-weight: 600;
            color: darken($blue, 30%);
        }

        .card-header {
            z-index: 5;

            .dropdown {
                .btn-white {
                    &.btn-sm {
                        font-size: 12px;
                        color: lighten($black, 25%);
                    }
                }
            }
        }

        .card-body {

            .absolute-filter {
                position: absolute;
                width: 100px;
                right: 7px;
                top: 0;
                z-index: 5;

                label.text-sm {
                    font-size: 12px;
                    margin-bottom: 0px;
                }

                input {
                    padding: 0px 9px;
                    font-size: 11px;
                }
            }

        }
    }

    .nav-tabs {
        border-bottom-color: $white;

        .nav-item {
            .nav-link {
                border-color: $white;
                background-color: $white;
                margin: 0px 3px;
                transition: 0.3s;
                text-transform: uppercase;
                font-weight: 500;

                &:hover {
                    border-color: lighten($blue, 30%);
                    border-bottom-color: $white;
                    background-color: lighten($blue, 40%);
                }

                &.active {
                    border-color: darken($blue, 30%);
                    background-color: darken($blue, 30%);
                    color: $white;
                }
            }
        }
    }
}
