.debit-doctor {
    .report-total-summary{
        .col {
            min-width: 198px;
        }
    }

    .card {
        padding: 25px 0px 11px;
    }

    .note-section {
        .note-section-left {
            background-color: darken($white,10%);
            min-height: 250px;
        }

        .note-section-right {
            ul {
                margin-bottom: 0 !important;

                li {
                    padding: 4px;

                    span {
                        font-size: 14px;
                        color: #A4A4A4;
                    }

                    h3 {
                        font-size: 16px;
                        color: #56A08C;
                        font-weight: 600;
                    }
                }
            }

        }

    }

    .task-app-section {
        .task-icon {
            i {
                color: #63C6AA;
                font-size: 50px;
            }
        }

        .time-ago-warning {
            color: #FFA05C;
        }

        .time-ago-success {
            color: #63C6AA;
        }

        table {
            .task-app-title {
                color: #222F72;
                font-size: 14px;
                font-weight: 600;

                small {
                    font-size: 12px;
                    color: #C4C3C3;
                }
            }

            .date {
                font-weight: 600;
            }

            .time {
                color: #63C6AA;
            }

        }
    }

    h1 {
        font-weight: 600;
        font-size: 26px;
    }

    p {
        font-size: 12px;
    }

    .page-header {
        //border-bottom: 0;
    }


    .add-note-section {
        .input-redius {
            border-radius: 13px 0px 0px 13px;
            background-color: #E8EEF9;
        }

        .btn-redius {
            border-radius: 0px 13px 13px 0px;
        }
    }


    .chart-section {
        .bg-white {
            min-height: 250px;
        }

    }

}
