.debit-report {
    .card {
        padding: 25px 25px 11px;
    }

    h1 {
        font-weight: 600;
        font-size: 26px;
    }

    p {
        font-size: 12px;
    }

    .badge.badge-success {
        background-color: #e5f9f1 !important;
        color: #45d79c;
    }

    .badge {
        width: auto !important;
        font-size: 11px;
        font-weight: 700;
        padding: 0.6rem 0.75rem !important;
    }

    .table {
        td, th {
            text-align: center;
        }
        tfoot {
            .table-footer-btn {
                padding: 5px 30px;
            }
        }
    }
    .border-dotted {
        border-style: dotted;
    }

    .padding-34 {
        padding: 34px;
    }
    .page-header {
        //border-bottom: 0;
    }

}
.report-total-summary{
    .col {
        min-width: 198px !important;
    }
}
#report {
    .page-header {
        a {
            margin-bottom: 2px;
        }
    }
}
