#task {
    .nav-sub-title {
        padding: 11px;
        border-radius: 5px;
        padding-left: 25px;
        margin-bottom: 17px;
    }

    .week-day {
        padding: 7px 0px 0px 34px;
        font-weight: 600;
    }

    p {
        margin-bottom: 0px !important;
    }

    .card {
        padding: 15px 10px !important;
    }

    .my-auto {
        .text {
            font-size: 15px !important;
            font-weight: 600 !important;
            margin-bottom: 3px;
            color: #323339;
        }

        .sub-text {
            font-size: 14px !important;
            font-weight: normal !important;
            color: #ABACB1;
        }
    }

    .task-shadow {
        box-shadow: 5px 5px 5px 5px rgba(242, 242, 242, 0.75) !important;
    }
}
