<template>
    <div class="debit-report" id="report">
        <!--<div class="form-row report-total-summary">
            <div class="col mb-2">
                <div class="card rounded border-0 px-0 ">
                    <h1 class="text-primary text-center">-£785.56</h1>
                    <p class="card-subtitle mt-1 text-muted text-center">Balance</p>
                </div>
            </div>
            <div class="col mb-2">
                <div class="card rounded border-0 px-0 ">
                    <h1 class="text-primary text-center">£120.30</h1>
                    <p class="card-subtitle mt-1 text-muted text-center">Total Payment</p>
                </div>
            </div>
            <div class="col mb-2">
                <div class="card rounded border-0 px-0 ">
                    <h1 class="text-primary text-center">£220</h1>
                    <p class="card-subtitle mt-1 text-muted text-center">Max. Ad Speed</p>
                </div>
            </div>
            <div class="col mb-2">
                <div class="card rounded border-0 px-0 ">
                    <h1 class="text-primary text-center">3</h1>
                    <p class="card-subtitle mt-1 text-muted text-center">No. Of Top Up</p>
                </div>
            </div>
            <div class="col mb-2">
                <div class="card rounded border-0 px-0  px-0">
                    <h1 class="text-primary text-center">8 days ago</h1>
                    <p class="card-subtitle mt-1 text-muted text-center">Last Top Up</p>
                </div>
            </div>

        </div>-->
        <div class="form-row mt-3 mb-3 report-total-summary">
            <div class="col mb-2">
                <div class="card rounded border-0 px-0">
                    <p class="card-subtitle mt-1 text-muted text-center">Balance</p>
                    <h1 class="text-primary text-center">{{total_outstanding_amount | numberFormat  }}</h1>
                </div>
            </div>
            <div class="col mb-2">
                <div class="card rounded border-0 px-0">
                    <p class="card-subtitle mt-1 text-muted text-center">Total Payment</p>
                    <h1 class="text-primary text-center">
                        {{ total_payment_amount | numberFormat}}</h1>
                </div>
            </div>
            <div class="col mb-2">
                <div class="card rounded border-0 px-0">
                    <p class="card-subtitle mt-1 text-muted text-center">Max. Ad Speed</p>
                    <h1 class="text-primary text-center">
                        {{ total_payment_amount > 0 ? total_payment_amount * 45 /100 : 0 | numberFormat }}
                    </h1>
                </div>
            </div>
            <div class="col mb-2">
                <div class="card rounded border-0 px-0">
                    <p class="card-subtitle mt-1 text-muted text-center">No. Of Top Up</p>
                    <h1 class="text-primary text-center">{{ invoice_payment_paid_count ? invoice_payment_paid_count:'0' }}</h1>
                </div>
            </div>
            <div class="col mb-2">
                <div class="card rounded border-0 px-0 px-1">
                    <p class="card-subtitle mt-1 text-muted text-center">Last Top Up</p>
                    <h1 v-if="client_.client_payment_invoices" class="text-primary text-center">
                        {{
                            client_.client_payment_invoices.length > 0
                                ?
                                (
                                    getDaysDiff(
                                        client_.client_payment_invoices[0].paid_date != ""
                                        ? client_.client_payment_invoices[0].paid_date
                                        :
                                        client_.client_payment_invoices[0].created_at
                                    )
                                )
                                :
                                0 + ' day'
                        }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-md-12">
                <div class="bg-white rounded table-responsive py-3 px-2 m-0">
                    <table class="table p-4 table-borderless table-rounded">
                        <thead>
                        <tr>
                            <th scope="col">Status</th>
                            <th scope="col">Payment Method</th>
                            <th scope="col">Next Renewal</th>
                            <th scope="col">Renewal Amount</th>
                            <th scope="col">Number of Renewal</th>
                        </tr>
                        </thead>
                        <tbody v-if="!aCampaign" class="">
                        <tr>
                            <td colspan="100%" class="p-0 rounded-0 mt-3">
                                <h4 class="alert alert-primary d-block text-center mb-0 text-primary">Not attached with any Campaign!</h4>
                            </td>
                        </tr>
                        </tbody>
                        <tbody class="" v-else>
                        <tr>
                            <td scope="row">
                                <span v-if="!editACampaign" class="badge badge-success text-capitalize">{{ aCampaign && aCampaign.recurring_way ? aCampaign.recurring_way:'monthly' }}</span>
                                <select v-else="" v-model="aCampaignUpdateData.recurring_way" class="form-control">
                                    <option value="daily">Daily</option>
                                    <option value="weekly">Weekly</option>
                                    <option value="monthly">Monthly</option>
                                </select>
                            </td>
                            <td>{{ user.card_brand ? 'Card Payment':'Cash Payment' }}</td>
                            <td>{{ getNextRenewalDate(lastInvoice.created_at, aCampaign && aCampaign.recurring_way ? aCampaign.recurring_way:'monthly') }}</td>
                            <td>
                                <span v-if="!editACampaign">{{ aCampaignUpdateData.amount = aCampaign && aCampaign.amount ? aCampaign.amount:'0' }}</span>
                                <input type="number" step="any" v-else="" v-model="aCampaignUpdateData.amount" class="form-control">
                            </td>
                            <td class="text-center">{{ totalRenewalNumber }}</td>

                        </tr>
                        </tbody>
                        <tfoot v-if="aCampaign">
                            <tr v-if="!editACampaign">
                                <th colspan="4">
                                </th>
                                <th colspan="1" class="text-right py-0">
                                    <button @click="editACampaign = true;" class="btn btn-primary btn-small-text table-footer-btn mt-4 px-5">
                                        <i class="fa fa-edit"></i> Edit
                                    </button>
                                </th>
                            </tr>
                            <tr v-else="">
                                <th colspan="4">
                                </th>
                                <th colspan="1" class="text-right py-0">
                                    <button @click="editACampaign = false;" class="btn btn-light btn-small-text table-footer-btn mt-4 px-5">
                                        <i class="fa fa-times"></i> Cancel
                                    </button>
                                    <button @click="updateACampaign()" class="btn btn-primary btn-small-text table-footer-btn mt-4 px-5">
                                        <i class="fa fa-save"></i> Save
                                    </button>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 mb-4" :style="hasCard ? 'display:none':''">
                <div class="p-4 bg-white rounded">
                    <div>
                        <form>
                            <div class="payment-body">
                                <div class="w-100 mb-3">
                                    <label for="card-element">
                                        Credit Holder Name
                                    </label>
                                    <input type="text" v-model="cardHolderName" class="form-control">
                                </div>
                                <div class="w-100">
                                    <label for="card-element">
                                        Credit or debit card
                                    </label>
                                    <div id="card-element">
                                        <!-- A Stripe Element will be inserted here. -->
                                    </div>
                                </div>
                                <div class="col-xs-12 text-right mt-2">
                                    <button id="card-button" @click.prevent="btnClick()" class="mt-3 btn btn-primary">Save Card</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div v-if="hasCard" class="col-md-12 mb-4">
                <div class="d-flex padding-34 bg-white rounded pr-2">
                    <div class="col">
                        <h6 class="card-title text-primary font-weight-bold">Billing Details</h6>
                        <i :class="`text-primary fa fa-cc${getCardName()} fa-3x`"></i>
                        <h6 class="card-subtitle mt-2 text-muted">**** **** **** {{ user.card_last_four }}</h6>
                        <h6 class="card-subtitle mt-1 ">Expires {{ getExpires() }}</h6>
                    </div>

                    <div class="col">
                        <h6 class="card-title text-primary font-weight-bold">Email Address</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{ user.email }} </h6>
                        <h6 class="card-title text-primary font-weight-bold">Phone</h6>
                        <h6 class="card-subtitle mb-2 text-muted">{{ user.phone }}</h6>
                        <button class="btn btn-primary btn-small-text mt-3 float-right px-5" @click="hasCard = false;">
                            <i class="fa fa-edit"></i> Edit
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 bg-white rounded table-responsive mb-3">
                <table class="table p-4 table-borderless table-rounded my-3 invoice">
                    <thead>
                    <tr>
                        <th scope="col" class="text-nowrap">Status</th>
                        <th scope="col" class="text-nowrap">Business Name</th>
                        <th scope="col" class="text-nowrap">Full Name</th>
                        <th scope="col" class="text-nowrap">Issued On</th>
                        <th scope="col" class="text-nowrap">Amount</th>
                        <th scope="col" class="text-nowrap">Paid On</th>
                        <th scope="col" class="text-nowrap">Method</th>
                        <th scope="col" class="text-nowrap"></th>

                    </tr>
                    </thead>
                    <tbody v-if="allInvoices && allInvoices.data.length != 0" class="">
                    <tr :class="invoice.status ==='pending' ? 'due-text1' : ''" v-for="( invoice, index) in allInvoices.data">
                        <td>
                            <span v-if="invoice.status ==='pending'" class="badge badge-danger">Due</span>
                            <span v-else class="badge badge-success">Paid</span>
                        </td>
                        <td class="text-nowrap mute text-capitalize">
                            {{ invoice.user.company ? invoice.user.company.name : '' }}
                        </td>
                        <td class="text-nowrap mute text-capitalize">
                            {{ invoice.user ? invoice.user.name : '' }}
                        </td>
                        <td class="text-nowrap">
                            {{ invoice.created_at ?  formatDate(invoice.created_at) : ''}}
                        </td>
                        <td class="text-nowrap">
                            {{ invoice.total_amount ? invoice.total_amount : '--' }}
                        </td>
                        <td class="text-nowrap">
                            {{ invoice.paid_date ? formatDate(invoice.paid_date) : ''}}
                        </td>
                        <td class="text-nowrap text-capitalize">
                            <template v-if="invoice.response">
                                {{ JSON.parse(invoice.response).payment_method_details ? JSON.parse(invoice.response).payment_method_details.type:'' }}
                            </template>
                            <template v-else></template>
                        </td>

                        <td v-if="invoice.status === 'completed'" class="text-center">
                            <span class="badge badge-primary cursor-pointer" @click="exportPdf(invoice.id)">PDF</span>
                        </td>
                        <td v-else class="text-center">
                            <button type="button" @click="payNow(index)" class="btn btn-primary btn-small-text fixed-width-15">Pay</button>
                        </td>
                    </tr>
                    </tbody>

                    <tbody v-else class="">
                    <tr>
                        <td colspan="100%" class="p-0 rounded-0 mt-3">
                            <h4 class="alert alert-primary d-block text-center mb-0 text-primary">No Data</h4>
                        </td>
                    </tr>
                    </tbody>

                </table>
                <div v-if="allInvoices.data.length > 0 && pagination.last_page != 1" class="d-flex justify-content-between">
                    <nav aria-label="Page navigation example" style="float: left">
                        <select name="" id="" @change="this_page_min = 1; this_page = 1; getInvoices(this_page)" v-model="per_page_items" class="form-control">
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </nav>
                    <!-- .pagination -->
                    <nav aria-label="...">
                        <ul class="pagination pagination justify-content-center">
                            <li class="page-item cursor-pointer" :class="{ disabled: pagination.current_page <= 1 }">
                                <a class="page-link" @click.prevent="changePage(pagination.current_page - 1); getInvoices(pagination.current_page)"> <i class="fas fa-chevron-left"></i> </a>
                            </li>
                            <li class="page-item cursor-pointer" :class="isCurrentPage(1) ? 'active' : ''">
                                <a class="page-link" @click.prevent="changePage(1); getInvoices(1)"  >{{ '1' }}
                                    <span v-if="isCurrentPage(1)" class="sr-only">(current)</span>
                                </a>
                            </li>


                            <li v-if="leftDots_" class="page-item cursor-default disabled">
                                <a class="page-link" @click.prevent="">...</a>
                            </li>
                            <li class="page-item cursor-pointer" v-for="page in pages" :key="page" :class="isCurrentPage(page) ? 'active' : ''">
                                <a class="page-link" @click.prevent="changePage(page); getInvoices(page)">{{ page }}
                                    <span v-if="isCurrentPage(page)" class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li v-if="rightDots_" class="page-item cursor-default disabled">
                                <a class="page-link" @click.prevent="">...</a>
                            </li>


                            <li class="page-item cursor-pointer" :class="isCurrentPage(pagination.last_page) ? 'active' : ''">
                                <a class="page-link" @click.prevent="changePage(pagination.last_page); getInvoices(pagination.last_page)">{{ pagination.last_page }}
                                    <span v-if="isCurrentPage(pagination.last_page)" class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="page-item cursor-pointer" :class="{ disabled: pagination.current_page >= pagination.last_page }">
                                <a class="page-link" @click.prevent="changePage(pagination.current_page + 1); getInvoices(pagination.current_page)"> <i class="fas fa-chevron-right"></i> </a>
                            </li>
                        </ul>
                    </nav><!-- .end-pagination -->
                </div>

                <div class="pb-3 float-right">
                    <button v-b-modal.createInvoice class="btn btn-primary" @click="projectType()">Create Invoice</button>
                </div>

            </div>
        </div>
        <!--Create Lead Modal -->
        <b-modal ref="createInvoice" id="createInvoice" size="lg" header-class="bg-primary text-white" :hide-footer="true" title="Create Invoice">
            <form @submit.prevent="saveInvoice()">
                <!--<div class="form-group row">
                    <label class="col-md-4 col-form-label">Invoice Type:</label>
                    <div class="col-md-8">
                        <select class="form-control" v-model="addInvoice.type" @change="emptyObject()">
                            <option value="campaign">Campaign</option>
                            <option value="landing_page">Landing Page</option>
                            <option value="other_project">Other Project</option>
                        </select>
                    </div>
                </div>
                <div v-if="addInvoice.type ===`campaign`" class="form-group row">
                    <label class="col-md-4 col-form-label">Campaign Name:</label>
                    <div class="col-md-8">
                        <multiselect
                            v-model="addInvoice.campaign"
                            :options="invoiceData.campaign ? invoiceData.campaign:[]"
                            label="name"
                            track-by="id"
                            placeholder="Select Campaign"
                            :close-on-select="true"
                            :clear-on-select="false"
                        ></multiselect>
                    </div>
                </div>
                <div v-if="addInvoice.type ===`landing_page`" class="form-group row">
                    <label class="col-md-4 col-form-label">Landing Page Name:</label>
                    <div class="col-md-8">
                        <multiselect
                            v-model="addInvoice.landingPage"
                            :options="invoiceData.landingPage ? invoiceData.landingPage:[]"
                            label="name"
                            track-by="id"
                            placeholder="Select Landing Page"
                            :close-on-select="true"
                            :clear-on-select="false"
                        ></multiselect>
                    </div>
                </div>
                <div v-if="addInvoice.type ===`other_project`" class="form-group row">
                    <label class="col-md-4 col-form-label">Other Project Name:</label>
                    <div class="col-md-8">
                        <multiselect
                            v-model="addInvoice.otherProject"
                            :options="invoiceData.otherProject ? invoiceData.otherProject:[]"
                            label="project_name"
                            track-by="id"
                            placeholder="Select Other Project"
                            :close-on-select="true"
                            :clear-on-select="false"
                        ></multiselect>
                    </div>
                </div>-->
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Description:</label>
                    <div class="col-md-8">
                        <textarea class="form-control" name="name"  v-model="addInvoice.description"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Amount:</label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" name="name" @keyup="changeTotal()" v-model="addInvoice.amount">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Vat (%):</label>
                    <div class="col-md-8">
                        <input readonly="true" type="number" max="100" min="0" step="any" class="form-control" @keyup="changeTotal()" placeholder="20%">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Total:</label>
                    <div class="col-md-8">
                        <input type="text" readonly="true" class="form-control" name="name" v-model="addInvoice.total">
                    </div>
                </div>
                <div class="d-block text-right">
                    <button type="submit" class="btn btn-primary p-2">Save</button>
                </div>
            </form>
        </b-modal>
        <!-- Modal End -->
    </div>



</template>

<script>
import * as moment from "moment";
import Multiselect from 'vue-multiselect';
import 'vue-multiselect/dist/vue-multiselect.min.css';

export default {
    name  : "Billing",

    props : ['invoices', 'client', 'total_renewal', 'campaign', 'last_invoice'],
    components: {Multiselect},

    data() {
        return {
            // STRIPE_KEY=pk_test_51Hj21sJy78K7KaFEJLLBGFvjUlg8UeLcRDLrwzNhST11lI9bhgWAd5vv4FKD8Ju68j0tI1GGaK3H2LMpIAzHOCvJ00X9L2kpXe
            stripeAPIToken: 'pk_test_51Hj21sJy78K7KaFEJLLBGFvjUlg8UeLcRDLrwzNhST11lI9bhgWAd5vv4FKD8Ju68j0tI1GGaK3H2LMpIAzHOCvJ00X9L2kpXe',
            stripe        : '',
            elements      : '',
            card          : '',
            cardHolderName: '',
            cardButton    : '',
            plan          : '',
            intent        : '',
            payment_method: '',
            hasCard       : false,
            saveThisCard  : true,

            aCampaignAmount: 0,

            editACampaign : false,
            aCampaignUpdateData : {
                recurring_way: 'monthly',
                amount: 0,
                user_id: 0
            },

            cards : ['amex', 'discover', 'jcb', 'mastercard', 'visa', 'stripe', 'diners-club'],
            totalRenewalNumber: this.total_renewal,
            aCampaign: JSON.parse(this.campaign),
            lastInvoice: JSON.parse(this.last_invoice),

            allInvoices: JSON.parse(this.invoices),
            user       : JSON.parse(this.client),
            pagination : JSON.parse(this.invoices),


            total_outstanding_amount: 0,
            total_payment_amount: 0,
            invoice_payment_paid_count: 0,

            selectedCampaign: {},
            client_: {},
            invoiceData:{},
            addInvoice        :{
                type          : '',
                campaign      : {},
                landingPage   : {},
                otherProject  : {},
                amount        : '',
                vat           : 20,
                total         : '',
                description   : '',
            },

            offset            : 10,
            leftDots_         : false,
            rightDots_        : false,
            this_page_min     : 1,
            per_page_items    : 10,
            this_page	      : 1,
            sort              : '',
            search            : ''


        }
    },

    mounted() {
        this.aCampaignUpdateData = {
            recurring_way: this.aCampaign && this.aCampaign.recurring_way ? this.aCampaign.recurring_way:'monthly',
            user_id: this.user.id
        };

        this.hasCard = this.checkIfCardHas();
        this.cardHolderName = this.user.name;
        this.includeStripe('js.stripe.com/v3/', function(){
            this.configureStripe();
        }.bind(this) );
        this.getIntent();

        this.getDashboardData();
        if (this.allInvoices.data.length > 0) {
            this.changePage(this.pagination.current_page);
        }
    },

    methods: {
        saveInvoice() {
            axios.post(`/staff/client/saveInvoice/${this.user.id}`, this.addInvoice)
                .then((response) => {
                    this.$bvModal.hide('createInvoice')
                    toastr['success']('Invoice create successfully');
                    this.getInvoices(this.this_page);
                }).catch((error) => {
                toastr["error"](error.message)
                console.log(error)
            })
        },
        changeTotal(){
            let tot = parseInt(this.addInvoice.amount) + parseInt(this.addInvoice.amount) * (parseInt(this.addInvoice.vat) > 0 ? parseInt(this.addInvoice.vat):0) / 100
            this.addInvoice.total = tot >= 0 ? tot:0
        },
        projectType(){
            axios.get(`/staff/client/getData`).then((response) => {
                this.invoiceData = response.data;
                console.log(this.invoiceData.campaign)
            });
        },
        getCardName() {
            let val = '', icon = '';
            val = _.replace(this.user.card_brand.toLowerCase(), /_/g, '-');

            this.cards.filter(element => {
                if(element === val) icon = '-'+element;
            })

            return icon;
        },
        getNextRenewalDate(date, renewCicle) {
            let day = 0;
            day = renewCicle == 'daily' ? 1:day
            day = renewCicle == 'weekly' ? 7:day
            day = renewCicle == 'bi-weekly' ? 14:day
            day = renewCicle == 'monthly' ? 30:day

            return moment(date).add('days', day).format('DD MMMM YYYY')
        },
        getExpires() {
            let val = '';
            val = moment(this.user.trial_ends_at).format('MM/DD')
            return val;
        },
        checkIfCardHas() {
            return this.user && this.user.card_brand && this.user.card_brand.length > 0;
        },
        payNow(index) {
            let invoice = this.allInvoices.data[index];
            let pay     = {
                amount: invoice.total_amount,
                user_id: this.user.id
            };
            if(!this.user.card_last_four) toastr['error']('Card Expired or Invalid');
            else {
                axios.post(`/staff/client/payNow/${invoice.id}`, pay)
                .then(response => {
                    toastr['success']('This Payment Done!');
                    this.getInvoices(this.this_page);
                })
                .catch(error => {
                    toastr['error'](error.message);
                });
            }
        },
        updateACampaign() {
            axios.post(`/staff/client/updateACampaign/${this.aCampaign.id}`, this.aCampaignUpdateData)
            .then(response => {
                this.aCampaign = response.data;
                this.editACampaign = false;
                toastr['success']('Success!');
            })
            .catch(error => {
                toastr['error'](error.message);
            });
        },
        getIntent() {
            this.isLoading = true;
            axios.get(`/staff/client/getIntent/${this.user.id}`)
                .then(response => {
                    this.intent = response.data.client_secret;
                })
                .catch(error => {
                    toastr['error'](error.message);
                });
        },
        /*
            Includes Stripe.js dynamically
        */
        includeStripe( URL, callback ){
            let documentTag = document, tag = 'script',
                object = documentTag.createElement(tag),
                scriptTag = documentTag.getElementsByTagName(tag)[0];
            object.src = '//' + URL;
            if (callback) { object.addEventListener('load', function (e) { callback(null, e); }, false); }
            scriptTag.parentNode.insertBefore(object, scriptTag);
        },
        /*
          Configures Stripe by setting up the elements and
          creating the card element.
        */
        configureStripe(){
            this.stripe = Stripe( this.stripeAPIToken );

            this.elements = this.stripe.elements();
            this.card = this.elements.create('card');

            this.card.mount('#card-element');
        },
        async btnClick(){
            this.isLoading = true;
            const clientSecret = this.intent;

            const { setupIntent, error } = await this.stripe.confirmCardSetup(
                clientSecret, {
                    payment_method: {
                        card: this.card,
                        billing_details: { name: this.cardHolderName }
                    }
                }
            );

            if (error) {
                // Display "error.message" to the user...
                toastr['error'](error.message);
            } else {
                this.payment_method = setupIntent.payment_method;

                this.stripe.createToken(this.card)
                .then(response => {
                    this.updatePaymentStatus(response.token);
                });
            }
        },

        updatePaymentStatus(token) {
            // this.isLoading = true;
            axios.post(`/staff/client/updatePaymentStatus/${this.user.id}`,{
                token,
                payment_method : this.payment_method,
                saveThisCard   : this.saveThisCard
            })
            .then(response => {
                this.card.clear();
                this.getIntent();
                this.user            = response.data.user;
                this.hasCard         = this.checkIfCardHas();
                this.company_user_id = '';
                toastr['success']('Card Saved!');
                // this.saveSubscriptionToLocal(response.data);
            })
            .catch(error => {
                toastr['error'](error.message);
            });
        },

        getDaysDiff(date) {
            let given = moment(date, "YYYY-MM-DD");
            let current = moment().startOf('day');
            let result = moment.duration(current.diff(given)).asDays();
            return result == 1 ? result + ' day ago' : result + ' days ago';
        },
        exportPdf(id) {
            axios.get(`/staff/client/billing/pdf/${id}`)
                .then(response => {
                    window.open(response.data);
                })
                .catch(error => {
                })
        },

        getDashboardData() {
            axios.get(`/staff/client/details/${this.user.id}`).then((response) => {
                this.client_ = response.data.auth;
                this.members = response.data.members;
                this.tasks = response.data.tasks;
                this.notes = response.data.notes;
                this.appointments = response.data.appointments;
                this.total_outstanding_amount = response.data.total_outstanding_amount;
                this.total_payment_amount = response.data.total_payment_amount;
                this.invoice_payment_paid_count = response.data.invoice_payment_paid_count;
            });
        },
        getInvoices(page=0) {
            axios.get(`/staff/client/${this.user.id}/billing/getBilling`, {
                params : {
                    page: page,
                    items: this.per_page_items,
                    sort: this.sort,
                    search: this.search
                },
            }).then((response) => {
                this.allInvoices   = response.data;
                this.pagination    = response.data;
                this.this_page_min = this.per_page_items * (this.this_page - 1) + 1;
                this.changePage(this.pagination.current_page);
            });
        },
        getFlag(status){
            let badge = 'badge-primary';

            switch(status) {
                case "send":
                    badge = "badge-warning";
                    break;
                case "signed":
                    badge = "badge-success";
                    break;
                case "mark_as_signed":
                    badge = "badge-danger";
                    break;
                default:
                    badge = "badge-primary";
            }
            return badge;
        },
        isCurrentPage(page){
            return this.pagination.current_page === page
        },
        changePage(page) {
            if (page > this.pagination.last_page) {
                page = this.pagination.last_page;
            }
            this.pagination.current_page = page;
            this.this_page               = page;

            if (this.offset >= page) this.leftDots_ = false;
            else this.leftDots_ = true;


            if (this.pagination.last_page - this.offset + 1 <= page) this.rightDots_ = false;
            else this.rightDots_ = true;


            if (this.pagination.last_page - 1 == this.offset) this.rightDots_ = false;

            // this.$emit('paginate');
        },

        emptyObject(){
            this.addInvoice.campaign     = {};
            this.addInvoice.landingPage  = {};
            this.addInvoice.otherProject = {};
        },

        formatDate(dateString) {
            const options = { year: "numeric", month: "short", day: "numeric" }
            return new Date(dateString).toLocaleDateString(undefined, options)
        },
    },
    computed: {
        pages() {
            let pages = []
            let from = this.pagination.current_page - Math.floor(this.offset / 2)
            if (from < 1) {
                from = 1
            }
            let to = from + this.offset - 1

            if (to > this.pagination.last_page) {
                to = this.pagination.last_page
            }
            while (from <= to) {
                if (from > 1 && from < this.pagination.last_page) {
                    pages.push(from)
                }
                from++
            }

            return pages
        }
    }

}
</script>
<style>
/**
* The CSS shown here will not be introduced in the Quickstart guide, but shows
* how you can use CSS to style your Element's container.
*/
.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#card-element {
    border: 1px solid #ccc;
}
</style>
