<template>
    <div>
        <div class="form-row mt-3 mb-3 report-total-summary">
            <div class="col mb-2">
                <div class="card rounded border-0">
                    <p class="card-subtitle mt-1 text-muted text-center">Balance</p>
                    <h1 class="text-primary text-center">{{total_outstanding_amount | numberFormat  }}</h1>
                </div>
            </div>
            <div class="col mb-2">
                <div class="card rounded border-0">
                    <p class="card-subtitle mt-1 text-muted text-center">Total Payment</p>
                    <h1 class="text-primary text-center">
                        {{ total_payment_amount | numberFormat}}</h1>
                </div>
            </div>
            <div class="col mb-2">
                <div class="card rounded border-0">
                    <p class="card-subtitle mt-1 text-muted text-center">Max. Ad Speed</p>
                    <h1 class="text-primary text-center">
                        {{ total_payment_amount > 0 ? total_payment_amount * 45 /100 : 0 | numberFormat }}
                    </h1>
                </div>
            </div>
            <div class="col mb-2">
                <div class="card rounded border-0">
                    <p class="card-subtitle mt-1 text-muted text-center">No. Of Top Up</p>
                    <h1 class="text-primary text-center">{{  invoice_payment_paid_count }}</h1>
                </div>
            </div>
            <div class="col mb-2">
                <div class="card rounded border-0">
                    <p class="card-subtitle mt-1 text-muted text-center">Last Top Up</p>
                    <h1 v-if="client.client_payment_invoices" class="text-primary text-center"> {{ client.client_payment_invoices.length > 0 ? getDaysDiff(client.client_payment_invoices[0].paid_date != "" ? client.client_payment_invoices[0].paid_date : client.client_payment_invoices[0].created_at)  : 0 + ' day'
                        }}</h1>
                </div>
            </div>

        </div>
        <div class="form-row mt-4 mb-4">
            <div class="col-md-12 chart-section">
                <div class="bg-white rounded pl-4 pr-4 pb-4 pt-1 min-h-30">
                    <div class="form-row justify-content-between page-header mb-0 border-0">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-5">
                            <h1 class="main-title">Campaign Report</h1>
                        </div>
                        <div class="col-12 col-sm-12 col-md-8 col-lg-7">
                            <div class="form-row">
                                <div class="col-md-1">
                                    From
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <!--                                        <div class="input-group-prepend">-->
                                        <!--                                            <button class="btn btn-outline-secondary m-0" type="button"><i-->
                                        <!--                                                class="fa fa-calendar"></i></button>-->
                                        <!--                                        </div>-->
                                        <v-date-picker
                                            v-model="campaign_from_date"
                                        />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    To
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <!--                                        <div class="input-group-prepend">-->
                                        <!--                                            <button class="btn btn-outline-secondary m-0" type="button"><i-->
                                        <!--                                                class="fa fa-calendar"></i></button>-->
                                        <!--                                        </div>-->
                                        <v-date-picker
                                            v-model="campaign_to_date"
                                        />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-sm btn-block p-2" style="margin-top: 0px !important;"
                                                @click.prevent="leadsPickerDateChange"> Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-12 col-md-12 col-sm-12 my-auto">
                            <div id="barchart_values">
                                <apexchart ref="demoChart" type="bar" height="120" :options="chartOptions"
                                           :series="series"></apexchart>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-2">
                        <a class="btn btn-light btn-block" :href="`/staff/client/${client_id}/overview/viewCustomerLeads`">View Leads</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row mt-4 mb-4 justify-content-between page-header note-section">
            <div class="col-md-12">
                <h1 class="main-title">Note</h1>
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                <div class="rounded note-section-left pt-2" style="overflow-y: scroll; max-height: 250px">
                    <div class="col-12 mb-2" v-for="note in notes">
                        <p class="py-1 rounded bg-white px-2 m-0">
                            <span class="d-flex justify-content-between">
                            <span class="h6 d-flex text-dark">
                                <img :src="note.client ? note.client.image_url:''"
                                     style="height: 32px;" alt="img" class="mr-2">
                                <span>
                                        <span>{{note.client ? note.client.name : ''}}</span>
                                    <small class="d-block text-muted">{{
                                            note.created_at | diffForHumans
                                        }}</small>
                                </span>
                            </span>
                                <span @click="noteDelete(note.id)" class="float-right cursor-pointer">
                                    <i class="fa fa-trash fa-lg mt-2 mr-1 text-danger"></i>
                                </span>
                            </span>
                            <span class="d-block mt-1 h6 mb-0" >
                           {{ note.note }}
                             </span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <div class="bg-white rounded p-2 note-section-right">
                    <ul>
                        <li>
                            <span>Contract Signed :</span>
                            <h3>Yes</h3>
                        </li>
                        <li>
                            <span>Campagn Manager :</span>
                            <h3>Dimas Ariyanto</h3>
                        </li>
                        <li>
                            <span>Sales Person :</span>
                            <h3>Salung Prastyo</h3>
                        </li>
                        <li>
                            <span>Account Manger :</span>
                            <h3>Andrian Dico P.</h3>
                        </li>

                    </ul>
                </div>
            </div>

        </div>

        <div class="form-row mt-4 mb-4 add-note-section">
            <div class="col-md-8">
                <div class="input-group">
                    <input v-model="client_note" type="text" class="form-control input-redius"
                           placeholder="Type here..."
                           aria-label="Type here..." aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button @click.prevent="noteSubmit()" class="btn btn-primary add-note-btn pl-4 pr-4 btn-redius"
                                type="button">Add Note
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-row mb-4 mt-4 task-app-section">
            <div class="col-sm-12 col-md-12 col-lg-6 task-section">
                <div class="bg-white rounded">
                    <div class="form-row p-4 justify-content-between page-header mb-0 border-0">
                        <div class="col-6 col-sm-6 col-md-3">
                            <h1 class="main-title">Tasks</h1>
                        </div>
                        <div class="col-6 col-sm-6 col-md-9 text-right">
                            <!--<button class="btn btn-primary btn-sm">Add Task</button>-->
                            <b-button v-b-modal.addTask class="btn-sm" @click="addTaskBtn()" variant="primary">Add Task</b-button>
                            <!-- Add Task Modal -->
                            <b-modal ref="addTask" id="addTask" size="lg" header-class="bg-primary text-white" :hide-footer="true"
                                     title="Add Task">
                                <form @submit.prevent="addSubmit = true; saveTask()" enctype="multipart/form-data">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">Title:</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="name" v-model="$v.addTask.name.$model">
                                            <small class="text-danger" v-if="addSubmit && !$v.addTask.name.required">Field is
                                                required</small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">Description:</label>
                                        <div class="col-md-8">
                        <textarea type="text" class="form-control" name="description"
                                  v-model="$v.addTask.description.$model"></textarea>
                                            <small class="text-danger" v-if="addSubmit && !$v.addTask.description.required">Field is
                                                required</small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">Staff Member:</label>
                                        <div class="col-md-8">
                                            <multiselect
                                                v-model="$v.allAssigns.$model"
                                                :options="allStaffUsers"
                                                :multiple="true"
                                                :close-on-select="false"
                                                :clear-on-select="false"
                                                :preserve-search="true"
                                                placeholder="Select Users"
                                                label="name"
                                                track-by="id"
                                            >
                                                <template slot="selection" slot-scope="{ values, search, isOpen }">
                                <span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{
                                        values.length
                                    }} options selected</span>
                                                </template>
                                            </multiselect>
                                            <small class="text-danger" v-if="addSubmit && !$v.allAssigns.required">Field is required</small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">Customer:</label>
                                        <div class="col-md-8">
                                            <multiselect
                                                v-model="allCustomerAssigns"
                                                :options="allCustomerUsers"
                                                :multiple="true"
                                                :close-on-select="false"
                                                :clear-on-select="false"
                                                :preserve-search="true"
                                                placeholder="Select Users"
                                                label="name"
                                                track-by="id"
                                            >
                                                <template slot="selection" slot-scope="{ values, search, isOpen }">
                                <span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{
                                        values.length
                                    }} options selected</span>
                                                </template>
                                            </multiselect>
                                            <small class="text-danger" v-if="addSubmit && !$v.allAssigns.required">Field is required</small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">Due Date:</label>
                                        <div class='col-sm-8'>
                                            <v-date-picker
                                                v-model='$v.addTask.due_date.$model'
                                                is-expanded
                                                title-position="left"
                                                :attributes="[]"
                                                :locale="{ firstDayOfWeek: 2 }"
                                                @dayclick=""
                                            />
                                            <small class="text-danger" v-if="addSubmit && !$v.addTask.due_date.required">Field is
                                                required</small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">Attachments:</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <div class="custom-file">
                                                    <input type="file" id="file" ref="file" v-on:change="handleFileUpload()">
                                                    <label class="custom-file-label" @click="$refs.file.click()">{{ fileName }}</label>
                                                </div>
                                            </div>
                                            <!--<small class="text-danger" v-if="addSubmit && !$v.addTask.name.required">Field is required</small>-->
                                        </div>
                                    </div>
                                    <!--<div class="form-group row">
                                        <label class="col-md-4 col-form-label">Checklist:</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="checklist" v-model="$v.addTask.checklist.$model"
                                                   placeholder="Use comma for multiple checklist">
                                            <small class="text-danger" v-if="addSubmit && !$v.addTask.checklist.required">Field is
                                                required</small>
                                        </div>
                                    </div>-->
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">Status:</label>
                                        <div class="col-md-8">
                                            <select class="form-control" name="status" v-model="$v.addTask.status.$model">
                                                <option value="pending">Pending</option>
                                                <option value="in-progress">In progress</option>
                                                <option value="completed">Completed</option>
                                            </select>
                                            <small class="text-danger" v-if="addSubmit && !$v.addTask.status.required">Field is
                                                required</small>
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label">Priority:</label>
                                        <div class="col-md-8">
                                            <select class="form-control" name="priority" v-model="$v.addTask.priority.$model">
                                                <option value="low">Low</option>
                                                <option value="medium">Medium</option>
                                                <option value="high">High</option>
                                            </select>
                                            <small class="text-danger" v-if="addSubmit && !$v.addTask.priority.required">Field is
                                                required</small>
                                        </div>

                                    </div>
                                    <!--<div class="form-group row">
                                        <label class="col-md-4 col-form-label">Link Type:</label>
                                        <div class="col-md-8">
                                            <select class="form-control" name="link_type" v-model="$v.addTask.link_type.$model">
                                                <option value="campaign">Campaign</option>
                                                <option value="landing_page">Landing Page</option>
                                                <option value="other_project">Other Project</option>
                                            </select>
                                            <small class="text-danger" v-if="addSubmit && !$v.addTask.link_type.required">Field is
                                                required</small>
                                        </div>
                                    </div>-->
                                    <div class="d-block text-right">
                                        <button type="reset" class="btn btn-light p-2">Reset</button>
                                        <button v-if="task_id" type="submit" class="btn btn-primary p-2">Update</button>
                                        <button v-else type="submit" class="btn btn-primary p-2">Save</button>
                                    </div>
                                </form>
                            </b-modal>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table p-4 table-borderless table-rounded">
                            <tbody class="">
                            <tr v-for="task in tasks">
                                <td scope="row" class="task-app-title">{{ task.name }}
                                    <br> <small v-html="">{{ task.description }}</small>
                                </td>
                                <td class="time-ago-warning">{{ task.due_date | dateFormat }}</td>
                                <td class="text-right">
                                    <button type="button" @click="getTaskDetails(task.id)"
                                            data-target="#viewTaskModal"
                                            data-toggle="modal"
                                            class="btn btn-outline-primary btn-small-text fixed-width-25">
                                        View Details
                                    </button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 appointment-section">
                <div class="bg-white rounded">
                    <div class="form-row p-4 justify-content-between page-header mb-0 border-0">
                        <div class="col-6 col-sm-6 col-md-3">
                            <h1 class="main-title">Appointments</h1>

                        </div>
                        <div class="col-6 col-sm-6 col-md-9 text-right">
                            <button class="btn btn-primary btn-sm" data-target=".add_Appointment" data-toggle="modal">Add Appointment</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table p-4 table-borderless table-rounded">
                            <tbody class="">
                            <tr v-for="appointment in appointments">
                                <td scope="row" class="date">{{ appointment.date | dateFormat }}</td>
                                <td class="task-app-title">{{ appointment.title }}
                                    <br> <small v-html="appointment.description"></small>
                                </td>
                                <td class="time">{{ appointment.from | timeFormat }}
                                    - {{ appointment.to | timeFormat }}
                                </td>
                                <td class="text-right">
                                    <button type="button" @click="getAppointmentDetails(appointment.id)"
                                            class="btn btn-outline-primary btn-small-text fixed-width-25"
                                            data-target="#viewAppointmentModal"
                                            data-toggle="modal">
                                        View Details
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <!--Create Appointment Modal -->
        <div class="modal fade add_Appointment" id="add_Appointment" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white font-weight-bold">
                        <h5 class="modal-title">Add Appointment</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="saveAppointment" method="post">
                            <div class="form-group row">
                                <label for="title" class="col-sm-4 col-form-label">Title</label>
                                <div class="col-sm-8">
                                    <input required class="form-control" v-model="addAppointment.title" id="title">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label">Staff Member:</label>
                                <div class="col-sm-8">
                                    <multiselect
                                        v-model = "addAppointment.member_id"
                                        :options="allStaffUsers"
                                        :multiple="false"
                                        :close-on-select="true"
                                        :clear-on-select="false"
                                        :preserve-search="true"
                                        placeholder="Select Staff"
                                        label="name"
                                        track-by="id"
                                    >
                                        <template slot="selection" slot-scope="{ values, search, isOpen }">
                                <span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{
                                        values.length
                                    }} options selected</span>
                                        </template>
                                    </multiselect>
                                    <!--<small class="text-danger" v-if="addSubmit && !$v.allAssigns.required">Field is required</small>-->
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Date</label>
                                <div class="col-sm-8">
                                    <v-date-picker
                                        v-model="addAppointment.date"
                                    />
                                    <!--                                    <input required type="date" class="form-control"-->
                                    <!--                                           v-model="addAppointment.date" id="date">-->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="from" class="col-sm-4 col-form-label">From (time)</label>
                                <div class="col-sm-8">
                                    <input required type="time" class="form-control"
                                           v-model="addAppointment.from"
                                           id="from">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="to" class="col-sm-4 col-form-label">To (time)</label>
                                <div class="col-sm-8">
                                    <input required type="time" class="form-control"
                                           v-model="addAppointment.to"
                                           id="to">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="description" class="col-sm-4 col-form-label">Description</label>
                                <div class="col-sm-8">
                                    <textarea v-model="addAppointment.description" id="description"
                                              class="form-control"></textarea>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="reset" class="btn btn-light">Reset</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--View task Modal -->
        <div v-if="task_modal" class="modal fade bd-example-modal-lg task_modal" id="viewTaskModal" tabindex="-1"
             role="dialog"
             aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white font-weight-bold">
                        <h5 class="modal-title">View Appointment</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-row">
                            <div class="col-12 col-lg-12">
                                <div class="bg-light rounded px-2" style="background-color: #f5f6fa !important;">
                                    <div class="card-body">
                                        <div class="sidetask-head mb-3">
                                            <div class="form-group row">
                                                <div class="col-12 pt-2">
                                                    <h4 class="text-dark mb-0" id="name"><b>{{ task.name }}</b></h4>
                                                    <p id="description"><b>{{ task.description }}</b></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="text-dark pb-1"><b>Marked As:</b><br></div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input"
                                                               type="radio"
                                                               name="status"
                                                               v-model="task.status"
                                                               id="inlineRadio1"
                                                               value="pending"
                                                               @click="changeTaskStatus(task.id, 'pending')"
                                                        >
                                                        <label class="form-check-label" for="inlineRadio1">Open</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input"
                                                               type="radio"
                                                               name="status"
                                                               v-model="task.status"
                                                               id="inlineRadio2"
                                                               value="in-progress"
                                                               @click="changeTaskStatus(task.id, 'in-progress')"
                                                        >
                                                        <label class="form-check-label" for="inlineRadio2">In
                                                            Review</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input"
                                                               type="radio"
                                                               name="status"
                                                               v-model="task.status"
                                                               id="inlineRadio3"
                                                               value="completed"
                                                               @click="changeTaskStatus(task.id, 'completed')"
                                                        >
                                                        <label class="form-check-label"
                                                               for="inlineRadio3">Closed</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sidetask-assign mb-3">
                                            <div class="row assign-head">
                                                <div class="col-12 mb-2 text-dark">
                                                    <b>Assigned To:</b>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-12 assign-list pr-2" id="assign-list">
                                                            <a href="#" class="text-decoration-none px-2"
                                                               v-for="user_task in task.user_tasks">
                                                                <img class="rounded-circle mr-1"
                                                                     :src="user_task.user.image_url" alt="img"
                                                                     style="height: 20px">
                                                                <strong>{{ user_task.user.name }}</strong>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sidetask-assign mb-3">
                                            <div class="row assign-head">
                                                <div class="col-6 pb-2 text-dark">
                                                    <b>Due Date</b>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                        <span class="timel-o">
                                                            <i class="fas fa-calendar-alt text-success"></i>
                                                            <span id="due_date_modal">
                                                                {{
                                                                    task.due_date | dateFormatTask
                                                                }} {{ task.due_date | timeFormat }}
                                                            </span>
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="task-checklist" id="task-checklist">
                                            <div class="heading-sub-o text-dark pb-2"><b>Checklists:</b></div>
                                            <div id="task-checklist-container">
                                                <div class="custom-control custom-checkbox"
                                                     v-for="sub_task in task.sub_tasks">
                                                    <input
                                                        type="checkbox"
                                                        :id="`subTaskStatus_${sub_task.id}`"
                                                        :checked="sub_task.status == 'pending' ? false:true"
                                                        class="custom-control-input"
                                                        @click="sub_task.status = changeSubTaskStatus(sub_task.id, sub_task.status)"
                                                    >
                                                    <label :for="`subTaskStatus_${sub_task.id}`"
                                                           class="custom-control-label pb-0">{{ sub_task.name }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label
                                                class="col-12 col-form-label text-dark"><b>Attachments:</b></label>
                                            <div class="col-12">
                                                <a v-if="task.attachments && task.attachments.length > 0 ? true:false"
                                                   :href="task.attachments" id="attachments" download=""
                                                   title="Download">
                                                    <i class="text-primary fa fa-download"></i>
                                                </a>
                                                <div v-else class="hidden-message" style="display: none">
                                                    <div class="text-danger" id="message">No Attachment Available</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col md-4">
                                                <h6 class="text-dark"><b>Status:</b></h6>
                                                <p id="status" class="text-capitalize">{{ task.status }}</p>
                                            </div>
                                            <div class="col md-4">
                                                <h6 class="text-dark"><b>Priority:</b></h6>
                                                <p id="priority" class="text-capitalize">{{ task.priority }}</p>
                                            </div>
                                            <div class="col md-4">
                                                <h6 class="text-dark"><b>Link Type:</b></h6>
                                                <p id="link_type" class="text-capitalize">
                                                    {{ task.link_type | replaceUnderscoreWithSpace }}</p>
                                            </div>
                                        </div>
                                        <hr style="border-bottom: 1px solid #ddd">
                                        <div class="w-100">
                                            <textarea id="" maxlength="60" v-model="taskComment"
                                                      class="form-control"></textarea>
                                            <div class="pt-3 pb-5">
                                                <button type="button" @click="saveComment(task.id)"
                                                        class="btn float-right btn-primary">
                                                    <i class="fab fa-telegram-plane"></i>
                                                    Submit
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 mb-2" v-for="comment in comments">
                                                <p class="py-2 rounded bg-white px-2">
                                                    <span class="h6 d-flex text-dark">
                                                        <img :src="comment.user ? comment.user.image_url:''"
                                                             style="height: 32px;" alt="img" class="mr-2">
                                                        <span>
                                                            <span class="d-block">{{
                                                                    comment.user ? comment.user.name : ''
                                                                }}</span>
                                                            <small class="d-block text-muted">{{
                                                                    comment.created_at | diffForHumans
                                                                }}</small>
                                                        </span>
                                                    </span>
                                                    <span class="d-block mt-3">
                                                        {{ comment.description }}
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal task End -->
        <!--View appointment Modal -->
        <div v-if="appointment_modal" class="modal fade bd-example-modal-lg appointment_modal" id="viewAppointmentModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white font-weight-bold">
                        <h5 class="modal-title" id="exampleModalLongTitle">View Appointment</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Title</label>
                            <div class="col-sm-8" id="title_show">{{ appointmentDetails.title }}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Date</label>
                            <div class="col-sm-8" id="date_show">{{ appointmentDetails.date | dateFormat }}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Time</label>
                            <div class="col-sm-8" id="time_show">{{ appointmentDetails.from | timeFormat }} to {{
                                    appointmentDetails.to | timeFormat
                                }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Member of Staff</label>
                            <div class="col-sm-8" id="member_show" v-if="appointmentDetails.member">
                                {{ appointmentDetails.member.name }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Description</label>
                            <div class="col-sm-8" id="description_show">{{ appointmentDetails.description }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal appointment End -->
    </div>
</template>
<script>
import VueApexCharts from 'vue-apexcharts'
import * as moment from "moment";
import 'vue-multiselect/dist/vue-multiselect.min.css';
import VCalendar from 'v-calendar';
import Multiselect from 'vue-multiselect';
import {required, minLength, maxLength, alpha, email, sameAs} from 'vuelidate/lib/validators'

export default {
    props: ['client_id', 'users', 'staffs'],
    name: 'StaffClientDetails',
    data() {
        return {
            //allStaffUsers: JSON.parse(this.staffs),
            addAppointment: {
                title: '',
                member_id: '',
                date: new Date(),
                from: '',
                to: '',
                description: '',
            },
            allUsers: JSON.parse(this.users),

            allStaffUsers: [],
            allCustomerUsers: [],
            addSubmit: false,
            task_id: '',
            attributes: [],
            allAssigns: [],
            allCustomerAssigns: [],
            addTask: {
                name: '',
                description: '',
                assigned_to: [],
                due_date: '',
                attachments: '',
                checklist: '',
                status: '',
                priority: '',
                link_type: '',
            },

            file: '',
            fileNameTemp: 'Choose file',
            fileName: 'Choose file',

            total_outstanding_amount:0,
            total_payment_amount:0,
            invoice_payment_paid_count:0,
            members: [],
            notes: [],
            client_note: '',
            campaign_from_date: '',
            campaign_to_date: '',
            task_modal: false,
            appointment_modal: false,
            client: {},
            tasks: [],
            comments: [],
            appointments: [],
            task: {},
            taskComment: '',
            appointmentDetails: {},
            leads_from_date: '',
            leads_to_date: '',
            series: [],

            totals: {
                Campaign_Build: 0,
                Internal_Approval: 0,
                LP_Build: 0,
                LP_ER: 0,
                LP_IR: 0,
                Live: 0,
                Lost: 0,
                On_Boarding: 0,
                Paused: 0,
            },

            chartOptions: {
                chart: {
                    type: 'bar',
                    height: 120,
                    stacked: true,
                },
                plotOptions: {
                    bar: {
                        horizontal: true,
                    },
                },
                stroke: {
                    width: 1,
                    colors: ['#fff']
                },
                title: {
                    // text: 'Fiction Books Sales'
                },
                xaxis: {
                    categories: [],
                    labels: {
                        formatter: function (val) {
                            return val
                            // return val + "K"
                        }
                    }
                },
                yaxis: {
                    title: {
                        text: undefined
                    },
                },
                tooltip: {
                    y: {
                        formatter: function (val) {
                            // return val + "K"
                            return val
                        }
                    }
                },
                fill: {
                    opacity: 1
                },
                legend: {
                    position: 'bottom',
                    horizontalAlign: 'center',
                    offsetX: 40
                }
            },

        }
    },
    validations: {
        addTask: {
            name: {
                required,
            },
            description: {
                required,
            },
            /*assigned_to  : {
                required,
            },*/
            due_date: {
                required,
            },
            /*attachments  : {
                required,
            },*/
            /*checklist: {
                required,
            },*/
            status: {
                required,
            },
            priority: {
                required,
            },
            /*link_type: {
                required,
            },*/
        },
        allAssigns: {
            required,
        }
    },
    components: {
        apexchart: VueApexCharts, Multiselect, VCalendar
    },
    mounted() {
        console.log(this.client_id)
        this.getDashboardData()
        _.forEach(this.allUsers, (ele, ind) => {
            if(ele.type == 'customer') this.allCustomerUsers.push(ele);
            else this.allStaffUsers.push(ele);
        })
    },
    methods: {
        getDaysDiff(date) {
            let given = moment(date, "YYYY-MM-DD");
            let current = moment().startOf('day');
            let result = moment.duration(current.diff(given)).asDays();
            return result == 1 ? result + ' day ago' : result + ' days ago';
        },
        addTaskBtn(){
            this.allAssigns = []
            this.allCustomerAssigns = []
            this.addTask = {
                name: '',
                description: '',
                assigned_to: [],
                due_date: '',
                attachments: '',
                checklist: '',
                status: '',
                priority: '',
                link_type: '',
            }
        },

        formatAssigns() {
            this.addTask.assigned_to = []
            this.allAssigns.filter(element => {
                this.addTask.assigned_to.push(element.id);
            })
            this.allCustomerAssigns.filter(element => {
                this.addTask.assigned_to.push(element.id);
            })
        },
        saveTask() {
            this.$v.$touch();
            if (!this.$v.$invalid) {
                this.formatAssigns();
                console.log(this.client_id);
                let formData = new FormData();
                let file = this.$refs.file.files[0];

                formData.append('attachments', file);
                formData.append('task_id', this.task_id);
                formData.append('name', this.addTask.name);
                formData.append('description', this.addTask.description);
                formData.append('assigned_to', this.addTask.assigned_to);
                formData.append('due_date', moment(this.addTask.due_date).format('YYYY-MM-DD'));
                formData.append('checklist', this.addTask.checklist);
                formData.append('status', this.addTask.status);
                formData.append('priority', this.addTask.priority);
                formData.append('link_type', this.addTask.link_type);
                formData.append('client_id', this.addAppointment.member_id);
                //formData.append('attachments', this.addTask.attachments);client_id

                axios.post('/staff/tasks/clientTaskStore', formData)
                    .then((response) => {
                        toastr['success']("Task Saved!");
                        this.$refs.addTask.hide();
                        this.getDashboardData();
                        // this.getTasks();
                    }).catch((error) => {
                    toastr["error"](error.message)
                    console.log(error)
                });
            } else {
                toastr["error"]('Error in validation!');
            }
        },
        handleFileUpload() {
            this.file = this.$refs.file.files[0];
            this.fileName = this.file ? this.file.name : this.fileNameTemp;
        },
        saveAppointment() {
            this.addAppointment.date = this.dateFormat(this.addAppointment.date)
            axios.post('/add/appointment', this.addAppointment).then((response) => {
                $('#add_Appointment').modal('toggle');
                toastr["success"]("Appointment Create Successfully")
                // this.calendarOptions.events = JSON.parse(response.data.events);
                // this.attributes = JSON.parse(response.data.dots);
                this.appointments = response.data.appointments;
                this.addAppointment = {
                    title: '',
                    member_id: '',
                    date: '',
                    from: '',
                    to: '',
                    description: '',
                };
            }).catch((error) => {
                toastr["error"](error.message)
                console.log(error.message)
            })
        },
        noteSubmit() {
            let data = {
                note: this.client_note
            };
            axios.post(`/staff/client/save-note/${this.client_id}`, data)
                .then((response) => {
                    console.log(response.data)
                    this.notes = response.data;
                    this.client_note = ''
                    toastr['success']("Note Added!");
                }).catch((error) => {
                toastr["error"](error.message)
                console.log(error)
            })
        },
        dateFormat(date) {
            return moment(date).format('YYYY-MM-DD');
        },
        getDashboardData() {
            axios.get(`/staff/client/details/${this.client_id}`).then((response) => {
                console.log(response);
                this.client = response.data.auth;
                this.members = response.data.members;
                this.tasks = response.data.tasks;
                this.notes = response.data.notes;
                this.appointments = response.data.appointments;
                this.total_outstanding_amount = response.data.total_outstanding_amount;
                this.total_payment_amount = response.data.total_payment_amount;
                this.invoice_payment_paid_count = response.data.invoice_payment_paid_count;
                let cat_data = response.data.campaigns_data.categories
                this.chartOptions = {
                    xaxis: {
                        categories: cat_data
                    }
                }
                let series_data = response.data.campaigns_data.series
                this.series = series_data;
            });
        },
        leadsPickerDateChange() {
            if (this.campaign_from_date != ' ' && this.campaign_to_date != '') {
                this.series = [];
                axios.get(`/staff/client/client-campaign/${this.client_id}`, {
                    params: {
                        campaign_from_date: this.dateFormat(this.campaign_from_date),
                        campaign_to_date: this.dateFormat(this.campaign_to_date),
                    }
                }).then((response) => {
                    let cats_data = response.data.categories;
                    this.chartOptions = {
                        xaxis: {
                            categories: cats_data
                        }
                    }
                    let series_data = response.data.series
                    this.series = series_data;

                });
            } else {
                toastr["error"]('From and To filed are required')
            }

        },
        getTaskDetails(id) {
            this.task_modal = true
            $('.task_modal').modal('show')
            this.task = {};
            axios.get(`/staff/tasks/${id}`)
                .then((response) => {
                    this.task = response.data;
                    this.comments = response.data.comment;
                });
        },
        saveComment(task_id) {
            let data = {
                description: this.taskComment
            };
            axios.post(`/staff/tasks/saveComment/${task_id}`, data)
                .then((response) => {
                    this.comments = response.data;
                    this.taskComment = '';
                    toastr['success']("Task Updated!");
                }).catch((error) => {
                toastr["error"](error.message)
                console.log(error)
            })
        },
        getAppointmentDetails(id) {
            this.appointment_modal = true
            $('.appointment_modal').modal('show')
            axios.get(`/appointments/${id}`).then((response) => {
                this.appointmentDetails = response.data
            });
        },
        changeTaskStatus(id, status) {
            axios.get(`/staff/tasks/changeTaskStatus/${id}/${status}`)
                .then((response) => {
                    toastr['success']("Task Updated!");
                }).catch((error) => {
                toastr["error"](error.message);
                console.log(error);
            })
        },
        changeSubTaskStatus(id, status) {
            let setStatus = status == 'completed' ? 'pending' : 'completed'
            axios.get(`/staff/tasks/changeSubTaskStatus/${id}/${setStatus}`)
                .then((response) => {
                    toastr['success']("Task Updated!");
                }).catch((error) => {
                toastr["error"](error.message);
                console.log(error);
            })
            return setStatus;
        },
        noteDelete(noteID) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    axios.delete(`/staff/client/${this.client_id}/delete-note/${noteID}`)
                        .then((response) => {
                            this.notes = response.data
                            toastr["success"]("Deleted Successfully!")
                            //this.getUserHolidays();
                        });
                    console.log(noteID)
                }
            })
        },
    },

    computed: {}

}
</script>
