<template>
    <div class="client campaigns-container" id="client">
        <div class="row justify-content-between page-header">
            <div class="col-md-6">
                <h1 class="main-title">Landing Page Details</h1>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                    <div class="col-12 text-center text-white bg-gradient-primary">
                        <p class="pt-2 mb-0">Landing Page Name</p>
                        <h1 class="mt-0 pb-2 text-capitalize">{{ landingPage.name }}</h1>
                    </div>
                    <div class="col-12 mt-2 px-0">
                        <div class="form-row">
                            <div class="col-6">
                                <button class="btn btn-primary bg-gradient-primary w-100 text-capitalize">{{  landingPage.status.replace("_", " ") }}</button>
                            </div>
                            <div class="col-6">
                                <button class="btn btn-primary bg-gradient-primary w-100">{{ landingPage.date }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center text-white bg-gradient-info my-2 py-2">
                        <h3 class="mt-0">{{ landingPage.user ? landingPage.user.name:'' }}</h3>
                        <b-button v-b-modal.modal-1 class="btn btn-md" variant="info">View Contact Details</b-button>

                        <b-modal id="modal-1" title="Contact Details" header-class="text-white bg-primary" hide-footer>
                            <div class="row">
                                <div class="col-2"><i class="fa fa-user"></i></div>
                                <div class="col-1">:</div>
                                <div class="col-9">{{ landingPage.user ? landingPage.user.name:'' }}</div>
                            </div>
                            <div class="row">
                                <div class="col-2"><i class="fa fa-mobile"></i></div>
                                <div class="col-1">:</div>
                                <div class="col-9">{{ landingPage.user ? landingPage.user.phone:'' }}</div>
                            </div>
                            <div class="row">
                                <div class="col-2"><i class="fa fa-envelope"></i></div>
                                <div class="col-1">:</div>
                                <div class="col-9">{{ landingPage.user ? landingPage.user.email:'' }}</div>
                            </div>
                            <div class="row">
                                <div class="col-2"><i class="fa fa-check"></i></div>
                                <div class="col-1">:</div>
                                <div class="col-9 text-capitalize">{{ landingPage.user ? landingPage.user.status:'' }}</div>
                            </div>
                        </b-modal>
                    </div>
                    <div class="col-12 card">
                        <div class="card-title mt-2 mb-0 text-dark">
                            Description
                        </div>
                            <div class="card-body pl-1 mt-1">
                                <p class="text-justify">{{ landingPage.description }}</p>
                            </div>
                    </div>
                    <div class="col-12 card mt-2 py-2">
                        <div class="card-title mb-0 text-dark">
                            Assign Details
                        </div>
                        <div class="card-body bg-light mt-2 rounded p-1">
                            <span class="d-flex justify-content-between">
                            <span class="h6 d-flex text-dark ml-1 mt-1">
                                <img :src="`${landingPage.assigned_to ? landingPage.assigned_to.image_url:'/staff/images/user-1.jpg'}`"
                                     @error="imageLoadError"
                                     style="height: 32px;" alt="img" class="rounded-circle mr-2">
                                <span class="text-primary my-auto ml-2">{{ landingPage.assigned_to ? landingPage.assigned_to.name:'' }}</span>
                            </span>
                                <span  class="float-right my-auto">
                                    <span class="bg-white px-2 mr-2 rounded">
                                        {{ landingPage.assigned_to ? landingPage.assigned_to.type:'' }}
                                    </span>
                                </span>
                            </span>
                        </div>
                    </div>
            </div>
            <div class="col-md-8 bg-white page-header border-bottom-0 mt-0 rounded">
                <h1 class="main-title ml-1 mt-2">Notes</h1>
                <div class="col-12">
                        <div class="rounded note-section-left pt-2 bg-light" style="overflow-y: scroll; min-height: 500px;max-height: 500px">
                            <div class="col-12 mb-2" v-for="(landingComment, index) in landingComments">
                                <p class="py-1 rounded bg-white px-2 m-0">
                                    <span class="d-flex justify-content-between">
                                        <span class="h6 d-flex">
                                            <img :src="`${landingComment.user ? landingComment.user.image_url:'/staff/images/user-1.jpg'}`"
                                                 @error="imageLoadError"
                                                 style="height: 32px;" alt="img" class="rounded-circle mr-2">
                                            <span>
                                                <span class="text-dark d-block">{{ landingComment.user ? landingComment.user.name:'' }}</span>
                                                <small class="d-block">{{ landingComment.created_at | timeFormat }} | {{ landingComment.created_at | dateFormat }}</small>
                                            </span>
                                        </span>
                                        <span  class="float-right cursor-pointer" @click.prevent="noteDelete(landingComment.id)">
                                            <i class="fa fa-trash fa-md mt-2 mr-1 text-danger"></i>
                                        </span>
                                    </span>
                                    <span class="d-block mt-1 h6 mb-0 ml-2 pb-1 text-justify">{{ landingComment.description }}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                <hr>
                <div class="col-md-12 pb-4">
                    <div class="input-group">
                        <input type="text" class="form-control input-redius" v-model="clientNote"
                               placeholder="Type here..."
                               aria-label="Type here..." aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary add-note-btn pl-4 pr-4 btn-redius"  @click.prevent="noteSubmit()"
                                    type="button">Add Note
                            </button>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</template>

<script>
export default {
name: "DetailsLandingPage",
props: ['landing_pages', 'landing_comments']  ,

    data(){
        return{
            landingPage: JSON.parse(this.landing_pages),
            landingComments: JSON.parse(this.landing_comments),
            clientNote: '',
        }
    },
    mounted() {
        console.log(this.landingComments)
        console.log(this.landingPage)
    },
    methods: {
        noteSubmit() {
            let data = {
                note  : this.clientNote,
                userId: this.landingPage.user_id
            };
            axios.post(`/staff/client/save-landing-page-note/${this.landingPage.id}`, data)
                .then((response) => {
                    console.log(response.data)
                    this.landingComments = response.data;
                    this.clientNote = ''
                    toastr['success']("Note Added!");
                }).catch((error) => {
                toastr["error"](error.message)
                console.log(error)
            })
        },
        noteDelete(noteID) {
            console.log(noteID)
       Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    axios.delete(`/staff/client/${this.landingPage.id}/delete-lp-note/${noteID}`)
                        .then((response) => {
                            this.landingComments = response.data
                            toastr["success"]("Deleted Successfully!")
                            //this.getUserHolidays();
                        });
                    console.log(noteID)
                }
            })
        },
        imageLoadError(event) {
            event.target.src = "/staff/images/user-1.jpg";
            console.log('asas')
        }
    }
}
</script>

<style scoped>

</style>
