<template>
    <div class="card">
        <div class="card-body">
            <form @submit.prevent="updateClient()" enctype="multipart/form-data">
                <h4 class="main-title p-2 bg-primary text-white rounded mb-4">Account Details</h4>
                <div class="form-group row">
                    <label for="" class="col-md-2 col-form-label">Name</label>
                    <div class="col-md-4">
                        <input type="text" v-model="editClient.name" class="form-control" id="name">
                       <!-- <small class="text-danger"
                               v-if="addSubmit && !$v.editClient.name.required">Name is required!</small>
                        <small class="text-danger" v-if="addSubmit && !$v.editClient.name.minLength">Name
                            must have at least {{ $v.editClient.name.$params.minLength.min }}
                            letters.</small>-->
                    </div>
                    <!--<label for="" class="col-md-2 col-form-label">Job Position</label>
                    <div class="col-md-4">
                        <input type="text" v-model="editClient.job_position" class="form-control"
                               value="">
                        <small class="text-danger"
                               v-if="addSubmit && !$v.editClient.job_position.required">Job Position is
                            required!</small>
                    </div>-->
                    <label for="" class="col-md-2 col-form-label">Business Name</label>
                    <div class="col-md-4">
                        <input type="text" v-model="editClient.company_name" class="form-control"
                               value="">
                        <!--<small class="text-danger"
                               v-if="addSubmit && !$v.editClient.company_name.required">Business Name is
                            required!</small>-->

                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-md-2 col-form-label">Email</label>
                    <div class="col-md-4">
                        <input type="email" v-model="editClient.email" class="form-control" value="">
                        <!--<small class="text-danger"
                               v-if="addSubmit && !$v.editClient.email.email && $v.editClient.email.required">Valid
                            Email is required!</small>-->

                    </div>
                    <label for="" class="col-md-2 col-form-label">Phone</label>
                    <div class="col-md-4">
                        <input type="text" v-model="editClient.phone" class="form-control" value="">
                        <!--<small class="text-danger"
                               v-if="addSubmit && !$v.editClient.phone.required">Phone is
                            required!</small>
                        <small class="text-danger" v-if="addSubmit && !$v.editClient.phone.minLength">Phone
                            must have at least {{ $v.editClient.phone.$params.minLength.min }}
                            numbers.</small>-->

                    </div>
                </div>

                <div class="form-group row">
                    <label for="" class="col-md-2 col-form-label">Password</label>
                    <div class="col-md-4">
                        <input type="password" v-model="editClient.password" class="form-control"
                               value="">
                        <!--<small class="text-danger" v-if="addSubmit && !$v.editClient.password.required">Password
                            is required!</small>-->

                    </div>
                    <label for="" class="col-md-2 col-form-label">Confirm Password</label>
                    <div class="col-md-4">
                        <input type="password" v-model="editClient.password_confirmation"
                               class="form-control" autocomplete="password">
                        <!--<small class="text-danger"
                               v-if="addSubmit && !$v.editClient.password_confirmation.sameAsPassword && $v.editClient.password_confirmation.required">Confirm
                            Password Does not matched!</small>-->

                    </div>
                </div>

                <!--<div class="form-group row">
                    <label for="" class="col-md-2 col-form-label">Status</label>
                    <div class="col-md-4">
                        <select class="form-control" v-model="editClient.status" id="exampleInputEmail1">
                            <option value="">Select Client Status</option>
                            <option value="new">New</option>
                            <option value="recurring">Recurring</option>
                            <option value="gold">Gold</option>
                            <option value="lost">Lost</option>
                        </select>
                        <small class="text-danger" v-if="addSubmit && !$v.editClient.status.required">Status
                            is required!</small>

                    </div>
                    <label for="" class="col-md-2 col-form-label">Member Color</label>
                    <div class="col-md-4">
                        <select class="form-control" v-model="editClient.member_color"
                                id="exampleInputEmail1" :style="'color:'+editClient.member_color">
                            <option value="">Select Color</option>
                            <option :value="color" v-for="color in colors" class="text-capitalize"
                                    :style="'color:'+color">{{ color }}
                            </option>
                        </select>
                    </div>
                </div>-->

                <h4 class="main-title p-2 bg-primary text-white rounded mt-4 mb-4">Details</h4>
                <div class="form-group row">
                    <!--<label for="" class="col-md-2 col-form-label">Company Name</label>
                    <div class="col-md-4">
                        <input type="text" v-model="editClient.company_name" class="form-control"
                               value="">
                        <small class="text-danger"
                               v-if="addSubmit && !$v.editClient.company_name.required">Company Name is
                            required!</small>

                    </div>-->
                    <label for="" class="col-md-2 col-form-label">Landing Page</label>
                    <div class="col-md-4">
                        <input required type="text" v-model="editClient.landing_page_name" class="form-control">
                    </div>
                    <label for="" class="col-md-2 col-form-label">Status</label>
                    <div class="col-md-4">
                        <select required class="form-control" v-model="editClient.landing_page_status">
                            <option value="awaiting_build">LP Build</option>
                            <option value="business_review">LP IR</option>
                            <option value="customer_review">LP ER</option>
                            <option value="on_boarding">On Boarding</option>
                            <!--<option value="awaiting">Campaign Build</option>-->
                            <option value="campaign_build">Campaign Build</option>
                            <option value="billing_detail">IA</option>
                            <option value="lost">Lost</option>
                            <option value="live">Live</option>
                            <option value="pending">Paused</option>
                        </select>
                    </div>
                </div>


                <h4 class="main-title p-2 bg-primary text-white rounded mt-4 mb-4">Additional Details</h4>
                <div class="form-group row">
                    <!--<label for="" class="col-md-2 col-form-label">Company Name</label>
                    <div class="col-md-4">
                        <input type="text" v-model="editClient.company_name" class="form-control"
                               value="">
                        <small class="text-danger"
                               v-if="addSubmit && !$v.editClient.company_name.required">Company Name is
                            required!</small>

                    </div>-->
                    <label for="" class="col-md-2 col-form-label">Trading Name</label>
                    <div class="col-md-4">
                        <input type="text" v-model="editClient.business_info_trading_name" class="form-control"
                               value="">
                        <!--<small class="text-danger"
                               v-if="addSubmit && !$v.editClient.trading_name.required">Company Name is
                            required!</small>-->

                    </div>
                    <label for="" class="col-md-2 col-form-label">Website</label>
                    <div class="col-md-4">
                        <input type="text" v-model="editClient.business_info_website" class="form-control"
                               value="">
                    </div>
                    <!-- <label for="" class="col-md-2 col-form-label">Work Phone</label>
                     <div class="col-md-4">
                         <input type="text" v-model="editClient.work_phone" class="form-control" value="">
                     </div>-->
                </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group mb-4">
                                <label class="col-form-label">What does your business do?</label>
                                <div class="">
                                    <textarea required rows="3" class="form-control input-border rounded" v-model="editClient.landing_page_description"></textarea>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label class="col-form-label">Describe your idea client?</label>
                                <div class="">
                                    <textarea rows="3" class="form-control input-border rounded" v-model="editClient.landing_page_customer_benefit"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group mb-4">
                                <label class="col-form-label">What locations do you want to target?</label>
                                <div class="">
                                    <textarea rows="3" class="form-control input-border rounded" v-model="editClient.landing_page_target_location"></textarea>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label class="col-form-label">Any reviews (or links review pages about your business) </label>
                                <div class="">
                                    <textarea rows="3" class="form-control input-border rounded" v-model="editClient.landing_page_reviews"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-12 col-form-label my-3">What are 4 frequently Asked
                            Questions you get asked by potential customers? </label>
                        <div class="col-12 col-md-6">
                            <div class="questions-answer-section">
                                <div class="form-group mb-4">
                                    <input type="text" class="form-control input-border rounded" placeholder="Questions" v-model="editClient.landing_page_q1">
                                </div>
                                <div class="form-group mb-4 question_1">
                                    <textarea rows="4" class="form-control input-border rounded" placeholder="Answer" v-model="editClient.landing_page_a1" ></textarea>
                                </div>
                            </div>
                            <div class="questions-answer-section">
                                <div class="form-group mb-4">
                                    <input type="text" class="form-control input-border rounded" placeholder="Questions" id="questions2" v-model="editClient.landing_page_q2">
                                </div>
                                <div class="form-group mb-4 question_2">
                                    <textarea rows="4" class="form-control input-border rounded" placeholder="Answer" v-model="editClient.landing_page_a2"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="questions-answer-section">
                                <div class="form-group mb-4">
                                    <input type="text" class="form-control input-border rounded" placeholder="Questions" id="questions3" v-model="editClient.landing_page_q3">
                                </div>
                                <div class="form-group mb-4 question_3">
                                    <textarea rows="4" class="form-control input-border rounded" placeholder="Answer" v-model="editClient.landing_page_a3"></textarea>
                                </div>
                            </div>
                            <div class="questions-answer-section">
                                <div class="form-group mb-4">
                                    <input type="text" class="form-control input-border rounded" placeholder="Questions" id="questions4" v-model="editClient.landing_page_q4">
                                </div>
                                <div class="form-group mb-4 question_4">
                                    <textarea rows="4" class="form-control input-border rounded" placeholder="Answer" v-model="editClient.landing_page_a4"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group mb-4 float-right">
                                <input type="file" id="logo" ref="logo" v-on:change="handleFileUpload('logo')" hidden>
                                <input type="file" id="image" ref="image" v-on:change="handleFileUpload('image')" hidden>
                                <button class="btn btn-primary" type="button" @click="$refs.logo.click()">+ Add Logo</button>
                                <button class="btn btn-primary" type="button" @click="$refs.image.click()">+ Additional Photos</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group mb-4">
                                <label class="col-form-label">Anything else you would like us to know? </label>
                                <div class="">
                                    <textarea rows="3" class="form-control input-border rounded" v-model="editClient.landing_page_other_query"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                <!--<div class="form-group row">
                    <label for="" class="col-md-2 col-form-label">Recurring Amount</label>
                    <div class="col-md-4">
                        <input type="number" v-model="editClient.recurring_amount" class="form-control"
                               value="">
                    </div>
                    <label for="" class="col-md-2 col-form-label">How Often?</label>
                    <div class="col-md-4">
                        <select class="form-control" v-model="editClient.recurring_way">
                            <option value="weekly">Weekly</option>
                            <option value="bi_weekly">Bi-weekly</option>
                            <option value="monthly">Monthly</option>
                        </select>
                    </div>
                </div>-->
                <!--<div class="form-group row">
                    <label for="" class="col-md-2 col-form-label">Website</label>
                    <div class="col-md-4">
                        <input type="text" v-model="editClient.work_website" class="form-control"
                               value="">
                    </div>
                    <label for="" class="col-md-2 col-form-label">Work Email Address</label>
                    <div class="col-md-4">
                        <input type="email" v-model="editClient.work_email" class="form-control"
                               value="">
                    </div>
                </div>-->

                <!--<div class="form-group row">
                    <label for="" class="col-md-2 col-form-label">Address</label>
                    <div class="col-md-4">
                        <textarea type="text" class="form-control"
                                  v-model="editClient.work_address" placeholder="Address"></textarea>
                    </div>
                    <label for="" class="col-md-2 col-form-label">Notes</label>
                    <div class="col-md-4">
                        <textarea type="text" class="form-control"
                                  v-model="editClient.notes" placeholder="Notes"></textarea>
                    </div>
                </div>-->

                <div class="d-block text-right">
                    <!--<button type="reset" class="btn btn-light">Reset</button>-->
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
                        <!--<form @submit.prevent="updateClient()" method="post">
                            <h4 class="main-title p-2 bg-primary text-white rounded mb-4">Client Details</h4>
                            <div class="form-group row">
                                <label for="" class="col-md-2 col-form-label">Name</label>
                                <div class="col-md-4">
                                    <input type="text" v-model="editClient.name" class="form-control" id="name">
                                </div>
                                <label for="" class="col-md-2 col-form-label">Job Position</label>
                                <div class="col-md-4">
                                    <input type="text" v-model="editClient.job_position" class="form-control"
                                           value="">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="" class="col-md-2 col-form-label">Email</label>
                                <div class="col-md-4">
                                    <input type="email" v-model="editClient.email" class="form-control" value="">
                                </div>
                                <label for="" class="col-md-2 col-form-label">Phone</label>
                                <div class="col-md-4">
                                    <input type="text" v-model="editClient.phone" class="form-control" value="">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="" class="col-md-2 col-form-label">Password</label>
                                <div class="col-md-4">
                                    <input type="password" v-model="editClient.password" class="form-control"
                                           value="">
                                </div>
                                <label for="" class="col-md-2 col-form-label">Confirm Password</label>
                                <div class="col-md-4">
                                    <input type="password" v-model="editClient.password_confirmation"
                                           class="form-control" autocomplete="password">
                                    <small class="text-danger" v-if="passwordError">Confirm Password Does not matched!</small>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="" class="col-md-2 col-form-label">Status</label>
                                <div class="col-md-4">
                                    <select class="form-control" v-model="editClient.status" id="exampleInputEmail1">
                                        <option value="">Select Client Status</option>
                                        <option value="new">New</option>
                                        <option value="recurring">Recurring</option>
                                        <option value="gold">Gold</option>
                                        <option value="lost">Lost</option>
                                    </select>
                                </div>
                                <label for="" class="col-md-2 col-form-label">Member Color</label>
                                <div class="col-md-4">
                                    <select class="form-control" v-model="editClient.member_color"
                                            id="exampleInputEmail1" :style="'color:'+editClient.member_color">
                                        <option value="">Select Color</option>
                                        <option :value="color" v-for="color in colors" class="text-capitalize"
                                                :style="'color:'+color">{{color}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <h4 class="main-title p-2 bg-primary text-white rounded mt-4 mb-4">Business Details</h4>
                            <div class="form-group row">
                                <label for="" class="col-md-2 col-form-label">Company Name</label>
                                <div class="col-md-4">
                                    <input type="text" v-model="editClient.company_name" class="form-control"
                                           value="">
                                  </div>
                                <label for="" class="col-md-2 col-form-label">Work Phone</label>
                                <div class="col-md-4">
                                    <input type="text" v-model="editClient.business_info_phone" class="form-control" value="">
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="" class="col-md-2 col-form-label">Website</label>
                                <div class="col-md-4">
                                    <input type="text" v-model="editClient.business_info_website" class="form-control"
                                           value="">
                                </div>
                                <label for="" class="col-md-2 col-form-label">Work Email Address</label>
                                <div class="col-md-4">
                                    <input type="email" v-model="editClient.business_info_email_address" class="form-control"
                                           value="">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="" class="col-md-2 col-form-label">Address</label>
                                <div class="col-md-4">
                                        <textarea type="text" class="form-control"
                                                  v-model="editClient.business_info_address" placeholder="Address"></textarea>
                                </div>
                                <label for="" class="col-md-2 col-form-label">Notes</label>
                                <div class="col-md-4">
                                        <textarea type="text" class="form-control"
                                                  v-model="editClient.business_info_notes" placeholder="Notes"></textarea>
                                </div>
                            </div>

                            <div class="d-block text-right">
                                <button type="reset" class="btn btn-light" @click="editClient=[]">Reset</button>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>-->
        </div>
    </div>

</template>

<script>

import Multiselect from 'vue-multiselect';
import 'vue-multiselect/dist/vue-multiselect.min.css';

export default {
    name: 'StaffClientEdit',
    props : ['clients','landing_pages', 'a_client'],
    components: {Multiselect},

    data() {
        return {
            editClient: JSON.parse(this.a_client),
            landingPage: JSON.parse(this.landing_pages),
            addSubmit: false,
            passwordError: false,
            image: '',
            logo: '',
            colors: ['gray', 'red', 'orange', 'yellow', 'green', 'teal', 'blue', 'indigo', 'purple', 'pink'],
        }
    },
    methods:{
        updateClient() {
            let formData = new FormData();
            let logo = this.logo;
            let image = this.image;

            formData.append('logo', logo);
            formData.append('image', image);


            _.forEach(this.editClient, (ele, index) => {
                formData.append(index, ele);
            })
            // console.log(this.editClient, formData);
            if (this.editClient.password === this.editClient.password_confirmation) {
                axios.post(`/staff/client/update/${this.editClient.id}`, formData,this.editClient).then((response) => {
                    toastr["success"]("Client Updated Successfully")
                    this.passwordError = false;
                }).catch((error) => {
                    toastr["error"](error.message)
                    console.log(error)
                });
            }else {
                this.passwordError = true;
            }
        },
        handleFileUpload(name) {
            if(name == 'logo') this.logo = this.$refs.logo.files[0];
            else this.image = this.$refs.image.files[0];
            console.log(this.logo, this.image);
        }
    },
    mounted() {
        console.log(this.editClient)
    }
}
</script>

<style scoped>

</style>
