<template>

    <div class="client" id="client">
        <div class="row justify-content-between page-header">
            <div class="col-md-1">
                <h1 class="main-title mt-2">Client</h1>
            </div>
            <div class="col-md-11 pr-0">
                <div class="ml-auto">
                    <nav class="nav nav-pills nav-tabs justify-content-end m-b-25" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active"
                           @click="changeStatusAndGetClients('','on_boarding','');"
                           data-toggle="tab"
                           href="#"
                           role="tab"
                           aria-controls="nav-home"
                           aria-selected="true"
                        >On Boarding</a>

                        <a class="nav-item nav-link"
                           @click="changeStatusAndGetClients('','awaiting_build','');"
                           data-toggle="tab"
                           href="#"
                           role="tab"
                           aria-controls="nav-home"
                           aria-selected="true"
                        >LP Build</a>

                        <a class="nav-item nav-link"
                           @click="changeStatusAndGetClients('','business_review','');"
                           data-toggle="tab"
                           href="#"
                           role="tab"
                           aria-controls="nav-home"
                           aria-selected="true"
                        >LP IR</a>

                        <a class="nav-item nav-link"
                           @click="changeStatusAndGetClients('','customer_review','');"
                           data-toggle="tab"
                           href="#"
                           role="tab"
                           aria-controls="nav-home"
                           aria-selected="true"
                        >LP ER</a>

                        <a class="nav-item nav-link"
                           @click="changeStatusAndGetClients('','awaiting','');"
                           data-toggle="tab"
                           href="#"
                           role="tab"
                           aria-controls="nav-home"
                           aria-selected="true"
                        >Campaign Build</a>

                        <a class="nav-item nav-link"
                           @click="changeStatusAndGetClients('','billing_detail','');"
                           data-toggle="tab"
                           href="#"
                           role="tab"
                           aria-controls="nav-home"
                           aria-selected="true"
                        >IA</a>

                        <a class="nav-item nav-link"
                           @click="changeStatusAndGetClients('','live','');"
                           data-toggle="tab"
                           href="#"
                           role="tab"
                           aria-controls="nav-home"
                           aria-selected="true"
                        >LIVE</a>

                        <a class="nav-item nav-link"
                           @click="changeStatusAndGetClients('','pending','');"
                           data-toggle="tab"
                           href="#"
                           role="tab"
                           aria-controls="nav-home"
                           aria-selected="true"
                        >PAUSED</a>

                        <a class="nav-item nav-link"
                           @click="changeStatusAndGetClients('','lost','');"
                           data-toggle="tab"
                           href="#"
                           role="tab"
                           aria-controls="nav-home"
                           aria-selected="true"
                        >LOST</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row">

            <!--Table View Start-->
            <div class="tab-content w-100" id="nav-tabContent">
                <div class="tab-pane fade show active" id="onboarding" role="tabpanel"
                     aria-labelledby="onboarding">
                    <div class="form-row filter-bar">
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-block" data-target="#addClient" type="button"
                                    data-toggle="modal">+ Add New
                            </button>
                        </div>

                        <!--<div class="col-md-2">
                            <div class="dropdown">
                                <button class="btn btn-white btn-block bg-white dropdown-toggle text-capitalize"
                                        type="button"
                                        v-model="sort"
                                        id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                    Find By : <span
                                    class="text-primary font-weight-bolder">{{ findBy ? findBy : 'All' }}</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" :class="{'active' : findBy==''}"
                                       @click="findBy=''; getClients()" href="#">All</a>
                                    <a class="dropdown-item" :class="{'active' : findBy=='new'}"
                                       @click="findBy='new'; getClients()" href="#">New</a>
                                    <a class="dropdown-item" :class="{'active' : findBy=='recurring'}"
                                       @click="findBy='recurring'; getClients()" href="#">Recurring</a>
                                    <a class="dropdown-item" :class="{'active' : findBy=='gold'}"
                                       @click="findBy='gold'; getClients()" href="#">Gold</a>
                                    <a class="dropdown-item" :class="{'active' : findBy=='lost'}"
                                       @click="findBy='lost'; getClients()" href="#">Lost</a>
                                </div>
                            </div>
                        </div>-->
                        <div class="col-md-4">
                            <div class="search-form">
                                <input type="text" placeholder="Search" class="form-control" v-model="search">
                                <i data-feather="search" class="ml-3"></i>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <button @click="getClients()"
                                    class="btn btn-outline-primary bg-white text-primary float-right pl-5 pr-5">
                                <i class="fas fa-sliders-h fa-rotate-90"></i>
                                Filter
                            </button>
                        </div>
                    </div>
                    <div class="row position-relative">
                        <div class="col-md-12 bg-white rounded table-responsive mb-0">
                            <table class="table p-4 table-borderless table-rounded my-3">
                                <thead>
                                <tr>
                                    <th scope="col" class="text-left">Business Name</th>
                                    <th scope="col">Payment Total</th>
                                    <th scope="col">Max Ad Spend</th>
                                    <th scope="col">Top Ups</th>
                                    <th scope="col">Last Top Up</th>
                                    <th scope="col">Last Comment</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody v-if="allClients && allClients.data.length != 0" class="">
                                <tr v-for="(client, index) in allClients.data">
                                    <td scope="row" class="text-left">{{ client.company ? client.company.name : '' }}
                                    </td>
                                    <td>
                                        {{ client.client_payment_invoices.length > 0 ? getTotalAmount(client.client_payment_invoices) : 0 | numberFormat }}
                                    </td>
                                    <td> {{
                                        client.client_payment_invoices.length > 0 ? getTotalAmount(client.client_payment_invoices) * 45 /
                                        100 : 0  | numberFormat
                                        }}
                                    </td>
                                    <td>{{ client.client_payment_invoices.length > 0 ? client.client_payment_invoices.length : 0 }} </td>
                                    <td>
                                        {{ client.client_payment_invoices.length > 0 ? getDaysDiff(client.client_payment_invoices[0].paid_date != "" ? client.client_payment_invoices[0].paid_date : client.client_payment_invoices[0].created_at)  : 0 + ' day'
                                        }}
                                    </td>
                                    <td>
                                        {{ client.last_comments ? getDaysDiff(client.last_comments.created_at) : 0 + ' day' }} ago
                                    </td>
                                    <td class="text-right">
                                        <!--<button type="button"
                                                class="btn btn-outline-primary btn-small-text fixed-width-25"
                                                data-target="#viewDetails"
                                                data-toggle="modal" @click="viewDetails(client.id)">
                                            View Details
                                        </button>-->
                                        <a class="btn btn-outline-primary btn-small-text fixed-width-25"
                                           :href="getUrl(client.id, 'overview')">
                                            View Details
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody v-else class="">
                                <tr>
                                    <td colspan="100%" class="p-0 rounded-0 mt-3">
                                        <h4 class="alert alert-primary d-block text-center mb-0 text-primary">No
                                            Data</h4>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--<div v-if="allClients.data.length > 0 && allClients.last_page != 1"
                                 class="d-flex justify-content-between">
                                <nav aria-label="Page navigation example" style="float: left">
                                    <select @change="this_page_min = 1; this_page = 1; getClients(this_page)"
                                            v-model="per_page_items" class="form-control">
                                        <option value="1">1</option>
                                        <option value="3">3</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </nav>
                                <pagination :data="allClients" @pagination-change-page="getClients"
                                            :show-disabled="true" :limit="offset">
                                    <span slot="prev-nav"><i class="fas fa-chevron-left"></i></span>
                                    <span slot="next-nav"><i class="fas fa-chevron-right"></i></span>
                                </pagination>
                            </div>-->
                        </div>
                        <div v-if="isLoading" class="loader w-100 h-100 position-absolute rounded">
                            <span role="status" class="spinner-border text-white mt-5">
                                <span class="sr-only">Text Centered</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Table View End-->

            <!--Client Add Modal Start-->
            <div class="modal fade bd-example-modal-lg" id="addClient" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white font-weight-bold">
                            <h5 class="modal-title" id="exampleModalLongTitle">Add New Client</h5>
                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form @submit.prevent="saveClient()" method="post">
                                <h4 class="main-title p-2 bg-primary text-white rounded mb-4">Account Details</h4>
                                <div class="form-group row">
                                    <label for="" class="col-md-2 col-form-label">Name</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="addClient.name" class="form-control" id="name">
                                        <small class="text-danger"
                                               v-if="addSubmit && !$v.addClient.name.required">Name is required!</small>
                                        <small class="text-danger" v-if="addSubmit && !$v.addClient.name.minLength">Name
                                            must have at least {{ $v.addClient.name.$params.minLength.min }}
                                            letters.</small>
                                    </div>
                                    <!--<label for="" class="col-md-2 col-form-label">Job Position</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="addClient.job_position" class="form-control"
                                               value="">
                                        <small class="text-danger"
                                               v-if="addSubmit && !$v.addClient.job_position.required">Job Position is
                                            required!</small>
                                    </div>-->
                                        <label for="" class="col-md-2 col-form-label">Business Name</label>
                                        <div class="col-md-4">
                                            <input type="text" v-model="addClient.company_name" class="form-control"
                                                   value="">
                                            <small class="text-danger"
                                                   v-if="addSubmit && !$v.addClient.company_name.required">Business Name is
                                                required!</small>

                                        </div>
                                </div>

                                <div class="form-group row">
                                    <label for="" class="col-md-2 col-form-label">Email</label>
                                    <div class="col-md-4">
                                        <input type="email" v-model="addClient.email" class="form-control" value="">
                                        <small class="text-danger"
                                               v-if="addSubmit && !$v.addClient.email.email && $v.addClient.email.required">Valid
                                            Email is required!</small>

                                    </div>
                                    <label for="" class="col-md-2 col-form-label">Phone</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="addClient.phone" class="form-control" value="">
                                        <small class="text-danger"
                                               v-if="addSubmit && !$v.addClient.phone.required">Phone is
                                            required!</small>
                                        <small class="text-danger" v-if="addSubmit && !$v.addClient.phone.minLength">Phone
                                            must have at least {{ $v.addClient.phone.$params.minLength.min }}
                                            numbers.</small>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="" class="col-md-2 col-form-label">Password</label>
                                    <div class="col-md-4">
                                        <input type="password" v-model="addClient.password" class="form-control"
                                               value="">
                                        <small class="text-danger" v-if="addSubmit && !$v.addClient.password.required">Password
                                            is required!</small>

                                    </div>
                                    <label for="" class="col-md-2 col-form-label">Confirm Password</label>
                                    <div class="col-md-4">
                                        <input type="password" v-model="addClient.password_confirmation"
                                               class="form-control" autocomplete="password">
                                        <small class="text-danger"
                                               v-if="addSubmit && !$v.addClient.password_confirmation.sameAsPassword && $v.addClient.password_confirmation.required">Confirm
                                            Password Does not matched!</small>

                                    </div>
                                </div>


                               <div class="form-group row">
                                   <label class="col-md-2 col-form-label">Staff Member:</label>
                                   <div class="col-md-4">
                                       <multiselect
                                           v-model = "addClient.assigned_to"
                                           :options="allStaffUsers"
                                           :multiple="false"
                                           :close-on-select="true"
                                           :clear-on-select="false"
                                           :preserve-search="true"
                                           placeholder="Select Staff"
                                           label="name"
                                           track-by="id"
                                       >
                                           <template slot="selection" slot-scope="{ values, search, isOpen }">
                                <span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{
                                        values.length
                                    }} options selected</span>
                                           </template>
                                       </multiselect>
                                       <!--<small class="text-danger" v-if="addSubmit && !$v.allAssigns.required">Field is required</small>-->
                                   </div>
                                </div>
                                <!--<div class="form-group row">
                                    <label for="" class="col-md-2 col-form-label">Status</label>
                                    <div class="col-md-4">
                                        <select class="form-control" v-model="addClient.status" id="exampleInputEmail1">
                                            <option value="">Select Client Status</option>
                                            <option value="new">New</option>
                                            <option value="recurring">Recurring</option>
                                            <option value="gold">Gold</option>
                                            <option value="lost">Lost</option>
                                        </select>
                                        <small class="text-danger" v-if="addSubmit && !$v.addClient.status.required">Status
                                            is required!</small>

                                    </div>
                                    <label for="" class="col-md-2 col-form-label">Member Color</label>
                                    <div class="col-md-4">
                                        <select class="form-control" v-model="addClient.member_color"
                                                id="exampleInputEmail1" :style="'color:'+addClient.member_color">
                                            <option value="">Select Color</option>
                                            <option :value="color" v-for="color in colors" class="text-capitalize"
                                                    :style="'color:'+color">{{ color }}
                                            </option>
                                        </select>
                                    </div>
                                </div>-->

                                <h4 class="main-title p-2 bg-primary text-white rounded mt-4 mb-4">Additional Details</h4>
                                <div class="form-group row">
                                    <!--<label for="" class="col-md-2 col-form-label">Company Name</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="addClient.company_name" class="form-control"
                                               value="">
                                        <small class="text-danger"
                                               v-if="addSubmit && !$v.addClient.company_name.required">Company Name is
                                            required!</small>

                                    </div>-->
                                    <label for="" class="col-md-2 col-form-label">Trading Name</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="addClient.trading_name" class="form-control"
                                               value="">
                                        <!--<small class="text-danger"
                                               v-if="addSubmit && !$v.addClient.trading_name.required">Company Name is
                                            required!</small>-->

                                    </div>
                                    <label for="" class="col-md-2 col-form-label">Website</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="addClient.work_website" class="form-control"
                                               value="">
                                    </div>
                                   <!-- <label for="" class="col-md-2 col-form-label">Work Phone</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="addClient.work_phone" class="form-control" value="">
                                    </div>-->

                                </div>
                                <div class="form-group row">
                                    <label for="" class="col-md-2 col-form-label">Recurring Amount</label>
                                    <div class="col-md-4">
                                        <input type="number" v-model="addClient.recurring_amount" class="form-control"
                                               value="">
                                    </div>
                                    <label for="" class="col-md-2 col-form-label">How Often?</label>
                                    <div class="col-md-4">
                                        <select class="form-control" v-model="addClient.recurring_way">
                                            <option value="weekly">Weekly</option>
                                            <option value="bi_weekly">Bi-weekly</option>
                                            <option value="monthly">Monthly</option>
                                        </select>
                                    </div>
                                </div>
                                <!--<div class="form-group row">
                                    <label for="" class="col-md-2 col-form-label">Website</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="addClient.work_website" class="form-control"
                                               value="">
                                    </div>
                                    <label for="" class="col-md-2 col-form-label">Work Email Address</label>
                                    <div class="col-md-4">
                                        <input type="email" v-model="addClient.work_email" class="form-control"
                                               value="">
                                    </div>
                                </div>-->

                                <!--<div class="form-group row">
                                    <label for="" class="col-md-2 col-form-label">Address</label>
                                    <div class="col-md-4">
                                        <textarea type="text" class="form-control"
                                                  v-model="addClient.work_address" placeholder="Address"></textarea>
                                    </div>
                                    <label for="" class="col-md-2 col-form-label">Notes</label>
                                    <div class="col-md-4">
                                        <textarea type="text" class="form-control"
                                                  v-model="addClient.notes" placeholder="Notes"></textarea>
                                    </div>
                                </div>-->

                                <div class="d-block text-right">
                                    <button type="reset" class="btn btn-light">Reset</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!--Client Add Modal End-->

            <!--Client View Details Modal Start-->
            <div class="modal fade bd-example-modal-lg" id="viewDetails" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-primary text-white font-weight-bold">
                            <!--<h5 class="modal-title" id="exampleModalLongTitle">View Details</h5>-->
                            <h5 class="modal-title" id="exampleModalLongTitle">Warning !</h5>
                            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div v-if="false" class="modal-body" v-for="clientDetails in show">
                            <h4 class="main-title p-2 bg-primary text-white rounded mb-1">Client Details</h4>
                            <div class="form-group row mb-0">
                                <strong class="col-4 col-form-label">Name</strong>
                                <span class="col-1 mt-2">:</span>
                                <span class="col-7 mt-2">{{ clientDetails.name }} </span>
                            </div>

                            <div class="form-group row mb-0">
                                <strong for="" class="col-4 col-form-label">Job Position</strong>
                                <span class="col-1 mt-2">:</span>
                                <span class="col-7 mt-2">{{ clientDetails.job_position }} </span>
                            </div>

                            <div class="form-group row mb-0">
                                <strong for="" class="col-4 col-form-label">Email</strong>
                                <span class="col-1 mt-2">:</span>
                                <span class="col-7 mt-2">{{ clientDetails.email }} </span>
                            </div>

                            <div class="form-group row mb-0">
                                <strong for="" class="col-4 col-form-label">Phone</strong>
                                <span class="col-1 mt-2">:</span>
                                <span class="col-7 mt-2">{{ clientDetails.phone }}</span>
                            </div>

                            <div class="form-group row mb-0">
                                <strong for="" class="col-4 col-form-label">Status</strong>
                                <span class="col-1 mt-2">:</span>
                                <span class="col-7 mt-2">{{ clientDetails.status }}</span>
                            </div>

                            <div class="form-group row mb-0">
                                <strong for="" class="col-4 col-form-label">Member Color</strong>
                                <span class="col-1 mt-2">:</span>
                                <span class="col-7 mt-2">{{ clientDetails.member_color }}</span>
                            </div>

                            <h4 class="main-title p-2 bg-primary text-white rounded mt-4 mb-1">Business Details</h4>
                            <div class="form-group row mb-0">
                                <strong for="" class="col-4 col-form-label">Company Name</strong>
                                <span class="col-1 mt-2">:</span>
                                <span class="col-7 mt-2">{{ clientDetails.company.name }}</span>
                            </div>

                            <div class="form-group row mb-0">
                                <strong for="" class="col-4 col-form-label">Work Phone</strong>
                                <span class="col-1 mt-2">:</span>
                                <span class="col-7 mt-2">{{ clientDetails.business_info.phone }}</span>
                            </div>

                            <div class="form-group row mb-0">
                                <strong for="" class="col-4 col-form-label">Website</strong>
                                <span class="col-1 mt-2">:</span>
                                <span class="col-7 mt-2">{{ clientDetails.business_info.website }}</span>
                            </div>

                            <div class="form-group row mb-0">
                                <strong for="" class="col-4 col-form-label">Work Email</strong>
                                <span class="col-1 mt-2">:</span>
                                <span class="col-7 mt-2">{{ clientDetails.business_info.email_address }}</span>
                            </div>

                            <div class="form-group row mb-0">
                                <strong for="" class="col-4 col-form-label">Address</strong>
                                <span class="col-1 mt-2">:</span>
                                <span class="col-7 mt-2">{{ clientDetails.business_info.address }} </span>
                            </div>

                            <div class="form-group row mb-0">
                                <strong for="" class="col-4 col-form-label">Notes</strong>
                                <span class="col-1 mt-2">:</span>
                                <span class="col-7 mt-2">{{ clientDetails.business_info.notes }} </span>
                            </div>
                        </div>
                        <div v-else>
                            <h4 class="px-3 py-5">Working On <strong class="text-warning">Debit Doctor</strong>...</h4>
                        </div>

                    </div>
                </div>
            </div>
            <!--Client View Details Modal Start-->

        </div>
    </div>
</template>
<script>
import {required, minLength, maxLength, alpha, email, sameAs} from 'vuelidate/lib/validators'
import * as moment from 'moment';
import Multiselect from 'vue-multiselect';
import 'vue-multiselect/dist/vue-multiselect.min.css';

export default {
    name: 'StaffClientIndex',
    components: {Multiselect},
    props: ['clients','staffs'],
    data() {
        return {
            allClients: {data:[]},
            allStaffUsers: JSON.parse(this.staffs),
            users: [],
            isLoading: false,
            addSubmit: false,

            offset: 3,
            this_page_min: 1,
            per_page_items: 3,
            this_page: 1,
            addClient: {
                name: '',
                email: '',
                phone: '',
                password: '',
                password_confirmation: '',
                job_position: '',
                status: '',
                company_name: '',
                trading_name: '',
                work_email: '',
                work_phone: '',
                work_website: '',
                work_address: '',
                notes: '',
                member_color: 'teal',
                recurring_amount: '',
                recurring_way: '',
                assigned_to: '',
            },

            sort: '',
            findBy: '',
            search: '',
            status: '',
            landing_page_status: '',
            campaign_status: '',

            client: [],
            colors: ['gray', 'red', 'orange', 'yellow', 'green', 'teal', 'blue', 'indigo', 'purple', 'pink'],
            show: [],
        }
    },
    validations: {
        addClient: {
            name: {
                required,
                minLength: minLength(4)
            },
            email: {
                required,
                email
            },
            phone: {
                required,
                minLength: minLength(8)
            },
            password: {
                required,
                minLength: minLength(6)
            },
            password_confirmation: {
                required,
                sameAsPassword: sameAs('password')

            },
            company_name: {
                required,
            },
            trading_name: {
                required,
            }
        }
    },
    mounted() {
        let clients = JSON.parse(this.clients)
        this.allClients = clients.data['on_boarding'] ? {data: clients.data['on_boarding']}:{data:[]};
    },
    methods: {
        getTotalAmount(val){
            let totalSum = 0;
            let res =  val.forEach(obj => {
                let objSum = parseFloat(obj.total_amount);
                totalSum += objSum;
            })
           return totalSum
        },
        getDaysDiff(date) {
            let given = moment(date, "YYYY-MM-DD");
            let current = moment().startOf('day');
            let result = moment.duration(current.diff(given)).asDays();
            return result == 1 ? result + ' day' : result + ' days';
        },
        changeStatusAndGetClients(status = '', landing_page_status = '', campaign_status = '') {
            this.landing_page_status = landing_page_status;
            this.status = status;
            this.campaign_status = campaign_status;
            this.getClients();
        },
        getUrl(id, direction = '') {
            return `${_.trim(window.location.href, '/')}/${id}/${direction}`;
        },
        getUsers() {
            axios.get('/staff/clients').then((response) => {
                    this.users = response.data;
                    //console.log(response.data)
                }, error => {
                    console.error(error)
                }
            )
        },
        getClients(page = 1) {
            this.isLoading = true;
            axios.get('/staff/client/getClients', {
                params: {
                    page: page,
                    items: this.per_page_items,
                    //sort: this.sort,
                    findBy: this.findBy,
                    search: this.search,
                    status: this.status,
                    landing_page_status: this.landing_page_status,
                    campaign_status: this.campaign_status
                }
            }).then((response) => {
                // console.log(response.data, response.data.data[this.landing_page_status], this.landing_page_status);
                this.allClients = response.data.data[this.landing_page_status] ? {data: response.data.data[this.landing_page_status]}:{data:[]};
                this.this_page = response.data.current_page;
                this.this_page_min = this.per_page_items * (this.this_page - 1) + 1;
            }).catch((error) => {
                console.error(error)
            }).finally(() => {
                this.isLoading = false;
            });
        },
        saveClient() {
            console.log(this.addClient);
            this.addSubmit = true;
            axios.post('/staff/client', this.addClient).then((response) => {
                this.$v.$touch();
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                }
                this.getClients();
                $('#addClient').modal('toggle');
                this.addSubmit = false;
                this.addClient = {
                    name: '',
                    email: '',
                    phone: '',
                    password: '',
                    job_position: '',
                    status: '',
                    company_name: '',
                    trading_name: '',
                    work_email: '',
                    work_phone: '',
                    work_website: '',
                    work_address: '',
                    notes: '',
                    member_color: 'teal',
                };
            }).catch((error) => {
                console.log(error)
            }).finally(() => {
                //this.addSubmit = false;
            });
        },
        viewDetails(id) {
            //console.log(id);
            const url = `/staff/client/` + id;
            axios.get(url).then(response => {
                this.show = response.data;
                console.log(this.show);
            }).catch(error => {
                console.log(error)
            })
        }
    }
}
</script>
