<template>
    <div id="dashboard" class="invoice">
        <div class="form-row filter-bar">
            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-white btn-block bg-white dropdown-toggle" type="button"
                            id="dropdownMenuButton1" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span class="text-primary font-weight-bolder">{{ filter.log }}</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" @click.prevent="filter.log = 'All Logs'" href="#">All
                            Logs</a>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-white btn-block bg-white dropdown-toggle" type="button"
                            id="dropdownMenuButton2" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Status: <span class="text-primary font-weight-bolder text-capitalize">{{ filter.status }}</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <a class="dropdown-item" @click.prevent="filter.status = 'all'; getLogs();"
                           href="#">All</a>
                        <a class="dropdown-item" @click.prevent="filter.status = 'completed'; getLogs();"
                           href="#">Completed</a>
                        <a class="dropdown-item" @click.prevent="filter.status = 'pending'; getLogs();" href="#">Pending</a>
                    </div>
                </div>
            </div>-->
            <div class="col-md-4">
                <div class="search-form">
                    <input type="text" placeholder="Search" v-model="filter.search" class="form-control">
                    <i data-feather="search" class="ml-3"></i>
                </div>

            </div>

            <div class="col-md-4 offset-md-2">
                <button class="btn btn-outline-primary bg-white text-primary float-right pl-5 pr-5"
                        @click="getLogs()">
                    <i class="fas fa-sliders-h fa-rotate-90"></i>
                    Filter
                </button>
            </div>
        </div>

        <div class="row position-relative">
            <div class="col-md-12 bg-white rounded table-responsive py-3 mb-0">
                <table class="table p-4 table-borderless table-rounded">
                    <thead>
                    <tr>
                        <th scope="col" class="text-nowrap">#</th>
                        <th scope="col" class="text-nowrap">URL</th>
                        <th scope="col" class="text-nowrap">IP Address</th>
                        <th scope="col" class="text-nowrap text-center">Date</th>
                        <th scope="col" class="text-nowrap text-center">Time</th>
                    </tr>
                    </thead>
                    <tbody v-if="allLogs && allLogs.data.length != 0" class="">
                    <tr v-for="(log, index) in allLogs.data">
                        <td scope="col" class="text-nowrap">{{ index + this_page_min }}</td>
                        <td scope="col" class="text-nowrap" v-html="getTableData(log.log_details.content, 'uri')"></td>
                        <td scope="col" class="text-nowrap">{{ getTableData(log.log_details.content, 'ip_address') }}</td>
                        <td scope="col" class="text-nowrap text-center">{{ log.log_details.created_at | dateFormat }}</td>
                        <td scope="col" class="text-nowrap text-center">{{ log.log_details.created_at | timeFormat }}</td>
                    </tr>
                    </tbody>
                    <tbody v-else class="">
                    <tr>
                        <td colspan="100%" class="p-0 rounded-0 mt-3">
                            <h4 class="alert alert-primary d-block text-center mb-0 text-primary">No Data</h4>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div v-if="allLogs.data.length > 0 && allLogs.last_page != 1"
                     class="d-flex justify-content-between mt-3">
                    <nav aria-label="Page navigation example" style="float: left">
                        <select name="" id="" @change="this_page_min = 1; this_page = 1; getLogs(this_page)"
                                v-model="per_page_items" class="form-control">
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </nav>

                    <!-- .pagination -->
                    <pagination class="mb-0" :data="allLogs" @pagination-change-page="getLogs"
                                :show-disabled="true" :limit="offset">
                        <span slot="prev-nav"><i class="fas fa-chevron-left"></i></span>
                        <span slot="next-nav"><i class="fas fa-chevron-right"></i></span>
                    </pagination><!-- /.pagination -->
                </div>

            </div>
            <div v-if="isLoading" class="loader w-100 h-100 position-absolute rounded">
                            <span role="status" class="spinner-border text-white mt-5">
                                <span class="sr-only">Text Centered</span>
                            </span>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['client_id', 'client_logs'],
    name: 'StaffClientLogs',
    data() {
        return {
            filter: {
                status: '',
                search: '',
                log: 'All Logs',
            },
            isLoading: false,

            allLogs: JSON.parse(this.client_logs),

            offset: 3,
            this_page_min: 1,
            per_page_items: 3,
            this_page: 1
        }
    },
    components: {},
    mounted() {},
    methods: {
        getTableData(content, key) {
            let thisContent = JSON.parse(content);
            let origin      = thisContent.headers.origin ? thisContent.headers.origin:window.location.origin;
            let tableData   = thisContent[key];

            if(key == 'uri') tableData = `<span class="text-muted">${origin}</span><strong>${thisContent[key]}</strong>`;

            return tableData;
        },
        getLogs(page=0) {
            this.isLoading = true;
            axios.get(`/staff/client/${this.client_id}/getLogs`, {
                params: {
                    page: page,
                    items: this.per_page_items,
                    search: this.filter.search,
                }
            })
            .then((response) => {
                this.allLogs = response.data;
            }).finally(() => {
                this.isLoading = false;
            });
        },
    },

    computed: {}

}
</script>
