<template>

    <div id="dashboard" class="invoice">
        <div class="row justify-content-between page-header">
            <div class="col-md-6">
                <h1 class="main-title">Agreements</h1>
            </div>
        </div>


        <div class="form-row filter-bar">
            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-white btn-block bg-white dropdown-toggle" type="button"
                            id="dropdownMenuButton1" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <span class="text-primary font-weight-bolder">{{ filter.agreement }}</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a class="dropdown-item" @click.prevent="filter.agreement = 'All Agreements'" href="#">All
                            Agreements</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-white btn-block bg-white dropdown-toggle" type="button"
                            id="dropdownMenuButton2" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Status: <span class="text-primary font-weight-bolder text-capitalize">{{ filter.status }}</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <a class="dropdown-item" @click.prevent="filter.status = 'all'; getAgreements();"
                           href="#">All</a>
                        <a class="dropdown-item" @click.prevent="filter.status = 'completed'; getAgreements();"
                           href="#">Completed</a>
                        <a class="dropdown-item" @click.prevent="filter.status = 'pending'; getAgreements();" href="#">Pending</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="search-form">
                    <input type="text" placeholder="Search" v-model="filter.search" class="form-control">
                    <i data-feather="search" class="ml-3"></i>
                </div>

            </div>

            <div class="col-md-4">
                <button class="btn btn-outline-primary bg-white text-primary float-right pl-5 pr-5"
                        @click="getAgreements()">
                    <i class="fas fa-sliders-h fa-rotate-90"></i>
                    Filter
                </button>
            </div>
        </div>

        <div class="row position-relative">
            <div class="col-md-12 bg-white rounded table-responsive py-3 mb-0">
                <table class="table p-4 table-borderless table-rounded">
                    <thead>
                    <tr>
                        <th scope="col" class="text-nowrap">#</th>
                        <th scope="col" class="text-nowrap">Business Name</th>
                        <th scope="col" class="text-nowrap">Name</th>
                        <th scope="col" class="text-nowrap">Email</th>
                        <!--                            <th scope="col" class="text-nowrap">Campaign</th>-->
                        <th scope="col" class="text-nowrap">Document Status</th>
                        <th scope="col" class="text-nowrap text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody v-if="allAgreements && allAgreements.data.length != 0" class="">
                    <tr v-for="(agreement, index) in allAgreements.data">
                        <td scope="col" class="text-nowrap">{{ index + this_page_min }}</td>
                        <td scope="col" class="text-nowrap">{{ agreement.company.name }}</td>
                        <td scope="col" class="text-nowrap">{{ agreement.user ? agreement.user.name : '' }}</td>
                        <td scope="col" class="text-nowrap">{{ agreement.user ? agreement.user.email : '' }}</td>
                        <!--                            <td scope="col" class="text-nowrap">{{ agreement.campaign ? agreement.campaign.name:'' }}</td>-->
                        <td scope="col" class="text-nowrap ">
                                <span class="badge badge-pill text-capitalize"
                                      :class="getFlag(agreement.document ? agreement.document.status:'')">
                                    <i class="fa fa-dot-circle fa-xs"></i>
                                    <span v-if="agreement.document"></span> {{ agreement.document.status ==='signed' ? 'Marked as Signed' : 'Pending' | replaceUnderscoreWithSpace }}</span>
                                </span>
                        </td>
                        <td scope="col" class="text-nowrap text-center">
                            <div v-if="agreement.document.status ==='signed'" class="btn btn-primary btn-sm" style="cursor: default">
                                <i class="fas fa-check"></i>
                            </div>
                            <div v-else class="btn btn-light btn-sm" @click="changeStatus(agreement.id)">
                                <i class="fas fa-check"></i>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <tbody v-else class="">
                    <tr>
                        <td colspan="100%" class="p-0 rounded-0 mt-3">
                            <h4 class="alert alert-primary d-block text-center mb-0 text-primary">No Data</h4>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div v-if="allAgreements.data.length > 0 && pagination.last_page != 1"
                     class="d-flex justify-content-between mt-3">
                    <nav aria-label="Page navigation example" style="float: left">
                        <select name="" id="" @change="this_page_min = 1; this_page = 1; getAgreements(this_page)"
                                v-model="per_page_items" class="form-control">
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </nav>

                    <!-- .pagination -->
                    <nav aria-label="...">
                        <ul class="pagination pagination justify-content-center mb-0">
                            <li class="page-item cursor-pointer" :class="{ disabled: pagination.current_page <= 1 }">
                                <a class="page-link"
                                   @click.prevent="changePage(pagination.current_page - 1); getAgreements(pagination.current_page)">
                                    <i class="fas fa-chevron-left"></i> </a>
                            </li>
                            <li class="page-item cursor-pointer" :class="isCurrentPage(1) ? 'active' : ''">
                                <a class="page-link" @click.prevent="changePage(1); getAgreements(1)">{{ '1' }}
                                    <span v-if="isCurrentPage(1)" class="sr-only">(current)</span>
                                </a>
                            </li>


                            <li v-if="leftDots_" class="page-item cursor-default disabled">
                                <a class="page-link" @click.prevent="">...</a>
                            </li>
                            <li class="page-item cursor-pointer" v-for="page in pages" :key="page"
                                :class="isCurrentPage(page) ? 'active' : ''">
                                <a class="page-link" @click.prevent="changePage(page); getAgreements(page)">{{ page }}
                                    <span v-if="isCurrentPage(page)" class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li v-if="rightDots_" class="page-item cursor-default disabled">
                                <a class="page-link" @click.prevent="">...</a>
                            </li>


                            <li class="page-item cursor-pointer"
                                :class="isCurrentPage(pagination.last_page) ? 'active' : ''">
                                <a class="page-link"
                                   @click.prevent="changePage(pagination.last_page); getAgreements(pagination.last_page)">{{
                                        pagination.last_page
                                    }}
                                    <span v-if="isCurrentPage(pagination.last_page)" class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="page-item cursor-pointer"
                                :class="{ disabled: pagination.current_page >= pagination.last_page }">
                                <a class="page-link"
                                   @click.prevent="changePage(pagination.current_page + 1); getAgreements(pagination.current_page)">
                                    <i class="fas fa-chevron-right"></i> </a>
                            </li>
                        </ul>
                    </nav><!-- /.pagination -->
                </div>

            </div>
            <div v-if="isLoading" class="loader w-100 h-100 position-absolute rounded">
                            <span role="status" class="spinner-border text-white mt-5">
                                <span class="sr-only">Text Centered</span>
                            </span>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'StaffAgreementsIndex',
    props: ['agreements'],
    data() {
        return {
            allAgreements: JSON.parse(this.agreements),
            pagination: JSON.parse(this.agreements),
            isLoading: false,

            offset: 3,
            leftDots_: false,
            rightDots_: false,
            this_page_min: 1,
            per_page_items: 10,
            this_page: 1,

            filter: {
                agreement: 'All Agreements',
                status: 'all',
                search: ''
            },


        }
    },

    mounted() {
        if (this.allAgreements.data.length > 0) {
            this.changePage(this.pagination.current_page);
        }
    },

    methods: {
        deleteAgreement(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    /*Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )*/
                    axios.delete(`/staff/agreement/${id}`)
                        .then((response) => {
                            toastr["success"]("Deleted Successfully!")

                            this.this_page_min = 1;
                            this.this_page = 1;

                            this.getAgreements(this.this_page);
                        }).catch((error) => {
                        toastr["error"](error.message)
                        console.log(error)
                    });
                }
            })
        },
        getAgreements(page = 0) {
            this.isLoading = true;
            axios.get('/staff/agreement/getAgreement', {
                params: {
                    page: page,
                    items: this.per_page_items,
                    agreement: this.filter.agreement,
                    status: this.filter.status == 'all' ? '' : this.filter.status,
                    search: this.filter.search,
                },
            }).then((response) => {
                this.allAgreements = response.data;
                this.pagination = response.data;
                this.this_page_min = this.per_page_items * (this.this_page - 1) + 1;
                this.changePage(this.pagination.current_page);
            }).catch((error) => {
                toastr["error"](error.message)
                console.log(error)
            }).finally(() => {
                this.isLoading = false;
            });
        },

        changeStatus(id){
            console.log(id)

            axios.post(`/staff/agreement/${id}`)
                .then((response) => {
                    toastr["success"]("Update Successfully!")
                   /* this.this_page_min = 1;
                    this.this_page = 1;*/
                    this.getAgreements(this.this_page);
                }).catch((error) => {
                toastr["error"](error.message)
                console.log(error)
            });
        },
        getFlag(status) {
            let badge = 'badge-primary';
            switch (status) {
                case "send":
                    badge = "badge-warning";
                    break;
                case "signed":
                    badge = "badge-success";
                    break;
                case "mark_as_signed":
                    badge = "badge-success";
                    break;
                default:
                    badge = "badge-danger";
            }
            return badge;
        },

        isCurrentPage(page) {
            return this.pagination.current_page === page
        },
        changePage(page) {
            if (page > this.pagination.last_page) {
                page = this.pagination.last_page;
            }
            this.pagination.current_page = page;
            this.this_page = page;

            if (this.offset >= page) this.leftDots_ = false;
            else this.leftDots_ = true;


            if (this.pagination.last_page - this.offset + 1 <= page) this.rightDots_ = false;
            else this.rightDots_ = true;


            if (this.pagination.last_page - 1 == this.offset) this.rightDots_ = false;

            // this.$emit('paginate');
        }
    },
    computed: {
        pages() {
            let pages = []
            let from = this.pagination.current_page - Math.floor(this.offset / 2)
            if (from < 1) {
                from = 1
            }
            let to = from + this.offset - 1

            if (to > this.pagination.last_page) {
                to = this.pagination.last_page
            }
            while (from <= to) {
                if (from > 1 && from < this.pagination.last_page) {
                    pages.push(from)
                }
                from++
            }

            return pages
        }
    }

}
</script>
