<template>
    <div class="staff" id="staff">
        <div class="row justify-content-between page-header">
            <div class="col-md-6">
                <h1 class="main-title">Users</h1>
            </div>
        </div>
        <div class="form-row filter-bar">

            <!-- <div class="col-md-2">
                <button class="btn btn-primary btn-block" data-toggle="modal" data-target=".bd-example-modal-lg">+ New
                    Staff
                </button>
            </div> -->
            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-white btn-block bg-white dropdown-toggle" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        Filter By : <span class="text-primary font-weight-bolder" id="ordering" style="text-transform: capitalize;">{{ filter.status }}</span>
                    </button>
                    <input type="hidden" id="sort" name="sort" value="all">
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownMenuList">
                        <a class="dropdown-item" href="#" @click.prevent="filter.status = 'all'; getResults();">All</a>
                        <a class="dropdown-item" href="#" @click.prevent="filter.status = 'staff'; getResults();">Staff</a>
                        <a class="dropdown-item" href="#" @click.prevent="filter.status = 'admin'; getResults();">Admin</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="search-form">
                    <input type="text" id="staffSearchBar" placeholder="Search" v-model="filter.search" class="form-control">
                    <i data-feather="search" class="ml-3"></i>
                </div>

            </div>

            <div class="col-md-6">
                <button class="btn btn-outline-primary bg-white text-primary float-right pl-5 pr-5" @click="getResults()">
                    <i class="fas fa-sliders-h fa-rotate-90"></i>
                    Filter
                </button>
            </div>
        </div>
        <div class="row position-relative">
            <div class="col-md-12 bg-white rounded table-responsive mb-0">
                <table class="table p-4 table-borderless table-rounded my-3">
                    <thead>
                        <tr>
                            <th scope="col" class="text-nowrap">#</th>
                            <th scope="col" class="text-nowrap">Name</th>
                            <th scope="col" class="text-nowrap">Email</th>
                            <th scope="col" class="text-nowrap text-center">User Type</th>
                            <th scope="col" class="text-nowrap text-center"></th>
                        </tr>
                    </thead>
                    <tbody v-if="allStaff && allStaff.data.length != 0" class="">
                        <tr v-for="(staff, index) in allStaff.data">
                            <td scope="col" class="text-nowrap">{{ index + this_page_min }}</td>
                            <td scope="col" class="text-nowrap">{{ staff.name }}</td>
                            <td scope="col" class="text-nowrap">{{ staff.email }}</td>
                            <td scope="col" class="text-nowrap text-center text-capitalize">{{ staff.type }}</td>
                            <td scope="col" class="text-nowrap text-center text-capitalize">

                                <b-button @click="thisStaff = staff; getEditStaff(staff)" v-b-modal.modal-edit variant="primary" class="btn btn-primary btn-sm" title="Edit">
                                    <i class="fa fa-pencil"></i>
                                </b-button>
                                <b-button @click="thisStaff = staff; userRoutes = []; getRoutes()" v-b-modal.modal-permission variant="danger" class="btn btn-danger btn-sm" title="Permission">
                                    <i class="fa fa-diamond"></i>
                                </b-button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody v-else class="">
                        <tr>
                            <td colspan="100%" class="p-0 rounded-0 mt-3">
                                <h4 class="alert alert-primary d-block text-center mb-0 text-primary">No Data</h4>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!--Staff Edit Start-->
                <b-modal id="modal-edit" size="md" var hide-footer title="Edit User" header-class="bg-primary text-white">
                    <form @submit.prevent="updateUser()">
                        <div class="form-group row">
                            <div class="col-4">
                                Name
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" v-model="editStaff.name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                Username
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" v-model="editStaff.username">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                Phone
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" v-model="editStaff.phone">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                Email
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" v-model="editStaff.email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                Type
                            </div>
                            <div class="col-8">
                                <select class="form-control" v-model="editStaff.type">
                                    <option value="staff" class="text-capitalize">staff</option>
                                    <option value="admin" class="text-capitalize">admin</option>
                                    <option value="customer" class="text-capitalize">customer</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                Member Color
                            </div>
                            <div class="col-8">
                                <select class="form-control" v-model="editStaff.member_color"
                                        id="exampleInputEmail1" :style="'color:'+editStaff.member_color">
                                    <option value="">Select Color</option>
                                    <option :value="color" v-for="color in colors" class="text-capitalize"
                                            :style="'color:'+color">{{ color }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                Status
                            </div>
                            <div class="col-8">
                                <select class="form-control" v-model="editStaff.status">
                                    <option value="new" class="text-capitalize">new</option>
                                    <option value="recurring" class="text-capitalize">recurring</option>
                                    <option value="gold" class="text-capitalize">gold</option>
                                    <option value="lost" class="text-capitalize">lost</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                No of Leave
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" v-model="editStaff.no_of_leave">
                            </div>
                        </div>
                        <!--<div class="form-group row">
                            <div class="col-4">
                                Rights
                            </div>
                            <div class="col-8">
                                <textarea rows="5" class="form-control" v-model="editStaff.rights"></textarea>
                            </div>
                        </div>-->

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                    <!--<pre>{{thisStaff}}</pre>-->
                </b-modal>
                <!--Staff Edit End-->

                <!--Staff Permission Start-->
                <b-modal id="modal-permission" size="md" var hide-footer title="Permission" header-class="bg-primary text-white">
                    <label class="form-label w-100 h5 cursor-pointer" :for="`check-${index}`" v-for="(route, index) in allRoutes" :key="index">
                        <input @change="changePermission(index)" type="checkbox" :checked="isChecked(route, index)" style="transform: scale3d(1.5, 1.5, 1.5);" :id="`check-${index}`"> {{ route.name }}
                    </label>

                    <div class="w-100">
                        <button @click="saveRoutesPermission()" type="button" class="btn btn-primary float-right">Save</button>
                    </div>
                </b-modal>
                <!--Staff Permission End-->

                <div v-if="allStaff.data.length > 0 && allStaff.last_page != 1" class="d-flex justify-content-between">
                    <nav aria-label="Page navigation example" style="float: left">
                        <select name="" id="" @change="this_page_min = 1; this_page = 1; getResults(this_page)" v-model="per_page_items" class="form-control">
                            <option value="1">1</option>
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </nav>

                    <pagination :data="allStaff" @pagination-change-page="getResults" :show-disabled="true" :limit="offset" >
                        <span slot="prev-nav"><i class="fas fa-chevron-left"></i></span>
                        <span slot="next-nav"><i class="fas fa-chevron-right"></i></span>
                    </pagination>
                </div>
            </div>
            <div v-if="isLoading" class="loader w-100 h-100 position-absolute rounded">
                <span role="status" class="spinner-border text-white mt-5">
                    <span class="sr-only">Text Centered</span>
                </span>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'StaffTaskIndex',
        props: ['staff'],
        data() {
            return {
                allStaff  : JSON.parse(this.staff),
                isLoading : false,

                thisStaff : {},
                allRoutes : [],
                userRoutes : [],
                editStaff : {},

                colors: ['gray', 'red', 'orange', 'yellow', 'green', 'teal', 'blue', 'indigo', 'purple', 'pink'],

                offset            : 3,
                this_page_min     : 1,
                per_page_items    : 3,
                this_page	      : 1,

                filter            : {
                    status: 'all',
                    search: ''
                },
            }
        },
        methods: {
            isChecked(route, index){
                let found = false;
                this.userRoutes.filter((element)=>{
                    if(element.route_id == route.id) found = true;
                })
                return found;
            },
            changePermission(index){
                let thisRouteFound = false;
                let thisRoute      = this.allRoutes[index];
                let aRoute         = {
                    user_id: this.thisStaff.id,
                    route_id: thisRoute.id
                };

                this.userRoutes.filter((element) => { if(element.route_id == thisRoute.id) thisRouteFound = true; })

                if(!thisRouteFound) this.userRoutes.push(aRoute);
                else _.remove(this.userRoutes, aRoute);
            },
            saveRoutesPermission(){
                axios.post(`/staff/my-staff/saveRoutesPermission/${this.thisStaff.id}`, this.userRoutes)
                .then(response => {
                    toastr["success"]("Permission Saved!")
                    this.$bvModal.hide('modal-permission')
                    this.userRoutes = [];
                }).catch((error)=>{
                    toastr["error"](error.message)
                    console.error(error);
                });

            },
            getRoutes(){
                let id = this.thisStaff.id ? this.thisStaff.id:0
                axios.get(`/staff/my-staff/getRoutes/${id}`)
                .then(response => {
                    this.allRoutes = response.data.routes;
                    this.userRoutes = response.data.userRoutes;
                }).catch((error)=>{
                    toastr["error"](error.message)
                    console.error(error);
                });

            },
            getEditStaff(staff){
                this.editStaff = Object.assign({}, staff);
            },
            updateUser() {
                axios.post(`/staff/my-staff/updateMyStaff/${this.thisStaff.id}`,
                    this.editStaff
                ).then(response => {
                    this.getResults(this.this_page);
                    toastr["success"]("Update Successfully!")
                    this.$bvModal.hide('modal-edit')
                }).catch((error)=>{
                    toastr["error"](error.message)
                    console.error(error);
                });
            },
            getResults(page = 1) {
                console.log(page)
                this.isLoading = true;
                axios.get('/staff/my-staff/getMyStaff', {
                    params: {
                        page: page,
                        items: this.per_page_items,
                        status: this.filter.status == 'all' ? '': this.filter.status ,
                        search: this.filter.search,
                    }
                }).then(response => {
                    this.allStaff = response.data;
                    this.this_page = response.data.current_page
                    this.this_page_min = this.per_page_items * (this.this_page - 1) + 1;
                }).catch((error)=>{
                    console.error(error);
                }).finally(() => {
                    this.isLoading = false;
                });
            }
        },

        mounted() {
            this.getRoutes();
        },
    }
</script>
